
#courses .topicButton
  padding: 8px 0
  border: 1px solid rgba(248, 168, 0, 0)
  cursor: pointer
  transition: 0.3s ease-out
  text-align: center
  flex-grow: 1

#courses .topicButton a
  font-size: calc(14rem / 16)
  color: black
  font-family: Roboto, sans-serif
  width: 100%
  text-align: center
  position: relative
  border: 1px solid rgba(0, 0, 0, 0)
  box-sizing: border-box
#courses .topicButton:not(.active):hover a::before
  position: absolute
  width: 100%
  background-color: #F8A800
  height: 1px
  content: ""
  left: 0
  bottom: 0
#courses .topicButton.active
  border: 1px solid #F8A800

#courses .container:first-child
  margin-bottom: 3rem
#courses .container:first-child .row.cards-row
  display: flex
  align-items: center
  padding: 0 15px
#courses .container:last-child .row.cards-row .col-sm-6.col-md-4.col-lg-3
  animation: appearing 1s ease-out
  animation-play-state: running

#courses .topicButton + #courses .topicButton
  margin-left: 0.5rem  

@keyframes appearing
  0%
    opacity: 0
    transform: scale(0.9)
  100%
    opacity: 1
    transform: scale(1)
