// footer
@import "neat/grid/media";
@import "base/base";
@import "bourbon/bourbon";
@import "neat/neat";

#page_footer {
  width: 100vw;
  background-color: #212121;
  color: #fff;
  padding: 50px 0;

  .container {
    width: auto;
  }

  .col {
    margin: 0;
    // float: left;
    box-sizing: border-box;

    @include media($mobile) {
      @include row;
      padding: 0 30px;
    }

    @include media($tablet) {
      // @include span-columns(6 of 12);
      // padding: 0 30px;

      // &:nth-child(2n) {
      //   @include omega;
      // }

      @include span-columns(3 of 12);
      padding: 0 10px;
    }

    @include media($desktop) {
      @include span-columns(3 of 12);
      padding: 0 10px;
    }

    .col2 {
      // margin-left: 30px;
    }

    .footer_logo {
      width: 100px;
      display: block;
      margin: 0 0 20px;

      &+p {
        // width: 240px;
        margin-top: 20px;
      }
    }

    p, li {
      font-size: 12px;
      line-height: 17px;
      color: #eee;
      // width: 240px;
      margin-top: 0;
    }

    ul {
      margin: 8px 0;
      padding: 0;
      display: block;

      li {
        margin: 0 0 0 10px;
        padding: 0;
        display: block;

        &+li {
          margin-top: 8px;
        }
      }


      &+p {
        margin-top: 17px;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,0.2);

      &:hover {
        border-bottom: 1px solid rgba(255,255,255,0.8);
      }
    }
  }

  .footer_menu_links {
    margin-top: 0 !important;

    li {
      margin-left: 0 !important;

      &.login {
        margin-top: 16px;
      }
    }
  }
  .copy {
    position: absolute;
    bottom: 0;

    @include media($mobile) {
      position: relative;
    }
  }
}

.mh {
  @include media($mobile) {
    display: none !important;
  }
}



// Social Buttons Styles

$basic-dark-color: #212121;
$basic-light-color: #fff;
$border-radius: 50%;
$font-size: 25px;

.effect {
  width: 100%;
  background-color: $basic-dark-color;
  
  &:nth-child(2n+1) {
    background-color: $basic-dark-color;
  }
  
  &:nth-child(2n) {
    
     a {
      color: $basic-light-color;
      border-color: $basic-light-color;
    }
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

.effect {
  display: flex;
  a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    margin-right: 20px;
    font-size: $font-size;
    overflow: hidden;
    position: relative;
    color: $basic-light-color; 
    border: 2px solid $basic-light-color!important; 
    
    i {
      position: relative;
      z-index: 3;
    }
    
    &:last-child {
      margin-right: 0px;
    }
    
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.effect.varrius {
  
  a {
    transition: all 0.2s linear 0s;
    
    &:after {
      content: "";
      display: block;
      width: 90%;
      height: 90%;
      top: -110%;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      background-color: $basic-light-color;
      border-radius: $border-radius;
    }
    
    &:hover {
      color: $basic-dark-color!important;
      
      &:after {
        top: 5%;
        transition: all 0.2s linear 0s;
      }
    }
  }
}

.leftimg {
  width: 94px;
  float: left;
  margin: 7px 7px 7px 0;
}

#page_footer a {
  color: #EFA72D;
  text-decoration: none!important;
}
#page_footer li {
  margin-bottom: 0.75em;
}
#page_footer a i {
  color: white!important;
}

#page_footer a:hover i {
  color: #212121!important;
}
#page_footer {
  font-size:14px;
}
.effect {
  padding-top: 0px;
  margin-top: 0px;
}
.footer {
  background-color: #212121;
}
// END of Social Buttons Styles