
.lzv-cover {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.lzv-cover.header-image {
  height: 300px;
  background-image: url('/img/lzv-rights/Header.png');
}

.lzv-cover.discrimination-image {
  height: 300px;
  background-image: url('/img/lzv-rights/HEAD/1.jpg');
}

.lzv-cover.medical-image {
  height: 300px;
  background-image: url('/img/lzv-rights/HEAD/2.jpg');
}

.lzv-cover.family-image {
  height: 300px;
  background-image: url('/img/lzv-rights/HEAD/3.jpg');
}

.lzv-cover.social-image {
  height: 300px;
  background-image: url('/img/lzv-rights/HEAD/4.jpg');
}

.lzv-cover.police-image {
  height: 300px;
  background-image: url('/img/lzv-rights/HEAD/5.jpg');
}

.lzv-cover.protection-image {
  height: 300px;
  background-image: url('/img/lzv-rights/HEAD/6.jpg');
}

.lzv-cover .lzv-heading-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 60px;
  max-width: 1200px !important;
  width: 100%;
  height: 300px;
}

.lzv-cover .lzv-heading-container .lzv-heading {
  position: relative;
  left: 20px;
  top: 50%;
  max-width: 520px;
  transform: translateY(-50%);
  text-align: left;
}

.lzv-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 60px;
  max-width: 1200px !important;
  width: 100%;
}

.lzv-container .lzv-items {
  display: flex;
  padding: 20px 20px;
}

.lzv-container .lzv-items .lzv-image {
  opacity: 0.5;
}

.lzv-container .lzv-items .lzv-item {
  flex: 1 0 0;
  margin: 20px 20px;
}

.lzv-grey-container {
  background-color: #fafafa;
}

.lzv-video {
  height: 452.5px;
  max-width: 900px;
}

.h1-lzv {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 600;
    color: #fff!important;
    font-size: 56px;
    line-height: 1.23;
    background-color: #BF3B41;
    padding: 9px 16px 10px;
    display: inline-block;
}

.h2-lzv {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    color: #000;
}

p.lzv-main {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.55;"
}

p.card-descr {
    margin-top: 10px;
    font-size:20px;
    font-weight: 600;
}

p.icon-descr {
    font-size: 17px;
}

.lzv-bold {
    font-weight: 600;
}

section.google_form > a {
    font-weight: 700;
}

.t-heading {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000;
}
.t-descr {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 20px;
}

.partners_list li a img {
    max-height: 85px!important;
}


/*

    QUIZ

*/

.quiz_button{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    background: #65B2E1;
    border: 1px solid #9EC7E1;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    width: 180px;
    height: 48px;
    cursor: pointer;
    display: block; 
    outline: none;
}
.quiz_button.disabled{
    background-color: #E4ECF2;
    border:none;
}
.quiz_button:hover{
    background:#4797C7;
}
.quiz_button.disabled:hover{
    background-color: #E4ECF2;
}
.quiz_container{
    padding: 40px;
    margin: auto;
    font-family: Roboto;
}
.quiz_container h2{
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    color: #3B3B3B;
}
.quiz_container p{
    line-height: 24px;
    font-size: 18px;
    color: #323232;
    text-align: left;
}
.quiz_container.background{
    color:#fff!important;
    background-image: url(http://s2.travelask.ru/system/images/files/000/340/244/wysiwyg/1.jpg?1502709053);
    background-size: cover;
}
.quiz_container.background p, .quiz_container.background h2{
    color:#fff;
}
.quiz_container.background .quiz_button{
    border:none;
}
.quiz_container.intro .quiz_button, .quiz_container.result .quiz_button{
    margin: 30px 0 0 0;
}
.quiz_button{
    margin:40px 0 0 0;
}
.quiz_container.result h2{
    font-size: 48px;
    margin: 10px 0 15px 0;
}
.quiz_container.result h5{
    text-align: left;
    color:#A6A6A6;
    font-weight: bold;
    font-size: 12px;
    margin:0;
}
.quiz_progess{
    line-height: 20px;
    font-size: 14px;
    color:#999999;
}
.quiz_progess span{
    font-weight: bold;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #3B3B3B;
}
.quiz_question h3{
    font-weight: bold;
    font-size: 22px;
    margin:18px 0 6px 0;
    color: #3B3B3B;
}
.quiz_question p{
    font-weight: normal;
    line-height: 18px;
    font-size: 14px;
    margin:0;
    color: #999999;
}
.quiz_question img{
    max-width: 100%;
    margin:20px 0 5px 0;
}
.quiz_answers{
    margin: 20px 0 0 0;
}
.quiz_answer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 0 12px 0;
}
.quiz_answer button.quiz_radiobutton{
    width: 24px;
    height: 24px;
    padding: 0px;
    border-radius: 50%;
    border:2px solid #65B2E1;
    flex-shrink: 0;
    background-color: #fff; 
    cursor: pointer;
    position: relative;
    outline: none;
}
.quiz_answer button.quiz_radiobutton.chose:before{
    content: "";
    width: 12px;
    height:12px;
    background-color: #65B2E1;;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius:50%;
}
.quiz_answer button.checkbox{
    width: 24px;
    height: 24px;
    padding: 0px;
    border-radius: 4px;
    border:2px solid #65B2E1;
    flex-shrink: 0;
    background-color: #fff; 
    cursor: pointer;
    position: relative;
    outline: none;
}
.quiz_answer button.checkbox.chose:before{
    content: "";
    width: 16px;
    height:11px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius:50%;
}
.quiz_answer button.checkbox svg{
    position: absolute;
    top: 4px;
    left: 2px;
}
.quiz_answer button:hover{
    background-color: #D9F1FF; 
}
.quiz_answer button.chose:hover{
    background-color: #fff;
}
.quiz_answer p{
    line-height: 24px;
    font-size: 18px;
    margin:0px;
    color: #3B3B3B;
}
.quiz_answer img{
    max-height: 144px;
    min-height: 144px;
    margin: 4px 0 8px 0;
}
.quiz_answer .quiz_hint{
    line-height: 18px;
    font-size: 12px;
    width: 80%;
}
.quiz_answer .quiz_hint.false{
    color: #E4404A;
}
.quiz_answer .quiz_hint.true{
    color: #359215;
}
.quiz_main_hint{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    margin: 4px 0 0 0;
    background-color: #E7F6FF;
    border-radius: 4px; 
}
.quiz_container.quiz .quiz_main_hint .quiz_button{
    flex-shrink: 0;
    margin: 0 0 0 0;
}
.quiz_main_hint p{
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 12px;
    margin: 0 0 0 24px;
}
.quiz_main_hint p span.false{
    color:#E4404A;
    font-weight: bold;
}
.quiz_main_hint p span.true{
    color:#359215;
    font-weight: bold;
}
.quiz_main_hint p a{
    color: #65B2E1;
    text-decoration: none;
}
.quiz_margin_left{
    margin: 0 0 0 12px;
    width: 100%;
}
@media screen and (min-width: 900px){
    .lzv-container.quiz_container_big{
        max-width: 900px!important;
    }
}
.quiz_container{
    margin: 20px 0 0 0;
    padding: 20px 0 20px 0px;
    max-width: 750px;
}

.quiz_main_hint {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    margin: 24px 0 0 -20px;
    background-color: #e7f6ff59;
    border-radius: 4px;

}
.quiz_answer button.quiz_radiobutton.chose:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #65B2E1;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
}


.t-text.t-text_md span{
    font-weight:600;
}

ul.partners_list.new{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul.partners_list.new li a img {
    max-height: 100px;
}

ul.partners_list.new li {
        width: 21%
    }

