@import "base/grid-settings";
@import "neat/neat";


abbr {
	border: 0 !important;
	text-decoration: none;
}

#welcome .container{
	padding: 0!important;
	padding-left: 0!important;
}

.section.heading {
	background-image: url("../img/bg_main.jpg");
	background-size: cover;
	background-position: center;
	color: #fff;
	position: relative;

	@include media($mobile) {
		padding: 100px 0 50px;
		text-align: center;
	}

	@include media($tablet) {
		padding: 120px 0 50px;
		text-align: center;
	}

	@include media($desktop) {
		padding: 160px 0 100px;
		text-align: center;
	}

	&:after {
		display: block;
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		pointer-events: none;
	}

	&.library {
		background-image: url("../img/bg_library.jpg");
	}

	&.mon{
		background-image: url("../img/bg_mon.jpg");
	}

	&.mon59{
		background-image: url("../img/bg_mon59.jpg");
	}

	&.royz{
		background-image: url("../img/bg_royz.jpg");
	}

	&.mon-nature{
		background-image: url("../img/bg_mon_nature.jpg");
	}

	&.unicef{
		background-image: url("../img/unicef/sdg_bg.jpg");
	}

	&.mun{
		background-image: url("../img/cases/mun_bg.jpg");
	}

	&.lesson1{
		background-image: url("../img/unicef/sdg_bg.jpg");
	}

	&.edera-talent{
		background-image: url("../img/_bg_talents.jpg");
	}

	&.antucorruption-lesson {
		//background-color: rgb(46, 47, 50);
		background-image: url("../img/anticorr.jpg");
		& > .container > h1 > span {
			color: black;
		}
		& > .container > h1 > small {
			color: black;
		}
		& > .container > h2 {
			color: black;
		}

	}

	&.blended {
		background-image: url("../img/bg_blended.jpg");
	}

	&.fablab {
		//background-color: rgb(46, 47, 50);
		background-image: url("../img/bg_making.jpg");
	}

	&.anticorruption-game {
		background-image: url("../img/bg_anticorr_game.jpg");
		min-height: 900px;
	}

	h1 {
		position: relative;
		text-align: left;
		margin: 0;
		z-index: 2;
		display: block;
		margin-top: 70px;
		font-size: 40px;
		font-weight: 400;
		text-transform: none;
		@include media($desktop) {
			width: 60%;
		}

		.exo {
			font-family: "Roboto", "Open Sans";
		}

		.text {
			font-family: "Roboto", "Open Sans";
			font-size:18px;
			padding:24px 0 12px 0;
			
		}

		small {
			display: block;
			margin-top: 15px;
			text-transform: uppercase;
			font-size: rem(16pt);
			letter-spacing: 0.1em;
		}
	}

	h2 {
		position: relative;
		text-align: left;
		z-index: 2;
		margin-top: 15px;
		font-weight: 400;
		text-transform: none;
		display: block;
		text-transform: uppercase;
		font-size: rem(12pt);
		letter-spacing: 0.1em;

		@include media($desktop) {
			width: 70%;
		}
	}
}

h2, .h2 {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 40px;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 auto 50px;
}

.response, .mce_inline_error {
	clear: both !important;
	text-align: center !important;
}

.video-in-text {
	@include row;

	margin: 0 auto;
	width: 75%;

	@include media($desktop) {
		width: 40%;
	}
}


section,
.section {
	@include row;

	@include media($mobile) {
		padding: 20px 0;
	}

	@include media($tablet) {
		padding: 40px 0;
	}

	@include media($desktop) {
		padding: 60px 0;
	}

	&+section {
		border-top: 1px solid rgba(0,0,0,0.05);
	}

	.container {
		@include outer-container;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.program-analysis {
	    padding-left: 60px;
	    & ul {
	    	list-style-type: disc;
	    	color: #477dca;
	    }
	}
}

// ABOUT

article.about {
	margin: 100px auto 0;
	text-align: left;
	// text-align: justify;
}

.lead_block{
	.lead {
		@include media($mobile) {
			// @include span-columns(8 of 10);
			// @include shift(1 of 10);

			font-size: 16px;
			line-height: 24px;
		}

		@include media($tablet) {
			@include span-columns(8);

			font-size: 17px;
			line-height: 28px;
		}

		@include media($desktop) {
			@include span-columns(10);

			font-size: 18px;
			line-height: 30px;
		}
	}
}


// GALLERY
.image-source-link {
	color: #98C3D1;
}

figure.thumbnail {
	margin: 0;
    display: inline-block;
    & > a > img {
    	height: 125px;
    	width: auto;
    	transition: all 0.1s linear;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

		&:hover {
			box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
		}
	}

}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.1s ease-out; 
	-moz-transition: all 0.1s ease-out; 
	-o-transition: all 0.1s ease-out; 
	transition: all 0.1s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.9;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

// PROJECT FEATURES
.project_features {
	li {
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		list-style-type: none;
		font-size: 16px;
		margin-bottom: 10px;

		&:before {
			display: block;
			content: "✓";
			position: absolute;
			/*width: 25px;
			height: 25px;*/
			left: -20px;
		}
	}
	
	.video_block, .lead_block {
		margin: 0;
		padding: 0;

		@include media($mobile) {
			// margin: 0;
			@include row;
		}

		@include media($tablet) {
			// margin: 1em 40px;
			@include span-columns(4 of 8);
		}

		@include media($desktop) {
			// margin: 1em 40px;
			@include span-columns(6 of 10);
		}
	}

	.video {
		height: 0;
		background-color: #eee;
		position: relative;
		padding-bottom: 56.2%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		// @include media($mobile) {
		//   // @include row;
		//   padding-bottom: 52%;
		// }

		// @include media($tablet) {
		//   // @include row;
		//   padding-bottom: 52%;
		// }

		// @include media($desktop) {
		//   // @include span-columns(4 of 10);
		//   padding-bottom: 50%;
		// }

		.play {
			width: 50px;
			height:50px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			border-radius: 100%;
			background-image: url("../img/play@2x.png");
			background-size: 50px;
			background-repeat: no-repeat;
		}

		&:hover {
			.play{
				opacity: 0.8;
			}
		}
	}
}



// ACHTUNG

.ahtung {
	position: relative;
	text-align: center;
	&:before {
		display: block;
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url("../img/pattern.jpg");
		background-repeat: repeat;
		background-position: center;
		background-size: 400px;
		opacity: 0.05;
	}

	.title  {
		font-weight: bold;

		@include media($mobile) {
			font-size: 1.3em;
		}


		@include media($tablet) {
			font-size: 1.5em;
		}

		@include media($desktop) {
			font-size: 1.5em;
		}
	}

	.button {
		text-transform: none;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.05em;
		margin-top: 20px;
	}
}



// BOOKS

.bookshelf {
	@include outer-container(12);
	@include row;

	.book {
		@include inline-block;

		@include media($mobile) {
			@include span-columns(8);
			@include row;

			margin-bottom: 20px;
		}

		@include media($tablet) {
			@include span-columns(6 of 12);

			&:nth-child(2n) {
				@include omega;
			}
		}

		@include media($desktop) {
			@include span-columns(4 of 12);
					max-height: 530px;

			&:nth-child(3n) {
				@include omega;
			}
		}


		figure {
			@include media($mobile) {
				text-align: left;
				padding: 1em 0;
				margin: 0;

				img {
					@include span-columns(4 of 8);
					width: 50%;
				}

				figcaption {
				}

				h3 {
					text-align: left;

					small:before {
						left: 53.5%;
					}
				}
			}


			@include media($tablet) {
				text-align: center;
				padding: 1em 0px;

				img {
					@include inline-block;
					width: auto;
					background-color: #eee;
					box-shadow: 0 1px 2px rgba(0,0,0,.4);
				}

				.cases {

					background-color: transparent!important;
					box-shadow: 0 0 0 rgba(0,0,0,.4)!important;
				}

				figcaption {
					margin-top: 10px;
					height: 100px;
				}

				h3 {
					text-align: center;

					small:before {
						margin-left: -35px;
						left: 50%;
					}
				}
			}

			@include media($desktop) {
				text-align: center;
				padding: 1em 20px;

				img {
					@include inline-block;
					width: auto;
					background-color: #eee;
					box-shadow: 0 1px 2px rgba(0,0,0,.4);
				}

				.cases {
					background-color: transparent!important;
					box-shadow: 0 0 0 rgba(0,0,0,.4)!important;
				}

				figcaption {
					margin-top: 10px;
					height: 100px;
				}

				h3 {
					text-align: center;

					small:before {
						margin-left: -35px;
						left: 50%;
					}
				}
			}



			h3 {
				display: block;

				small {
					display: block;
					position: relative;
					margin-top: 20px;

					&:before {
						display: block;
						text-align: center;
						content: " ";
						position: absolute;
						top: -10px;
						width: 70px;
						height: 1px;
						background-color: #eee;
					}
				}
			}
		}
	}
}


// MON


.bookshelf-mon-nature {
	@include outer-container(12);
	@include row;

	.book {
		@include inline-block;
		@include media($mobile) {
			@include span-columns(8);
			@include row;
			margin-bottom: 20px;
		}

		@include media($tablet) {
			@include span-columns(6 of 12);

			&:nth-child(2n) {
				@include omega;
			}
		}

		@include media($desktop) {
			@include span-columns(3 of 12);

			&:nth-child(4n) {
				@include omega;
			}
		}

		figure {
			@include media($mobile) {
				text-align: left;
				padding: 1em 0;
				margin: 0;

				img {
					@include span-columns(4 of 8);
					width: 50%;
				}

				h3 {
					text-align: left;

					small:before {
						left: 53.5%;
					}
				}
			}


			@include media($tablet) {
				text-align: center;
				padding: 1em 0px;

				img {
					@include inline-block;
					width: auto;
					background-color: #eee;
					box-shadow: 0 1px 2px rgba(0,0,0,.4);
				}

				figcaption {
					margin-top: 10px;
					height: 100px;
				}

				h3 {
					text-align: center;

					small:before {
						margin-left: -35px;
						left: 50%;
					}
				}
			}

			@include media($desktop) {
				text-align: center;
				padding-top: 1em;

				img {
					@include inline-block;
					width: auto;
					background-color: #eee;
					box-shadow: 0 1px 2px rgba(0,0,0,.4);
				}

				figcaption {
					margin-top: 10px;
					height: 100px;
				}

				h3 {
					text-align: center;

					small:before {
						margin-left: -35px;
						left: 50%;
					}
				}
			}



			h3 {
				display: block;
				font-size: 1em;

				small {
					display: block;
					position: relative;
					margin-top: 20px;

					&:before {
						display: block;
						text-align: center;
						content: " ";
						position: absolute;
						top: -10px;
						width: 70px;
						height: 1px;
						background-color: #eee;
					}
				}
			}
		}
	}
}


.mon_subject {
	@include outer-container(12);
	@include row;

	h3.mon_title {
		font-weight: 400;
		text-transform: uppercase;
		margin: 0 3em;
	}

	.program {
		@include inline-block;

		@include media($mobile) {
			@include span-columns(8);
			@include row;

			margin-bottom: 20px;
		}

		@include media($tablet) {
			@include span-columns(6 of 12);
			@include shift(3);

			&:nth-child(2n) {
				@include omega;
			}
		}

		@include media($desktop) {
			@include span-columns(4 of 12);
					max-height: 530px;

			&:nth-child(3n) {
				@include omega;
			}
		}

		figure {
			@include media($mobile) {
				text-align: left;
				padding: 1em 0;
				margin: 0;

				img {
					@include span-columns(4 of 8);
					width: 50%;
				}

				figcaption {
				}

				h3 {
					text-align: left;

					small:before {
						left: 53.5%;
					}
				}
			}


			@include media($tablet) {
				text-align: center;
				padding: 1em 0px;

				img {
					@include inline-block;
					width: auto;
					background-color: #eee;
					box-shadow: 0 1px 2px rgba(0,0,0,.4);
				}

				figcaption {
					margin-top: 10px;
					height: 100px;
				}

				h3 {
					text-align: center;

					small:before {
						margin-left: -35px;
						left: 50%;
					}
				}
			}

			@include media($desktop) {
				text-align: center;
				padding: 1em 20px;

				img {
					@include inline-block;
					width: auto;
					background-color: #eee;
					box-shadow: 0 1px 2px rgba(0,0,0,.4);
				}

				figcaption {
					margin-top: 10px;
					height: 100px;
				}

				h3 {
					text-align: center;

					small:before {
						margin-left: -35px;
						left: 50%;
					}
				}
			}



			h3 {
				display: block;

				small {
					display: block;
					position: relative;
					margin-top: 20px;

					&:before {
						display: block;
						text-align: center;
						content: " ";
						position: absolute;
						top: -10px;
						width: 70px;
						height: 1px;
						background-color: #eee;
					}
				}
			}
		}
	}

	.video-block-wraper {
		@include inline-block;

		@include media($tablet) {
			@include span-columns(12 of 12);
		}

		@include media($desktop) {
			@include span-columns(8 of 12);
		}
		.video-wraper {
			@include outer-container(8);
			@include row;

			.video-block {
				text-align: left;
				@include inline-block;

				p {
					font-weight: 350;
				}

				@include media($mobile) {
					@include span-columns(8);
					@include row;

					margin-bottom: 20px;
				}

				@include media($tablet) {
					@include shift (1)
					@include span-columns(5 of 12);
					margin-right: 0;

					figure {
						padding-bottom: 1em;
					}


					/* &:last-child {
						@include omega;
					}
					*/
				}

				@include media($desktop) {
					@include span-columns(5 of 12);
							max-height: 530px;
					figure {
						padding-bottom: 1em;
					}
				}
			}

			.controller {
				cursor: pointer;
				@include media($tablet) {
					padding-left: 7em;
					padding-top: 100px;
				}

				@include media($desktop) {
					margin: 6em 40px;
					padding-left: 8.253%;
					padding-top: 0;
				}
			}
		}
	}
}

.fablab {
  .course-description {
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($desktop) {
      @include span-columns(7 of 12);
    }
    @include media($mobile) {
      @include row;
    }

    text-align: left;
    background-color: rgba(0,0,0,.3);
    padding: 1em;
    color: white;
    h1 {
      width: 100%;
      margin: 0;
      font-weight: bold;
      small {
        text-transform: none;
        margin-top: 0;
        line-height: 1.5; // same as text
        margin: 1em 0;
      }
    }
  }
  .course-cover {
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($desktop) {
      @include span-columns(5 of 12);
    }
    @include media($mobile) {
      @include row;
    }
  }

}

.fablab-slider {
  background-color: rgb(73, 89, 102);
  color: white;
  .fablab-slider-description {

    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($desktop) {
      @include span-columns(7 of 12);
    }
    @include media($mobile) {
      @include row;
    }
  }
  .fablab-slider-video {
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($desktop) {
      @include span-columns(5 of 12);
    }
    @include media($mobile) {
      @include row;
    }
    margin-top: 2em;
  }
  & > section {
    padding: 2em 0;
  }
}

.fablab-sponsor {
  background-color: rgb(73, 89, 102);
  color: white;
  .center {
    text-align: center;
  }
  p {
    padding-top: 2em;
  }
  img {
    width: 30%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.slider-nav {
  // padding: 20px 0;
   @include row;
   li {
    a {
      width: 33.333333%;
      float: left;
      // @include omega;
     display: inline-block;
     text-align: center;
    //  color: rgb(73, 89, 102);
     color: white;
    //  background-color: white;
     background-color: #f5872a;
     line-height: 3em;
     opacity: .9;
     font-weight: bold;
     &:hover {
       opacity: 1;
     }
   }
   &.active a {
     opacity: 1;
   }
 }
}

//UNDP anticorruption-lesson

.divider {
	border-bottom: 1px solid #eee;
	padding-bottom: 25px;
}

//25 cases

.arrows { white-space: nowrap; }
.arrows li {
    display: inline-block;
    line-height: 26px;
    margin: 0 9px 0 -10px;
    padding: 0 20px;
    position: relative;
}

.arrows li::before, .arrows li::after {
    border-right: 1px solid #666666;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);   
}
.arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.arrows li:last-of-type::before, 
.arrows li:last-of-type::after { 
    display: none; 
}

.arrows li a { 
   font: bold 24px Sans-Serif;  
   letter-spacing: -1px; 
   text-decoration: none;
}

.arrows li:nth-of-type(1) a { color: hsl(0, 0%, 70%); } 
.arrows li:nth-of-type(2) a { color: hsl(0, 0%, 65%); } 
.arrows li:nth-of-type(3) a { color: hsl(0, 0%, 50%); } 
.arrows li:nth-of-type(4) a { color: hsl(0, 0%, 45%); } 

// PROJECT FEATURES
.materials_features {

	.action_block {
		margin: 0;
		padding: 0;

		@include media($mobile) {
			// margin: 0;
			@include row;
		}

		@include media($tablet) {
			// margin: 1em 40px;
			@include span-columns(6 of 12);
		}

		@include media($desktop) {
			// margin: 1em 40px;
			@include span-columns(7 of 12);
		}
	}

	.description_block {
		margin: 0;
		padding: 0;

		@include media($mobile) {
			// margin: 0;
			@include row;
		}

		@include media($tablet) {
			// margin: 1em 40px;
			@include span-columns(6 of 12);
		}

		@include media($desktop) {
			// margin: 1em 40px;
			@include span-columns(6 of 12);
		}
	}

	article {
		@include media($mobile) {
			// padding: 20px 0 20px 10px;
			@include row;
			padding: 0 0 0 40px;
		}

		@include media($tablet) {
			@include span-columns(6 of 12);
			padding: 0 0 0 40px;
		}

		@include media($desktop) {
			@include span-columns(5 of 12);
			@include omega();
			padding: 0 0 0 80px;
		}

		display: block;
		// margin: 0;
	}
}

.archive {
	background-color: rgba(250, 250, 250, 1);
}

.material {
	margin-bottom: 20px;

	/*
	@include media(min-width 320px max-width 480px) {
		@include span-columns(8);
		@include shift(2);
  		@include omega(2n);
	}
	*/

	@include media($tablet) {
		@include span-columns(4);
		@include omega(2n);
	}

	@include media($desktop) {
		@include span-columns(4);
		@include omega(3n);
	}

	.lesson_features, .description {
		width: 70%;
		margin: 10 auto;
	}

	section {
		&option {
			font-size: 0.9em !important;
		}
	}
}

h3.anticorruption {
	font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.support_us {
	text-align: center;

	.likely {
		margin-top: 30px;
	}
}



.additional {
	text-align: center;
	@include span-columns(10);
	@include shift(2);
	width: 70%;
}

/*.introduction {
	max-width: 80%;
}
*/

.subscription {
	@include row;
	// margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;

	p {
		text-align: center;
		margin: 0 auto 2em;
	}

	label {

		@include media($mobile) {
			@include row;
		}

		@include media($tablet) {
			@include row;
		}

		@include media($desktop) {
			@include span-columns(8);
			@include shift(2);
		}

		input {
			height: 40px;
			line-height: 40px;

			@include media($mobile) {
				@include span-columns(8 of 8);
				margin-bottom: 20px;
			}

			@include media($tablet) {
				@include span-columns(4 of 8);
			}

			@include media($desktop) {
				@include span-columns(5 of 8)
			}
		}

		button {
			height: 40px;
			color: #fff;
			// line-height: 40px;

			@include media($mobile) {
				@include span-columns(8 of 8);
			}

			@include media($tablet) {
				@include span-columns(4 of 8);
			}

			@include media($desktop) {
				@include span-columns(3 of 8)
			}
		}
	}
}

.book-image {
	@include media($mobile) {
		@include span-columns(2 of 8);
	}

	@include media($tablet) {
		@include span-columns(2 of 12);
	}

	@include media($desktop) {
		@include span-columns(2 of 12);
		@include shift(1);
	}
}

.book-description {
	@include media($mobile) {
		@include span-columns(6 of 8);
	}

	@include media($tablet) {
		@include span-columns(8 of 12);
		@include shift(1);
	}

	@include media($desktop) {
		@include span-columns(6 of 12);
		@include shift(1);
	}
}

.presentation {
	@include media($mobile) {
		@include span-columns(2 of 8);
	}

	@include media($tablet) {
		@include span-columns(4 of 12);
	}

	@include media($desktop) {
		@include span-columns(4 of 12);
	}

}

.contestant-description {
	@include media($mobile) {
		@include span-columns(6 of 8);
	}

	@include media($tablet) {
		@include span-columns(8 of 12);
	}

	@include media($desktop) {
		@include span-columns(7 of 12);
	}
	& > p > span {
		font-weight: 600;
		color: #333;
	}
}

.competition > .container {
	margin-bottom: 30px;
	& .presentation > img {
		border: 1px solid #eee;
	}
	& .contestant-description > {
		h3 {
			    font-weight: 500;
				text-transform: uppercase;
				color: #2993de;
		}
	}
}



// BOOK PAGE

.about_book {
	// @include row;

	.book__figure {


		@include media($mobile) {
			@include row;
			margin: rem(20px) auto;
		}

		@include media($tablet) {
			@include span-columns(4 of 10);
		}

		@include media($desktop) {
			@include span-columns(3 of 10);
		}
	}

	.book__caption {
		@include media($mobile) {
			@include row;
		}

		@include media($tablet) {
			@include span-columns(6 of 10);
		}

		@include media($desktop) {
			@include span-columns(7 of 10);
			@include omega;
		}



		article {
			@include row;

			h2 {
			}

			p {}
		}

		.b-info {
			@include row;
			margin: rem(30px) 0;

			.thead {
				@include row;

				.td {
					font-size: 90%;
				}
			}

			.tbody {
				@include row;

				.td {
					font-size: 146%;
				}
			}

			.td {
				@include span-columns(2 of 8);
				text-align: center;
			}
		}

		.actions {
			margin-top: rem(45px);

			.button {
				@include media($mobile) {
					margin: 0 0 10px;
					@include row;
					font-size: 80%;
					padding: 0;
					text-align: center;
				}

				@include media($tablet) {
					margin: 0;
					@include span-columns(4 of 10);
					font-size: 80%;
					padding: 0;
					text-align: center;
				}

				@include media($desktop) {

				}
			}
		}
	}
}


.book-summary {
	.summary {
		padding: 0;

		> li {
			&+li {
				margin-top: 0.5em;
			}
		}

		// .chapter {
		//   a:hover {
		//     &:after {
		//       @include inline-block;
		//       content: "❐"
		//     }
		//   }
		// }
	}

	ul {
		list-style-type: none;
		padding: 0 0 0 2em;

		li {
			line-height: 2;
		}
	}
}




// MODAL

.modal {
	$base-border-color: gainsboro !default;
	$base-border-radius: 0px !default;
	$base-background-color: white !default;
	$base-font-size: 1em !default;
	$base-line-height: 1.5em !default;
	$action-color: #477DCA !default;
	$dark-gray: #333 !default;
	$light-gray: #DDD !default;
	$medium-screen: em(640) !default;
	$large-screen: em(860) !default;
	$base-font-color: $dark-gray !default;
	$modal-padding: 3em;
	$modal-background: $base-background-color;
	$modal-close-color: $light-gray;
	$modal-image-height: 135px;
	$modal-image-width: $modal-image-height;
	$modal-trigger-image-width: 300px;

	label {
		cursor: pointer;
		margin-bottom: 0;
	}

	label img {
		border-radius: $modal-trigger-image-width / 2;
		display: block;
		max-width: $modal-trigger-image-width;
	}

	.modal-state {
		display: none;
	}

	.modal-trigger {}

	.modal-fade-screen { // overlay
		@include transition(opacity 0.25s ease);
		@include position(fixed, 0px 0px 0px 0px);
		background: rgba(0,0,0, 0.85);
		opacity: 0;
		padding-top: 0.6em;
		text-align: left;
		visibility: hidden;
		z-index: 99999999999;

		@include media($large-screen) {
			padding-top: 10em;
		}

		.modal-bg {
			@include position(absolute, 0px 0px 0px 0px);
			cursor: pointer;
		}
	}

	.modal-close {
		@include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
		@include size(1.5em);
		background: $modal-background;
		cursor: pointer;

		&:after,
		&:before {
			@include position(absolute, 3px 3px 0 50%);
			@include transform(rotate(45deg));
			@include size(0.15em 1.5em);
			background: $modal-close-color;
			content: '';
			display: block;
			margin: -3px 0 0 -1px;
		}

		&:hover:after,
		&:hover:before {
			background: darken($modal-close-color, 10%);
		}

		&:before {
			@include transform(rotate(-45deg));
		}
	}

	.modal-inner {
		@include transition(opacity 0.25s ease);
		background: $modal-background;
		border-radius: $base-border-radius;
		margin-top: 0;
		margin: auto;
		max-height: none !important;
		padding: 10px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 0;

		@include media($mobile) {
			width: 90%;
			padding-bottom: 50% !important;
		}

		@include media($medium-screen) {
			max-height: 70%;
			padding-bottom: 33%;
			width: 60%;
		}

		@include media($large-screen) {
			width: 50%;
			padding-bottom: 28% !important;

		}

		h1 {
			color: $base-font-color;
			margin-bottom: 0 0 0.6em 0;
			text-align: left;
			text-transform: capitalize;
		}

		p {
			color: $base-font-color;
			line-height: $base-line-height;
		}

		.modal-intro {
			font-weight: 800;
		}

		.modal-content {
			color: $base-font-color;

			@include media($medium-screen) {
				@include columns(2 8em);
			}
		}

		a.cta {
			color: white;
			display: inline-block;
			margin-right: 0.5em;
			margin-top: 1em;

			&:last-child {
				padding: 0 2em;
			}
		}
	}

	.modal-state:checked + .modal-fade-screen {
		opacity: 1;
		visibility: visible;
	}

	.modal-state:checked + .modal-fade-screen .modal-inner {
		top: 0.5em;
	}
}

.modal-open {
	overflow: hidden;
}

.video-wrapper {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
	position: relative;

	embed,
	object,
	iframe {
		@include position(absolute, 0px null null 0px);
		@include size(100%);
	}
}

.b-card--col .b-card__list .benefits i.fa.fa-tablet {
	margin-right: 22px;
}



/* POP UP ANIMATION */
/*
.circle {
  stroke: #fff;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut {
  display: inline-block;
  -webkit-transition: all 0.5s ease;
}
.playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #fff;
  transform: translateY(0);
}
.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #fff;
  animation: nudge 0.7s ease-in-out;
}
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
.playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}

.partners-wrapper {
  width: 70%;
  margin: 0 auto;
}

button.mfp-close:hover {
  background: rgba(255,0,0,  0) !important;
}
*/


/* Flashing */
figure.flash {
	margin: 0;
}
figure.flash:hover a img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	-o-animation: flash 1.5s;
    -moz-transition: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/* mon infographics */
/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 1rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}



/*---------------------------------
		twenty five cases
---------------------------------*/




.cases_25_block{

}
.cases_25_block h2{
	    font-size: 28px;
    text-align: left;
    padding-left: 20px;
    padding-top: 60px;
}

.cases_25_block .cases_lock{
	display: flex;
	flex-direction: row;
	align-content: flex-start;
}

.cases_25_block .cases_lock .left{
	flex-grow: 0; 
	flex-shrink: 0;
	width: 288px;
	min-height: 10px;
	margin-top: 20px;
}

.cases_25_block .cases_lock .right{
	flex-grow: 1;
	 flex-shrink: 1; 
	 min-height: 10px;
}
.cases_filter {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cases_filter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.cases_filter .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius:3px;
    border:2px solid gray;
    box-sizing: border-box;
    background-color: transperent;
}
.cases_filter input:checked ~ .checkmark {
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.cases_filter input:checked ~ .checkmark:after {
    display: block;
}
.cases_filter .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid gray;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cases_filter{
	font-weight:400;
	font-size: 16px;
	color: #A5A5A5;
}
.cases_lock{
	padding: 0 20px 0 20px;
}
.case{
	margin: 20px 0px 20px 20px;
	padding: 16px;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(229, 229, 229, 0.5);
}

.case .img{
	flex-grow: 0;
	flex-shrink: 0;
	width: 324px;
	height: 228px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.case .img img{
	max-width: 100%;
	max-height: 100%;
}

.case .info{
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 10px;
}

.case .info h3{
	font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 24px;

color: #2C5999;
}

.case .info p{
	font-style: normal;
font-weight: 300;
line-height: 24px;
font-size: 16px;
padding:5px 0 10px 0;
color: #969696;
}

.case .info a{
	font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 23px;
font-size: 16px;
color: #FFA300;
}

@media only screen and (max-width: 1060px) {
.case{
	flex-direction: column;
}
.case .img{
	width: 100%;
}
.case .info{
    padding-left: 0px;
    padding-top: 24px;
    margin: 0;
}
	}
.bannerh1{
	margin-top:0px!important;
}
.banner_a{
	padding: 0px;
	margin: 0px;
	outline: none;
	cursor:pointer;
}
.banner_25{
	height:90px;
	width:100%;
	background: #caeffd;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	flex-direction: column;
}

.banner_25 p{
	font-size: 36px;
	color:#0c0c0c;
	font-weight: 400;
	margin: 0;
}
.banner_25 p span{
	font-weight: 600;
}
.banner_25 .left_img{
	height:100%;
	position: absolute;
	left:0px;
	bottom: 0px;
}


.banner_25 .right_img{
	height:100%;
	position: absolute;
	right:0px;
	top: 0px;
}
.cases_25{
	text-align: left;
	& > .nav-return {
		color: black;
		& > i {
		color: black;
		}
	}
	& > .nav-return:hover {
		color: black;
		& > i:hover {
			color: black;
		}
		}
	& > h1.anticorr {
		color: black!important;
	}
}
.cases_25 i{
    font-size: 32px;
    color: #fff;
    position: relative;
    top: 5px;
    /* left: 2px; */
    padding: 0 10px 0 0;
}
.cases_25 a{
    color: #fff;
    font-weight: 600;
}
.cases_25 a:hover{
    color: #fff;
}
.cases_material h2{
	font-weight:500;
}
.cases_material img{
	opacity: 0.3;
}
.cases_btn .fa.fa-floppy-o{
	position: relative;
    top: 5px;
    left: 2px;
}
.google_form{
	text-align: center;
}

.google_form  p {
    text-align: center;
    margin: 0 auto 2em;
    width: 80%;
    font-size: 24px;
    padding-top: 16px;
}


.google_form  a{
    padding: 16px 32px 16px 32px;
    background-color: #edb330;
    color:#fff;
    font-weight: 500;
    cursor:pointer;
}
.google_form  a:hover{
	color:#fff;
}

.header_cases{
    padding-top: 120px!important;
    padding-bottom: 80px!important;
}
.header_cases h1{
	margin-top: 40px!important;
}
