
<!--Created by olga on 09-02-2015.
--><!DOCTYPE html>
<html>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>EdEra – студія онлайн-освіти</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="shortcut icon" href="/img/favicon.png"/>
	<!--VK-->
	<meta name="title" content="EdEra – студія онлайн-освіти"/>
	<meta name="description" content="EdEra — студія онлайн-освіти. Ми робимо онлайн-освіту в Україні якісною та доступною. Наша команда створює онлайн-курси, спецпроекти, інтерактивні підручники та освітні блоги."/>
	<link rel="image_src" href="https://www.ed-era.com/img/welcome_bg_laptop.jpg"/>
	<!--Google-->
	<meta property="place:location:latitude" content="50.43707987947357"/>
	<meta property="place:location:longitude" content="30.515844315730885"/>
	<meta property="business:contact_data:street_address" content="street Petrivska"/>
	<meta property="business:contact_data:locality" content="Kyiv"/>
	<meta property="business:contact_data:country_name" content="Ukraine"/>
	<meta property="business:contact_data:email" content="connect@ed-era.com"/>
	<!--Google+-->
	<meta itemprop="name" content="EdEra – студія онлайн-освіти"/>
	<meta itemprop="description" content="EdEra — студія онлайн-освіти. Ми робимо онлайн-освіту в Україні якісною та доступною. Наша команда створює онлайн-курси, спецпроекти, інтерактивні підручники та освітні блоги."/>
	<meta itemprop="image" content="https://www.ed-era.com/img/welcome_bg_laptop.jpg"/>
	<!--Twitter-->
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@info_edera"/>
	<meta name="twitter:title" content="EdEra – студія онлайн-освіти"/>
	<meta name="twitter:description" content="EdEra — студія онлайн-освіти. Ми робимо онлайн-освіту в Україні якісною та доступною. Наша команда створює онлайн-курси, спецпроекти, інтерактивні підручники та освітні блоги."/>
	<meta name="twitter:image" content="https://www.ed-era.com/img/welcome_bg_laptop.jpg"/>
	<!--Facebook-->
	<!--meta(property='og:url' content= url)-->
	<meta property="og:title" content="EdEra – студія онлайн-освіти"/>
	<meta property="og:description" content="EdEra — студія онлайн-освіти. Ми робимо онлайн-освіту в Україні якісною та доступною. Наша команда створює онлайн-курси, спецпроекти, інтерактивні підручники та освітні блоги."/>
	<meta property="og:image" content="https://www.ed-era.com/img/welcome_bg_laptop.jpg"/>
	<meta property="og:site_name" content="EdEra"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/application.css"/>
	<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/vendor/magnific-popup.css"/>
	<link rel="stylesheet" href="/css/vendor/slick.css"/>
	<body class="hide-horizontal-scrollbar">
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-N86M5F" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<script>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-N86M5F');
		</script>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div id="page_header">
						<h1 class="logo"><a href="/" title="EdEra" class="logo_link">EdEra — студія онлайн-освіти. Якісно. Безкоштовно. Без обмежень</a></h1>
						<div class="toggle_menu"> </div>
						<div id="main_navigation">
							<ul class="main_links">
								<li><a href="/courses/" title="Курси">Курси</a></li>
								<li><a href="/books/" title="Книги" class="new">Бібліотека</a></li>
								<li><a href="http://blog.ed-era.com/" target="_blank" title="Новини" class="new">Блог</a></li>
								<!-- lia(href='http://zno.ed-era.com/', title='ЗНО платформа') ЗНО платформа
								-->
								<li><a href="/about/" title="Про нас">Про нас</a></li>
								<li><a href="/talents" title="Вакансії">Вакансії</a></li>
								<li><a href="/zno" title="Готуйся до ЗНО!" class="zno-a">Готуйся до ЗНО!</a></li>
							</ul>
							<ul class="sign_in_up not_logged_in">
								<li><a href="https://courses.ed-era.com/login">Увійти</a></li>
								<li><a href="https://courses.ed-era.com/register" class="button">Зареєструватися</a></li>
							</ul>
							<ul class="sign_in_up logged_in hidden">
								<li><a href="https://courses.ed-era.com/dashboard">Мої Курси</a></li>
								<li><a href="https://courses.ed-era.com/logout" class="button">Вийти</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="test" class="row">
			<div class="col-md-3 col-lg-3"></div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="main-block clearfix">
					<div v-if="introFlag">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h1 style="padding-top:35px">{{intro.title}}</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-0 col-sm-0"> </div>
							<div class="col-xs-12 col-sm-12">
								<div class="thumbnail quiz-description margin"><img src="/img/test_vybir_profesii_zhyttia/0.png"></div>
							</div>
						</div><span v-html="intro.description"></span>
						<div style="text-align: center;">
							<button @click="loadQuizData" name="start" class="button">{{intro.startButton}}</button>
						</div>
					</div>
					<div v-if="quizFlag">
						<question :answers="answers[currentQuestion]" :question="quiz[currentQuestion]" :quiz-length="quizLength" :last-question="lastQuestion" :next-question="nextQuestion" v-on:user-answer="handleAnswer" v-on:end-quiz="endQuiz" :current-question="currentQuestion"></question>
					</div>
					<div v-if="resultFlag">
						<div>
							<div class="row">
								<div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"> </div>
								<div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
									<h1 style="padding-top:35px">{{professionsDesc[profession].name}}</h1>
								</div>
								<p class="quiz-description margin">{{professionsDesc[profession].desc}}</p>
								<div style="text-align: center">
									<button v-on:click="loadQuizData" class="button">Пройти ще раз</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<link href="/css/footer.css" rel="stylesheet">
			<div class="row footer">
				<div class="col-12">
					<div id="page_footer">
						<div class="mx-4">
							<div class="row">
								<div class="col-lg-1 col-md-0 col-sm-0"></div>
								<div class="col-lg-3 col-md-3 col-sm-10"><img src="/img/edera_logo_footer.png" alt="EdEra" class="footer_logo leftimg">
									<p>EdEra — студія онлайн-освіти. Ми робимо онлайн-освіту в Україні якісною та доступною. Наша команда створює онлайн-курси, спецпроекти, інтерактивні підручники та освітні блоги.</p>
									<p>З питань реєстрації на сайті та курсу для вчителів початкової школи: <a href="mailto:info@ed-era.com" target="_blank">info@ed-era.com</a></p>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-10"> 
									<p>Щодо проекту, інших курсів та партнерства: <a href="mailto:connect@ed-era.com" target="_blank">connect@ed-era.com</a></p>
									<p>Нас можна знайти за адресою: <a href="https://goo.gl/maps/NLmeE3XE2Pp" target="_blank">м. Київ, вул. Шота Руставелі 34</a></p>
									<p>Ми працюємо 5 робочих днів з 10:00 до 18:00. Завітати до нас можна в будь-який зручний для вас час, попередивши про свій візит телефоном.</p>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-10">   
									<p>Слідкуйте за новинами проекту та приєднуйтеся до наших спільнот:</p>
									<div class="effect varrius">
										<div class="buttons"><a href="https://www.facebook.com/EdEraUa/" title="Слідкуйте за нами на Facebook!" target="_blank" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://twitter.com/edera_ua" title="Слідкуйте за нами в Twitter!" target="_blank" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="https://www.instagram.com/edera_ua/" title="Слідкуйте за нами в Instagram!" target="_blank" class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="https://www.youtube.com/EderaEducation" title="Слідкуйте за нами на Youtube!" target="_blank" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script src="/js/vendor/jquery.js"></script>
			<script src="/js/vendor/jquery.magnific-popup.min.js"></script>
			<script src="/js/vendor/jquery.cookie.js"></script>
			<script src="/js/vendor/likely.js"></script>
			<script src="/js/vendor/slick.min.js"></script>
			<script src="/js/main.js"></script>
			<script src="/js/test_vybir_profesii_zhyttia/app.js"></script>
		</div>
	</body>
</html>