article.description
    .text
        p.
            Навчання «Як говорити про вакцинацію у Новій українській школі» створено рамках проєкту Дитячого фонду ООН
            (ЮНІСЕФ) в Україні «Подолання міфів про вакцинацію» за підтримки Агенства США з міжнародного розвитку
             (USAID)». Реалізатор проєкту — громадська організація «Практикум». Урок проходить за партнерства
             громадської організації  «ВакциНація» та студії онлайн-освіти «EdEra».

