article.description
    .text
        p.
            Як вчителі, ви можете допомогти зробити школу місцем,
            де не поширюються інфекції, і захистити від них своїх учнів, себе та колег.
        p.
            На цій сторінці ви знайдете матеріали для проведення уроку «Віруси. Бактерії. Мікроби. Захист від хвороб»
            для учнів початкових класів. Урок знайомить дітей із методами захисту від різних інфекцій, поняттям
             доказової медицини та концепцією запобігання хворобам.
        p.
            Важливо також поговорити про щеплення з батьками ваших учнів, щоб вчителі та батьки об’єдналися
            у захисті дітей від інфекцій. Рекомендації щодо того, як вчителям говорити з батьками
            про вакцинацію, також містяться <a href="https://drive.google.com/drive/u/2/folders/1mP6I9UwA36iofecMEWCATLmcESZmaAg4">тут.</a>
