article.material
    .block(id = "children")
        .title
            h2 Як говорити з дітьми про вакцинацію?
        .container
            section
                .box
                    .material-title
                        h3 Сценарій уроку
                    .description
                        p.
                            План уроку та  покрокова інструкція,
                            як провести інтерактивне заняття з дітьми
                    .button.download
                        a(href="https://drive.google.com/open?id=1ihFocwPK6L5ws1bERzlbg7CmYwDjjGBT" target="_blank") Завантажити
                .box
                    img(src="../../assets/picture1_mat.png")
            section
                .box
                    .material-title
                        h3 Презентація уроку
                    .description
                        p.
                            Більше про урок<br>
                            «Віруси. Бактерії. Мікроби. Захист від хвороб»
                    .button.download
                        a(href="https://drive.google.com/drive/folders/1BKCaLw52Hj4XiTPw0ImdSaUsAYutE-Hj?usp=sharing*"
                            target="_blank") Завантажити
                .box
                    img(src="../../assets/picture2_mat.png")
            section
                .box
                    .material-title
                        h3 Відеоматеріали
                    .description
                        p.
                            Короткі цікаві відео є частиною уроку і розповідають дітям про інфекційні хвороби
                            та вакцинацію
                    .button.download
                        a(href="https://www.youtube.com/playlist?list=PL_zDp5rG6HqsdoC9t0mjDi3uzaw6rKpMX" target="_blank") Завантажити
                .box
                    img(src="../../assets/picture3_mat.jpg")
            section
                .box
                    .material-title
                        h3 Відеозапис навчання
                    .description
                        p.
                            Поради від експертів з охорони здоров’я, освіти
                            та комунікацій про те, як говорити з дітьми
                            про вакцинацію
                    .button.download
                        a(href="https://drive.google.com/drive/u/1/folders/1xjJXY-Bp_dPla_iCy2nFrbPHLYXR5aQ2"
                            target="_blank").
                                Завантажити
                .box
                    img(src="../../assets/picture4_mat.jpg")
        .button
            a(href="https://drive.google.com/drive/folders/1sJNMa2puDJqljnGnsUELfRWxpCbG3Ejo?usp=sharing"
                target="_blank").
                    Завантажити всі матеріали уроку
    .block(id = "parents")
        .title
            h2 Як говорити з батьками про вакцинацію?
        .container
            section
                .box
                    .material-title
                        h3 Рекомендації для вчителів
                    .description
                        p.
                            Більше про те, чому важливо говорити з батьками про вакцинацію, коли і як краще це робити
                    .button.download
                        a(href="https://drive.google.com/open?id=1tuF4zyxKRCNPfFzzsoFJLgLJ2arAq9-6" target="_blank") Завантажити
                .box
                    img(src="../../assets/picture5_mat.png")
            section
                .box
                    .material-title
                        h3 Відеозапис навчання
                    .description
                        p.
                            Поради від експертів з охорони здоров’я, освіти та комунікацій про те, як говорити з батьками про вакцинацію
                    .button.download
                        a(href="https://www.youtube.com/playlist?list=PL_zDp5rG6HquczRrBM-4BgdIE_WuPM1aJ" target="_blank") Завантажити
                .box
                    img(src="../../assets/picture3_mat.jpg")

