nav(id = "nav")
    ul.list
        li
            a(href="#children")
                .image
                    img(src="../assets/assets/nav1.png")
                .text
                    p Урок <br>для дітей
        li
            a(href="#parents")
                .image
                    img(src="../assets/assets/nav2.png")
                .text
                    p Розмова <br>з батьками
        li
            a(href="#certificate")
                .image
                    img(src="../assets/assets/nav3.png")
                .text
                    p Сертифікат
        li
            a(href="#slider")
                .image
                    img(src="../assets/assets/nav4.png")
                .text
                    p Відгуки
