article.partners
    .title
        h2 Партнери проєкту
    .logos
        a(href="https://moz.gov.ua/" target="_blank").logo
            img(src="/img/vaccination/logo1.png" style="width: 60%;")
        a(href="https://www.unicef.org/ukraine/" target="_blank" ).logo
            img(src="/img/vaccination/logo5.png" style="width: 60%;")
        a(href="https://www.usaid.gov/uk/ukraine" target="_blank").logo
            img(src="/img/vaccination/logo6.png" style="width: 60%;")
        a(href="http://practicum.space/" target="_blank").logo
            img(src="/img/vaccination/logo3.png" style="width: 60%;")
        a(href="https://www.facebook.com/vaccination.ua/" target="_blank").logo
            img(src="/img/vaccination/logo4.png" style="width: 60%;")
        a(href="https://www.ed-era.com/" target="_blank").logo
            img(src="/img/vaccination/logo2.png")
