article.partners
    .title
        h2 Партнери проєкту
    .logos
        a(href="https://moz.gov.ua/" target="_blank").logo
            img(src="assets/logo1.png")
        a(href="https://www.unicef.org/ukraine/" target="_blank").logo
            img(src="assets/logo5.png")
        a(href="https://www.usaid.gov/uk/ukraine" target="_blank").logo
            img(src="assets/logo6.png")
        a(href="http://practicum.space/" target="_blank").logo
            img(src="assets/logo3.png")
        a(href="https://www.facebook.com/vaccination.ua/" target="_blank").logo
            img(src="assets/logo4.png")
        a(href="https://www.ed-era.com/" target="_blank").logo
            img(src="assets/logo2.png")
