include ../includes/head-lzv-rights.jade
doctype html
html
	+head
	body

		include ../includes/gtm.jade
		include ../includes/header.jade
		.t-cover(style="height:300px; background-image:url('../img/lzv-rights/Header.png');")
			.t270
				.t-valign_middle(style='height:300px;')
					.t270__wrapper
						div.h1-lzv(style="font-size: 54px;") Know Your Rights!
		section
			.container
				p.lzv-main
					| More than 244 thousand people are living with HIV in Ukraine today. Only around 143 thousand people are under medical supervision. More than 50 percent of newly-arising HIV situations are being discovered on the last stage. The rights of HIV-positive people are violated way more often than we can imagine.
					br
					br
					span.lzv-bold The project «Know Your Rights!» 
					| is for and about people living with HIV and their families. As well as for the medical and social workers, human rights activists, public activists, police officers, and officials. The initiator of the project is Charitable Organization «100 percent life». The content is created by the experts of 
					span.lzv-bold the Ukrainian Helsinki Human Rights Union.

			.t-container
				center
					div.lzv-video
						iframe#youtubeiframe68551264(width='100%', height='100%', src='https://www.youtube.com/embed/wAWT8Gw610g', frameborder='0', allowfullscreen='', style='height: 452.5px; max-width:900px;')

			.t-container
				center
					h2.h2-lzv Why is this project useful?
			.t-container		
					.t-col_4
						center
							img.t-img(src='../img/lzv-rights/icon/document.png')
							p.icon-descr It will help you get to know the basic rights of HIV-positive people
					.t-col_4
						center
							img.t-img(src='../img/lzv-rights/icon/monitoring.png')
							p.icon-descr It will teach you to distinguish between key violations of the rights
					.t-col_4
						center
							img.t-img(src='../img/lzv-rights/icon/management.png')
							p.icon-descr It will expose to you the existing mechanisms for protection of the rights of HIV-positive people

		section(style='background-color: #fafafa;')
			.t-container
				center
					h2.h2-lzv Educational materials
			.t-container		
					.t-col_4
						a(href='en-discrimination-lzv' target="_blank")
							img(src='../img/lzv-rights/CARD/1.jpg')
							p.card-descr Discrimination
					.t-col_4
						a(href='./en-medical' target="_blank")
							img(src='../img/lzv-rights/CARD/2.jpg')
							p.card-descr Medical rights
					.t-col_4
						a(href='./en-family-rights' target="_blank")
							img(src='../img/lzv-rights/CARD/3.jpg')
							p.card-descr Family rights
					.separator
					.t-col_4
						a(href='./en-social' target="_blank")
							img(src='../img/lzv-rights/CARD/4.jpg')
							p.card-descr Social rights
					.t-col_4
						a(href='./en-police' target="_blank")
							img(src='../img/lzv-rights/CARD/5.jpg')
							p.card-descr Communication with the Police
					.t-col_4
						a(href='./en-protection' target="_blank")
							img(src='../img/lzv-rights/CARD/6.jpg')
							p.card-descr Protection of rights

		include ../includes/lzv-footer-eng.jade
		include ../includes/footer.jade
		include ../includes/scripts.jade
		
