section
	.container
		center
			p.lzv-main The project «Know your rights!» has been implemented within the project 
				a(href="http://network.org.ua/en/2018/06/06/v-ukrayini-rozpochato-masshtabnyj-proekt-z-podolannya-vil-snidu-healthlink/", target='_blank')
					|«Accelerating Ukraine’s Efforts to End HIV» 
				| (HealthLink) with the support of the United States Agency for International Development (USAID).
			br
			a.button.button--big(href='https://drive.google.com/file/d/1GTJGyB_4Kte0tJor2GO29MRh7yfn09bM/view?usp=sharing' target="_blank")
				| USEFUL CONTACTS

section.google_form
	p
		| Do you have any suggestions or comments on the project?
	a(target='_blank', href="https://docs.google.com/forms/d/e/1FAIpQLSfSKMJOof79dr5q7-4azdJ6yKKJw0uuB9AbI4u7R-6w8ymuCA/viewform?usp=sf_link") Share with us


// ПАРТНЕРИ
#partners.section
	p.h2 
		| INITIATED BY
	.container
		ul.partners_list.new
			li
				a(href='https://www.pepfar.gov/', target='_blank', title='')
					img(src='/img/lzv-rights/logo3.png', alt='')
			li
				a(href='https://www.usaid.gov/ukraine', target='_blank', title='')
					img(src='/img/lzv-rights/logo4.png', alt='')
	.container
		ul.partners_list.new
			li
				a(href='http://network.org.ua/', target='_blank', title='')
					img(src='/img/lzv-rights/LOG_100_LIFE.png', alt='')
			li
				a(href='http://network.org.ua/en/2018/06/06/v-ukrayini-rozpochato-masshtabnyj-proekt-z-podolannya-vil-snidu-healthlink/', target='_blank', title='')
					img(src='/img/lzv-rights/HealthLink.png', alt='')
	br    
	p.h2 
		| DEVELOPED BY
	.container
		ul.partners_list
			li
				a(href='http://ed-era.com', target='_blank', title='')
					img(src='/img/lzv-rights/logo_edera.png', alt='edera')
			li
				a(href='https://helsinki.org.ua/en/', target='_blank', title='')
					img(src='/img/lzv-rights/logo.png', alt='')
