include ../includes/head-lzv-rights.pug
doctype html
html
	+head
	body

		include ../includes/gtm.pug
		include ../includes/header.pug

		.lzv-cover.police-image
				.lzv-heading-container
					.lzv-heading
						.h1-lzv Communication with the Police

		section
			.container
				p.lzv-main
					| Let's talk about situations that can happen to anyone, particularly, to HIV-positive people — meeting the police. In this video, we together with
					span.lzv-bold  Andrii Halai
					| , the project coordinator of the Ukrainian Helsinki Human Rights Union, will figure out when and how police officers can turn to, detain and search a person. Are there special guarantees for HIV-positive people? And finally, how to protect the rights if they are violated by the police?
					br
					br
					| Find out in the video and take the
					a(href="#test") test
					| to learn more.

			.lzv-container
				center
					h2.h2-lzv VIDEO MATERIALS

			.lzv-container
				center
					.lzv-video
						iframe(src='https://www.youtube.com/embed/g1er_fC8zMI', width='100%', height='100%', frameborder='0', allowfullscreen='')

		section.google_form
			a(target='_blank', href="https://drive.google.com/file/d/15PlX4a4BiVXYMWOkstDTxIinfsCIgbGJ/view?usp=sharing") Additional materials

		.lzv-container.quiz_container_big#test
			center
				h2.h2-lzv Test
			#en-police-quiz
				br
				div(v-if='!started')
				div(v-else-if='progress')
					.quiz_container.quiz
						.quiz_progess
							| Question:
							span  {{index + 1}} / {{quiz.length}}
						.quiz_question
							h3 {{quiz[index].title}}
							div(v-if='quiz[index].description !== false')
								p {{quiz[index].description}}
							div(v-if='quiz[index].img !== false')
								img(v-bind:src='quiz[index].img')
						.quiz_answers(v-for='(answer, key) in quiz[index].answers')
							.quiz_answer
								div(v-if='quiz[index].type == 0')
									button.quiz_radiobutton(v-if='answers[index] !== key', @click='choose(key)')
									button.quiz_radiobutton.chose(v-else='')
								div(v-else='')
									button.checkbox(v-if='answers[index][key] !== true ', @click='choose(key)')
									button.checkbox(v-else='', @click='choose(key)')
										svg(width='16', height='11', viewBox='0 0 16 11', fill='none', xmlns='http://www.w3.org/2000/svg')
											path(d='M6.04309 10.943L0.0608365 5.33851C-0.0202788 5.26252 -0.0202788 5.14853 0.0608365 5.07254L1.78454 3.45769C1.86565 3.38169 1.98733 3.38169 2.06844 3.45769L6.18504 7.31433L13.9316 0.0569948C14.0127 -0.0189983 14.1343 -0.0189983 14.2155 0.0569948L15.9392 1.67185C16.0203 1.74784 16.0203 1.86183 15.9392 1.93782L6.327 10.943C6.24588 11.019 6.12421 11.019 6.04309 10.943Z', fill='#65B2E1')
								.quiz_margin_left
									p(v-if='!answer.image') {{answer.body}}
									img(v-else='', v-bind:src='answer.image')
									p.quiz_hint.true(v-if='quiz[index].type == 0 && submit == true && answers[index] === key && answer.correct === true') {{answer.hint}}
									p.quiz_hint.true(v-if='quiz[index].type == 1 && submit == true && answers[index][key] == true &&  answer.correct === true') {{answer.hint}}
									p.quiz_hint.false(v-if='quiz[index].type == 0 && submit == true && answers[index] === key && answer.correct === false') {{answer.hint}}
									p.quiz_hint.false(v-if='quiz[index].type == 1 && submit == true && answers[index][key] == true &&  answer.correct === false') {{answer.hint}}
						button.quiz_button.disabled(v-if='chosen == 0 && submit === false') Answer
						button.quiz_button(v-else-if='chosen != 0 && submit === false', @click='submitAnswer()') Answer
						.quiz_main_hint(v-else-if='submit === true')
							button.quiz_button(@click='goNext()') Continue
							div
								p(v-if='check == true', v-html='quiz[index].true_hint')
								p
								p(v-if='check == false', v-html='quiz[index].false_hint')
								p
				div(v-else='')
					.quiz_container.result
						h5 Result
						h5
						h2 {{score}}/{{answers.length}}
						p {{resultText[score].description}}
						button.quiz_button(@click='restart()') Try again


		script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js')
		script(src='/js/lzv/en-police.js')

		.lzv-container
			center
				h2.h2-lzv FIGHTING WITH HIV
		.container
			p.lzv-main
				span.lzv-bold Oleh Dymaretskyi
				|  is a lawyer, a public and human rights activist. He is a director of the charitable organization «Volna» and has been working in HIV-service organizations for 17 years. In the interview, he will tell about real-life cases of human rights violations of HIV-positive people.
			center
				.lzv-video
					iframe(src='https://www.youtube.com/embed/x87GNglgA84', width='100%', height='100%', frameborder='0', allowfullscreen='')

		include ./en-lzv-footer.pug

		section.mon-alarm.mon-main
			.container
				a.button.button--big(href='/lzv-rights/police' target="_blank")
					| Українська версія

		include ../includes/footer.pug
		include ../includes/scripts.pug
