include ../includes/head-lzv-rights.jade
doctype html
html
	+head
	body


		include ../includes/gtm.jade
		include ../includes/header.jade
		
		#recorddiv68552395.t-cover(bgimgfield='img', style="height:50vh; background-image:url('../img/lzv-rights/Header.png');")
			#coverCarry68552395.t-cover__carrier.loaded(data-content-cover-id='68552395', data-content-cover-bg='../img/lzv-rights/Header.png', data-content-cover-height='55vh', data-content-cover-parallax='', style='height: 50vh; background-attachment: scroll; background-image: url(../img/lzv-rights/Header.png);', src='')
			.t-cover__filter(style='height:60vh;background-color:#000;filter:alpha(opacity:40);KHTMLOpacity:0.4;MozOpacity:0.4;opacity:0.4;')
			.t270
				.t-container
					.t-cover__wrapper.t-valign_middle(style='height:50vh;')
						.t270__wrapper
							.t270__title.t-title.t-title_xxs(field='title', style='background-color:#BF3B41; ;') Знай свої права!
							.t270__separator
							.t270__descr.t-descr.t-descr_xs(field='descr', style='; ;')
								div(style='font-size:20px;color:#ffffff;', data-customstyle='yes')
									br
		#rec68553062.r.t-rec.t-rec_pt_135.t-rec_pb_0.r_showed.r_anim(style='padding-top:135px;padding-bottom:0px; ;', data-record-type='106')
			// T004
			.t004
				.t-container
					.t-col.t-col_11
						.t-text.t-text_md(field='text')
							span Спецпроект «Знай свої права!»
							|— про і для людей, які живуть з ВІЛ, та їх рідних. А також — медичних і соціальних працівників, правозахисників, громадських активістів, працівників поліції, чиновників. Ініціатор спецпроекту — 
							span БО «100 відсотків життя»
							|. Автори контенту — експерти 
							span Української Гельсінської спілки з прав людини.
		.t-container					
			#rec68551264.r.t-rec.t-rec_pt_90.t-rec_pb_0.r_showed.r_anim(style='padding-top:90px;padding-bottom:0px; ;', data-record-type='4')
				// T121
				.t121
					center
						.t-width.t-width_12(style='height: 452.5px; width:900px;')
							iframe#youtubeiframe68551264(width='100%', height='100%', src='https://www.youtube.com/embed/kOUZJ_fvAK4', frameborder='0', allowfullscreen='', style='height: 452.5px; width:900px;')

		#rec68554192.r.t-rec.t-rec_pt_135.t-rec_pb_135.r_anim.r_showed(style='padding-top:135px;padding-bottom:135px; ;', data-record-type='490')
			// t490
			.t490
				.t-section__container.t-container
					.t-col.t-col_12
						.t-section__topwrapper.t-align_center
							.t-section__title.t-title.t-title_xs(field='btitle') Чим корисний спецпроект?
				.t-container
					.t490__col.t-col.t-col_4.t-align_center.t-item
						img.t490__img.t-img.loaded(src='../img/lzv-rights/icon/document.png', imgfield='li_img__1476968690512')
						.t490__wrappercenter
							.t-descr.t-descr_xs(field='li_descr__1476968690512') Допоможе розібратись з основними правами ВІЛ-позитивних осіб
					.t490__col.t-col.t-col_4.t-align_center.t-item
						img.t490__img.t-img.loaded(src='../img/lzv-rights/icon/monitoring.png', imgfield='li_img__1476968700508')
						.t490__wrappercenter
							.t-descr.t-descr_xs(field='li_descr__1476968700508') Навчить розрізняти ключові порушення прав
					.t490__col.t-col.t-col_4.t-align_center.t-item
						img.t490__img.t-img.loaded(src='../img/lzv-rights/icon/management.png', imgfield='li_img__1476968722790')
						.t490__wrappercenter
							.t-descr.t-descr_xs(field='li_descr__1476968722790') Розкриє діючі механізми захисту прав ЛЖВ
		#rec68550868.r.t-rec.t-rec_pt_135.t-rec_pb_45(style='padding-top:135px;padding-bottom:45px;background-color:#fafafa; ;', data-animationappear='off', data-record-type='692', data-bg-color='#fafafa')
			// T692
			.t692
				.t-section__container.t-container
					.t-col.t-col_12
						.t-section__topwrapper.t-align_center
							.t-section__title.t-title.t-title_xs(field='btitle') Навчальні матеріали
				.t-container
					a(href='discrimination-lzv')
						.t692__col.t-col.t-col_4.t-align_left.t-item
							.t692__blockimg.t692__blockimg_3-2.t-bgimg.loaded(style='background: url(../img/lzv-rights/Card/1.jpg) center center / cover no-repeat;', bgimgfield='li_img__1495010928665', src='')
							.t692__textwrapper.t692__textwrapper_left
								.t692__title.t-heading.t-heading_lg(style='font-size:20px;', field='li_title__1495010928665') Дискримінація
					a(href='family-rights')
						.t692__col.t-col.t-col_4.t-align_left.t-item
							.t692__blockimg.t692__blockimg_3-2.t-bgimg.loaded(style='background: url(../img/lzv-rights/Card/4.jpg) center center / cover no-repeat;', bgimgfield='li_img__1495010928665', src='')
							.t692__textwrapper.t692__textwrapper_left
								.t692__title.t-heading.t-heading_lg(style='font-size:20px;', field='li_title__1495010928665') Сімейні права
					a(href='#')
						.t692__col.t-col.t-col_4.t-align_left.t-item
							.t692__blockimg.t692__blockimg_3-2.t-bgimg.loaded(style='background: url(../img/lzv-rights/Card/2.jpg) center center / cover no-repeat;', bgimgfield='li_img__1495010928665', src='')
							.t692__textwrapper.t692__textwrapper_left
								.t692__title.t-heading.t-heading_lg(style='font-size:20px;', field='li_title__1495010928665') Медичні права
					.t-clear.t692__separator
					a(href='#')
						.t692__col.t-col.t-col_4.t-align_left.t-item
							.t692__blockimg.t692__blockimg_3-2.t-bgimg.loaded(style='background: url(../img/lzv-rights/Card/3.jpg) center center / cover no-repeat;', bgimgfield='li_img__1495010928665', src='')
							.t692__textwrapper.t692__textwrapper_left
								.t692__title.t-heading.t-heading_lg(style='font-size:20px;', field='li_title__1495010928665') Соціальні права
					a(href='#')
						.t692__col.t-col.t-col_4.t-align_left.t-item
							.t692__blockimg.t692__blockimg_3-2.t-bgimg.loaded(style='background: url(../img/lzv-rights/Card/5.jpg) center center / cover no-repeat;', bgimgfield='li_img__1495010928665', src='')
							.t692__textwrapper.t692__textwrapper_left
								.t692__title.t-heading.t-heading_lg(style='font-size:20px;', field='li_title__1495010928665') Спілкування з поліцією
					a(href='#')
						.t692__col.t-col.t-col_4.t-align_left.t-item
							.t692__blockimg.t692__blockimg_3-2.t-bgimg.loaded(style='background: url(../img/lzv-rights/Card/6.jpg) center center / cover no-repeat;', bgimgfield='li_img__1495010928665', src='')
							.t692__textwrapper.t692__textwrapper_left
								.t692__title.t-heading.t-heading_lg(style='font-size:20px;', field='li_title__1495010928665') Захист прав
		#rec68554931.r.t-rec.t-rec_pt_60.t-rec_pb_60.r_anim.r_showed(style='padding-top:60px;padding-bottom:60px; ;', data-record-type='106')
			// T004
			.t004
				.t-container
					.t-col.t-col_11
						.t-text.t-text_md(field='text')
							| Спецпроект реалізований в рамках проекту «Прискорення заходів з подолання ВІЛ-інфекції в Україні» (HealthLink) за підтримки Агентства США з міжнародного розвитку (USAID).





		// ПАРТНЕРИ
		#partners.section
			p.h2 
				| Партнери
			.container
				ul.partners_list
					li
						a(href='#', target='_blank', title='')
							img(src='../img/lzv-rights/logo3.png', alt='')
					li
						a(href='#', target='_blank', title='')
							img(src='../img/lzv-rights/logo2.png', alt='')
					li
						a(href='#', target='_blank', title='')
							img(src='../img/lzv-rights/logo4.png', alt='')
			br		
			p.h2 
				| Організації-розробники 
			.container
				ul.partners_list
					li
						a(href='#', target='_blank', title='')
							img(src='../img/lzv-rights/logo_edera.png', alt='')
					li
						a(href='#', target='_blank', title='')
							img(src='../img/lzv-rights/logo.png', alt='')


		include ../includes/footer.jade
		include ../includes/scripts.jade
