include ../includes/head-lzv-rights.jade
doctype html
html
	+head
	body

		include ../includes/gtm.jade
		include ../includes/header.jade
		.t-cover(style="height:300px; background-image:url('../img/lzv-rights/Header.png');")
			.t270
				.t-valign_middle(style='height:300px;')
					.t270__wrapper
						div.h1-lzv Знай свої права!
		section
			.container
				p.lzv-main
					| Сьогодні в Україні живе понад 244 тисячі людей з ВІЛ. Під медичним наглядом перебуває лише 143 тисячі. Більше половини нових випадків ВІЛ серед українців виявляють на останній чи передостанній клінічних стадіях. Права людей, які живуть з ВІЛ, порушуються частіше, ніж ми можемо уявити.
					br
					br
					span.lzv-bold Спецпроект «Знай свої права!»
					|  — про і для людей, які живуть з ВІЛ, та їх рідних. А також: медичних і соціальних працівників, правозахисників, громадських активістів, працівників поліції, чиновників. Ініціатором спецпроекту є БО «100 відсотків життя».
					| Авторами контенту — експерти 
					span.lzv-bold Української Гельсінської спілки з прав людини.

			.t-container
				center
					div.lzv-video
						iframe#youtubeiframe68551264(width='100%', height='100%', src='https://www.youtube.com/embed/wAWT8Gw610g', frameborder='0', allowfullscreen='', style='height: 452.5px; max-width:900px;')

			.t-container
				center
					h2.h2-lzv Чим корисний спецпроект?
			.t-container		
					.t-col_4
						center
							img.t-img(src='../img/lzv-rights/icon/document.png')
							p.icon-descr Допоможе розібратись з основними правами ВІЛ-позитивних осіб
					.t-col_4
						center
							img.t-img(src='../img/lzv-rights/icon/monitoring.png')
							p.icon-descr Навчить розрізняти ключові порушення прав
					.t-col_4
						center
							img.t-img(src='../img/lzv-rights/icon/management.png')
							p.icon-descr Розкриє діючі механізми захисту прав ЛЖВ

		section(style='background-color: #fafafa;')
			.t-container
				center
					h2.h2-lzv Навчальні матеріали
			.t-container		
					.t-col_4
						a(href='discrimination-lzv' target="_blank")
							img(src='../img/lzv-rights/CARD/1.jpg')
							p.card-descr Дискримінація
					.t-col_4
						a(href='./medical' target="_blank")
							img(src='../img/lzv-rights/CARD/2.jpg')
							p.card-descr Медичні права
					.t-col_4
						a(href='./family-rights' target="_blank")
							img(src='../img/lzv-rights/CARD/3.jpg')
							p.card-descr Сімейні права
					.separator
					.t-col_4
						a(href='./social' target="_blank")
							img(src='../img/lzv-rights/CARD/4.jpg')
							p.card-descr Соціальні права
					.t-col_4
						a(href='./police' target="_blank")
							img(src='../img/lzv-rights/CARD/5.jpg')
							p.card-descr Спілкування з поліцією
					.t-col_4
						a(href='./protection' target="_blank")
							img(src='../img/lzv-rights/CARD/6.jpg')
							p.card-descr Захист прав

		include ../includes/lzv-footer.jade
		include ../includes/footer.jade
		include ../includes/scripts.jade
		
