include ../includes/head-lzv-rights.jade
doctype html
html
	+head
	body

		include ../includes/gtm.jade
		include ../includes/header.jade

		.lzv-cover.header-image
				.lzv-heading-container
					.lzv-heading
						.h1-lzv Знай свої права!
						
		section
			.container
				p.lzv-main
					| Сьогодні в Україні живе понад 244 тисячі людей з ВІЛ. Під медичним наглядом перебуває лише 143 тисячі. Більше половини нових випадків ВІЛ серед українців виявляють на останній чи передостанній клінічних стадіях. Права людей, які живуть з ВІЛ, порушуються частіше, ніж ми можемо уявити.
					br
					br
					span.lzv-bold Спецпроект «Знай свої права!»
					|  — про і для людей, які живуть з ВІЛ, та їх рідних. А також: медичних і соціальних працівників, правозахисників, громадських активістів, працівників поліції, чиновників. Ініціатором спецпроекту є БО «100 відсотків життя».
					| Авторами контенту — експерти 
					span.lzv-bold Української Гельсінської спілки з прав людини.

			.lzv-container
				center
					.lzv-video
						iframe(src='https://www.youtube.com/embed/wAWT8Gw610g', width='100%', height='100%', frameborder='0', allowfullscreen='')

			.lzv-container
				center
					h2.h2-lzv Чим корисний спецпроект?
	
			.lzv-container
				.lzv-items
					center.lzv-item
						img.lzv-image(src='/img/lzv-rights/icon/document.png')
						p.icon-descr Допоможе розібратись з основними правами ВІЛ-позитивних осіб
					center.lzv-item
						img.lzv-image(src='/img/lzv-rights/icon/monitoring.png')
						p.icon-descr Навчить розрізняти ключові порушення прав
					center.lzv-item
						img.lzv-image(src='/img/lzv-rights/icon/management.png')
						p.icon-descr Розкриє діючі механізми захисту прав ЛЖВ

		section.lzv-grey-container
			.lzv-container
				center
					h2.h2-lzv Навчальні матеріали
			.lzv-container
				.lzv-items
					.lzv-item
						a(href='discrimination-lzv' target="_blank")
							img(src='/img/lzv-rights/CARD/1.jpg')
							p.card-descr Дискримінація
					.lzv-item
						a(href='./medical' target="_blank")
							img(src='/img/lzv-rights/CARD/2.jpg')
							p.card-descr Медичні права
					.lzv-item
						a(href='./family-rights' target="_blank")
							img(src='/img/lzv-rights/CARD/3.jpg')
							p.card-descr Сімейні права
				.lzv-items
					.lzv-item
						a(href='./social' target="_blank")
							img(src='/img/lzv-rights/CARD/4.jpg')
							p.card-descr Соціальні права
					.lzv-item
						a(href='./police' target="_blank")
							img(src='/img/lzv-rights/CARD/5.jpg')
							p.card-descr Спілкування з поліцією
					.lzv-item
						a(href='./protection' target="_blank")
							img(src='/img/lzv-rights/CARD/6.jpg')
							p.card-descr Захист прав

		include ./lzv-footer.jade

		section.mon-alarm.mon-main
			.container
				a.button.button--big(href='./en-index' target="_blank")
					| English version

		include ../includes/footer.jade
		include ../includes/scripts.jade