section
	.container
		center
			p.lzv-main Спецроект реалізований в рамках проекту 
				a(href="http://network.org.ua/ru/2018/06/06/v-ukrayini-rozpochato-masshtabnyj-proekt-z-podolannya-vil-snidu-healthlink/", target='_blank')
					|HealthLink: «Прискорення зусиль з протидії ВІЛ в Україні» 
				| за&nbsp;підтримки Агентства США з міжнародного розвитку (USAID). Зміст проекту є відповідальністю БО "100 відсотків життя"  і не обов’язково відображає погляди USAID чи уряду Сполучених Штатів Америки. 
			br
			a.button.button--big(href='https://drive.google.com/file/d/12_jlYcBMsw1PQHApliRnLUfFjwYYWnc4/view' target="_blank")
				| Корисні контакти

section.google_form
	p
		| Маєте зауваження чи побажання стосовно спецпроекту?
	a(target='_blank', href="https://www.google.com/url?q=https://docs.google.com/forms/d/1uah4zChsqV5Z0gJL-nt5BSsWG5QM5wNGLRv4nijIZaE/edit&sa=D&ust=1538828304757000&usg=AFQjCNFaOQP_LZZLSoV2RArq4eRhbGYKTQ") Повідомте нам!


// ПАРТНЕРИ
#partners.section
	p.h2 
		| Ініціатори проекту
	.container
		ul.partners_list.new
			li
				a(href='https://www.pepfar.gov/', target='_blank', title='')
					img(src='/img/lzv-rights/logo3.png', alt='')
			li
				a(href='https://www.usaid.gov/uk/ukraine', target='_blank', title='')
					img(src='/img/lzv-rights/logo4.png', alt='')
			
	.container
		ul.partners_list.new
			li
				a(href='http://network.org.ua/', target='_blank', title='')
					img(src='/img/lzv-rights/LOG_100_LIFE.png', alt='')
			li
				a(href='http://network.org.ua/ua/2018/06/06/v-ukrayini-rozpochato-masshtabnyj-proekt-z-podolannya-vil-snidu-healthlink/', target='_blank', title='')
					img(src='/img/lzv-rights/HealthLink.png', alt='')
	br    
	p.h2 
		| Організації-розробники 
	.container
		ul.partners_list
			li
				a(href='http://ed-era.com', target='_blank', title='')
					img(src='/img/lzv-rights/logo_edera.png', alt='edera')
			li
				a(href='https://helsinki.org.ua/', target='_blank', title='')
					img(src='/img/lzv-rights/logo.png', alt='')