#partners.section
  p.h2 
    | Ініціатори проекту
  .container
    ul.partners-list.new
      li.partners-list__item
        a.partners-list__link(href='#', target='_blank', title='')
          img.partners-list__img(src='../img/lzv-rights/logo3.png', alt='')
      li.partners-list__item
        a.partners-list__link(href='https://www.usaid.gov/uk/ukraine', target='_blank', title='')
          img.partners-list__img(src='../img/lzv-rights/logo4.png', alt='')
      li.partners-list__item
        a.partners-list__link(href='http://network.org.ua/', target='_blank', title='')
          img.partners-list__img(src='../img/lzv-rights/LOG_100_LIFE.png', alt='')
  br		
  p.h2 
    | Організації-розробники 
  .container
    ul.partners-list
      li.partners-list__item
        a.partners-list__link(href='http://ed-era.com', target='_blank', title='')
          img.partners-list__img(src='../img/lzv-rights/logo_edera.png', alt='edera')
      li.partners-list__item
        a.partners-list__link(href='https://helsinki.org.ua/', target='_blank', title='')
          img.partners-list__img(src='../img/lzv-rights/logo.png', alt='')