#page_footer
    .container
        .col
            img.footer_logo(src='/img/edera_logo_footer.png', alt='EdEra')
            p.mh
                | EdEra creates educational digital and mixed solutions for over 4 years. Currently we are raising money for creating an online course on software development
        .col.col2
            p.mh
                | If you have any questions
            p.mh
            p.mh
            ul
                li
                    a(href='mailto:connect@ed-era.com', title='') connect@ed-era.com

        .col
            p.mh
                | EdEra on social networks:
            ul.socials
                li
                    a.fb(href='https://www.facebook.com/EdEraUa/', target='_blank', title='EdEra on Facebook') Facebook
                li
                    a.tw(href='https://twitter.com/edera_ua', target='_blank', title='EdEra on Twitter') Twitter
                li
                    a(href='https://www.youtube.com/EderaEducation', title='EdEra on Youtube', target='_blank') Youtube
                li
                    a.ig(href='https://www.instagram.com/edera_ua/', target='_blank', title='EdEra on Instagram') Instagram

        .col
            ul.mh
                li
                    a(href='http://ed-era.com/') Home
                li
                    a(href='http://ed-era.com/about/') About
                li
                    a(href='http://ed-era.com/books/') Online books
                li
                    a(href='http://ed-era.com/courses/') Courses
                li
                    a(href='http://blog.ed-era.com/') Blog
            p.copy
                | © 
                span.year 2014–2018&nbsp;
                | EdEra,
                br
                | All rights reserved.
