<!DOCTYPE html>
<html>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Знай свої права!</title>
	<meta name="viewport" content="width=740"/>
	<link rel="shortcut icon" href="/favicon.png"/>
	<!--VK-->
	<meta name="title" content="Знай свої права!"/>
	<meta name="description" content="Спецпроект «Знай свої права!» — про і для людей, які живуть з ВІЛ, та їх рідних. А також — медичних і соціальних..."/>
	<link rel="image_src"/>
	<!--Google-->
	<meta property="place:location:latitude" content="50.4060155"/>
	<meta property="place:location:longitude" content="30.6748589"/>
	<meta property="business:contact_data:street_address" content="Kharkiv ave, 182,"/>
	<meta property="business:contact_data:locality" content="Kyiv"/>
	<meta property="business:contact_data:country_name" content="Ukraine"/>
	<meta property="business:contact_data:email" content="info@ed-era.com"/>
	<!--Google+-->
	<meta itemprop="name" content="Знай свої права!"/>
	<meta itemprop="description" content="Спецпроект «Знай свої права!» — про і для людей, які живуть з ВІЛ, та їх рідних. А також — медичних і соціальних..."/>
	<meta itemprop="image"/>
	<!--Twitter-->
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@info_edera"/>
	<meta name="twitter:title" content="Знай свої права!"/>
	<meta name="twitter:description" content="Спецпроект «Знай свої права!» — про і для людей, які живуть з ВІЛ, та їх рідних. А також — медичних і соціальних..."/>
	<meta name="twitter:image"/>
	<!--Facebook-->
	<!--meta(property='og:url' content= url)-->
	<meta property="og:title" content="Знай свої права!"/>
	<meta property="og:description" content="Спецпроект «Знай свої права!» — про і для людей, які живуть з ВІЛ, та їх рідних. А також — медичних і соціальних..."/>
	<meta property="og:image"/>
	<meta property="og:site_name" content="EdEra"/>
	<link rel="stylesheet" href="/css/lzv-rights.css"/>
	<link rel="stylesheet" href="/css/application.css"/>
	<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/vendor/magnific-popup.css"/>
	<body>
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-N86M5F" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<script>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-N86M5F');
		</script>
		<div id="page_header">
			<div class="container">
				<h1 class="logo"><a href="/" title="EdEra" class="logo_link">EdEra — студія онлайн-освіти. Якісно. Безкоштовно. Без обмежень</a></h1>
				<div class="toggle_menu"> </div>
				<div id="main_navigation">
					<ul class="main_links">
						<li><a href="/courses/" title="Курси">Курси</a></li>
						<li><a href="/books/" title="Книги" class="new">Бібліотека</a></li>
						<li><a href="http://blog.ed-era.com/" target="_blank" title="Новини" class="new">Блог</a></li>
						<li><a href="http://zno.ed-era.com/" title="ЗНО платформа">ЗНО платформа</a></li>
						<li><a href="/about/" title="Про нас">Про нас</a></li>
						<li><a href="/talents" title="Вакансії">Вакансії</a></li>
					</ul>
					<ul class="sign_in_up not_logged_in">
						<li><a href="https://courses.ed-era.com/login">Увійти</a></li>
						<li><a href="https://courses.ed-era.com/register" class="button">Зареєструватися</a></li>
					</ul>
					<ul class="sign_in_up logged_in hidden">
						<li><a href="https://courses.ed-era.com/dashboard">Мої Курси</a></li>
						<li><a href="https://courses.ed-era.com/logout" class="button">Вийти</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="recorddiv68552395" bgimgfield="img" style="height:50vh; background-image:url('../img/lzv-rights/HEAD/1.jpg');" class="t-cover">
			<div id="coverCarry68552395" data-content-cover-id="68552395" data-content-cover-height="50vh" data-content-cover-parallax="" style="height: 50vh; background-attachment: scroll; background-image: url(&quot;../img/lzv-rights/HEAD/1.jpg&quot;);" src="" class="t-cover__carrier loaded"></div>
			<div style="height:50vh;background-color:#000;filter:alpha(opacity:40);KHTMLOpacity:0.4;MozOpacity:0.4;opacity:0.4;" class="t-cover__filter"></div>
			<div class="t270">
				<div class="t-container">
					<div style="height:50vh;" class="t-cover__wrapper t-valign_middle">
						<div class="t270__wrapper">
							<div field="title" style="background-color:#BF3B41; ;" class="t270__title t-title t-title_xxs">Дискримінація</div>
							<div class="t270__separator"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="t-container">
			<div id="rec68553062" style="padding-top:135px;padding-bottom:0px; margin:0 20px;" data-record-type="106" class="r t-rec t-rec_pt_135 t-rec_pb_0 r_showed r_anim">
				<!-- T004-->
				<div class="t004">
					<div class="t-container">
						<div class="t-col t-col_11">
							<div field="text" class="t-text t-text_md">Вам коли-небудь відмовляли в роботі через те, що ви занадто молодий або ж навпаки? Маєте забагато чи замало досвіду? Якщо так, ви вже стикалися з дискримінацією.<br>Чи пов’язана вона зі стереотипами та упередженнями? Якою вона буває? На життєвих прикладах ми розглянемо випадки дискримінації та як вона втілюється в українському законодавстві.</div>
						</div>
					</div>
				</div>
			</div>
			<div id="rec68551264" style="padding-top:90px;padding-bottom:0px; ;" data-record-type="4" class="r t-rec t-rec_pt_90 t-rec_pb_0 r_showed r_anim">
				<!-- T121-->
				<div class="t121">
					<center>
						<div style="height: 452.5px; width:900px;" class="t-width t-width_12">
							<iframe id="youtubeiframe68551264" width="100%" height="100%" src="https://www.youtube.com/embed/TuXg8lyYsEQ" frameborder="0" allowfullscreen="" style="height: 452.5px; width:900px;"></iframe>
						</div>
					</center>
				</div>
			</div>
		</div>
		<div class="t-container quiz_container_big">
			<div id="quiz_application"><br>
				<div v-if="!started"></div>
				<div v-else-if="progress">
					<div class="quiz_container quiz">
						<div class="quiz_progess">Питання:<span> {{index + 1}} / {{quiz.length}}</span></div>
						<div class="quiz_question">
							<h3>{{quiz[index].title}}</h3>
							<div v-if="quiz[index].description !== false">
								<p>{{quiz[index].description}}</p>
							</div>
							<div v-if="quiz[index].img !== false"><img v-bind:src="quiz[index].img"></div>
						</div>
						<div v-for="(answer, key) in quiz[index].answers" class="quiz_answers">
							<div class="quiz_answer">
								<div v-if="quiz[index].type == 0">
									<button v-if="answers[index] !== key" @click="choose(key)" class="quiz_radiobutton"></button>
									<button v-else="" class="quiz_radiobutton chose"></button>
								</div>
								<div v-else="">
									<button v-if="answers[index][key] !== true " @click="choose(key)" class="checkbox"></button>
									<button v-else="" @click="choose(key)" class="checkbox">
										<svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M6.04309 10.943L0.0608365 5.33851C-0.0202788 5.26252 -0.0202788 5.14853 0.0608365 5.07254L1.78454 3.45769C1.86565 3.38169 1.98733 3.38169 2.06844 3.45769L6.18504 7.31433L13.9316 0.0569948C14.0127 -0.0189983 14.1343 -0.0189983 14.2155 0.0569948L15.9392 1.67185C16.0203 1.74784 16.0203 1.86183 15.9392 1.93782L6.327 10.943C6.24588 11.019 6.12421 11.019 6.04309 10.943Z" fill="#65B2E1"></path>
										</svg>
									</button>
								</div>
								<div class="quiz_margin_left">
									<p v-if="!answer.image">{{answer.body}}</p><img v-else="" v-bind:src="answer.image">
									<p v-if="quiz[index].type == 0 &amp;&amp; submit == true &amp;&amp; answers[index] === key &amp;&amp; answer.correct === true" class="quiz_hint true">{{answer.hint}}</p>
									<p v-if="quiz[index].type == 1 &amp;&amp; submit == true &amp;&amp; answers[index][key] == true &amp;&amp;  answer.correct === true" class="quiz_hint true">{{answer.hint}}</p>
									<p v-if="quiz[index].type == 0 &amp;&amp; submit == true &amp;&amp; answers[index] === key &amp;&amp; answer.correct === false" class="quiz_hint false">{{answer.hint}}</p>
									<p v-if="quiz[index].type == 1 &amp;&amp; submit == true &amp;&amp; answers[index][key] == true &amp;&amp;  answer.correct === false" class="quiz_hint false">{{answer.hint}}</p>
								</div>
							</div>
						</div>
						<button v-if="chosen == 0 &amp;&amp; submit === false" class="quiz_button disabled">Відповісти</button>
						<button v-else-if="chosen != 0 &amp;&amp; submit === false" @click="submitAnswer()" class="quiz_button">Відповісти</button>
						<div v-else-if="submit === true" class="quiz_main_hint">
							<button @click="goNext()" class="quiz_button">Далі</button>
							<div>
								<p v-if="check == true" v-html="quiz[index].true_hint"></p>
								<p></p>
								<p v-if="check == false" v-html="quiz[index].false_hint"></p>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div v-else="">
					<div class="quiz_container result">
						<h5>Ваш результат</h5>
						<h5></h5>
						<h2>{{score}}/{{answers.length}}</h2>
						<p>{{resultText[score].description}}</p>
						<button @click="restart()" class="quiz_button">Спробувати ще</button>
					</div>
				</div>
			</div>
		</div>
		<div id="rec68554931" style="padding-top:60px;padding-bottom:60px; ;" data-record-type="106" class="r t-rec t-rec_pt_60 t-rec_pb_60 r_anim r_showed">
			<!-- T004-->
			<div class="t004">
				<div class="t-container">
					<div class="t-col t-col_11">
						<div field="text" class="t-text t-text_md">Спецпроект реалізований в рамках проекту «Прискорення заходів з подолання ВІЛ-інфекції в Україні» (HealthLink) за підтримки Агентства США з міжнародного розвитку (USAID).</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
		<script>
			new Vue({
			el: '#quiz_application',
			data: function() {
			return {
			intro: {
			title: '',
			description: "Ви можете скласт цей тест, щоб краще запам'ятати матеріал.",
			button: 'Почати',
			background: false,
			},
			quiz: [{
			type: 0,
			title: 'Коли загальноприйняті правила та закони по-різному впливають на людей, створюють для одних менш сприятливі умови через вік, стать, расу та інші ознаки, це:',
			description: '',
			img: false,
			true_hint: '<span class="true">+</span>',
			false_hint: '<span class="false">-</span>',
			answers: [{
			body: 'Утиск',
			hint: 'Неправильно',
			correct: false
			},
			{
			body: 'Пряма дискримінація ',
			hint: 'Неправильно',
			correct: false
			},
			{
			body: 'Непряма дискримінація',
			hint: 'Правильно',
			correct: true
			},
			{
			body: 'Просто так склалось ',
			hint: 'Неправильно',
			correct: false
			},
			]
			},
			{
			type: 0,
			title: 'Яка зі вказаних ситуацій НЕ є дискримінацією?',
			description: '',
			img: false,
			true_hint: '<span class="true">+</span>',
			false_hint: '<span class="false">-</span>',
			answers: [{
			body: 'Ви прийшли на співбесіду. Вас запитують про досвід роботи, освіту. А потім — чи збираєтеся ви одружуватись, чи є у вас діти, чи плануєте їх мати. ',
			hint: 'Неправильно',
			correct: false
			},
			{
			body: 'В університеті в одній групі навчаються хлопець і дівчина з Судану. Хлопець дуже подобається дівчині, тому вона пропонує йому зустрічатися. Хлопець відмовляється. ',
			hint: 'Правильно',
			correct: true
			},
			{
			body: 'Охоронця в супермаркеті просять перевести працювати на склад, тому що дізналися про його ВІЛ-позитивний статус. ',
			hint: 'Неправильно',
			correct: false
			},
			{
			body: 'Колега в офісі постійно розповідає, що жінки слабші та не такі розумні як чоловіки. А тому й заробляють менше ',
			hint: 'Неправильно',
			correct: false
			},
			]
			},
			{
			type: 0,
			title: 'Щоб потрапити до приміщення відділення банку, потрібно подолати 8 сходинок, які не обладнані пандусом. Відповідно, люди з інвалідністю та представники інших маломобільних груп не можуть скористатися банківськими послугами в цьому відділенні. Це приклад:',
			description: '',
			img: false,
			true_hint: '<span class="true">+</span>',
			false_hint: '<span class="false">-</span>',
			answers: [{
			body: 'прямої дискримінації',
			hint: 'Неправльно',
			correct: false
			},
			{
			body: 'непрямої дискримінації ',
			hint: 'Неправльно',
			correct: false
			},
			{
			body: 'відмови в розумному пристосуванні ',
			hint: 'Правильно',
			correct: true
			},
			{
			body: 'пособництва в дискримінації',
			hint: 'Неправльно',
			correct: false
			},
			]
			},
			{
			type: 0,
			title: ' Непряма дискримінація може бути виправданою, якщо... ',
			description: '',
			img: false,
			true_hint: '<span class="true">+</span>',
			false_hint: '<span class="false">-</span>',
			answers: [{
			body: 'Вона обґрунтовується правомірною метою. Способи досягнення цієї мети — незалежні та необхідні',
			hint: 'Правильно',
			correct: true
			},
			{
			body: 'її підтримує більшість населення країни/регіону ',
			hint: 'Неправильно',
			correct: false
			},
			{
			body: 'непряма дискримінація ніколи не може бути виправданою',
			hint: 'Неправильно',
			correct: false
			}
			]
			},
			{
			type: 0,
			title: 'Повноваження контролювати дотримання принципу недискримінації в усіх сферах суспільних відносин покладені законодавством на... ',
			description: 'Відповідь на запитання радимо шукати в Законі України «Про засади запобігання та протидії дискримінації в Україні»',
			img: false,
			true_hint: '<span class="true">+</span>',
			false_hint: '<span class="false">-</span>',
			answers: [{
			body: 'органи внутрішніх справ ',
			hint: 'Неправильно',
			correct: false
			},
			{
			body: 'Уповноваженого Верховної Ради України з прав людини ',
			hint: 'Правильно',
			correct: true
			},
			{
			body: 'Кабінет Міністрів України ',
			hint: 'Неправильно',
			correct: false
			},
			{
			body: 'обласні державні адміністрації',
			hint: 'Неправильно',
			correct: false
			},
			]
			},
			],
			resultText: [{
			description: 'Радимо переглянути відео і ще раз пройти тест. Все вдасться!',
			},
			{
			description: 'Радимо переглянути відео і ще раз пройти тест. Все вдасться!',
			},
			{
			description: 'Ви можете краще! Перегляньте відео, щоб покращити свій результат.',
			},
			{
			description: 'Непоганий результат. Радимо переглянути відео ще раз, щоб попрацювати над помилками.',
			},
			{
			description: 'Хороший результат!',
			}, {
			description: 'Чудова робота, так тримати! Попереду — ще більше цікавої інформації.',
			}
			],
			started: false,
			chosen: 0,
			answers: [],
			submit: false,
			progress: true,
			check: false,
			score: 0,
			index: 0
			}
			},
			computed: {
			counter: function() {
			if (this.quiz[this.index].type == 0) {
			if (this.quiz[this.index].answers[this.answers[this.index]].correct == true) {
			this.score++;
			return true;
			} else {
			return false;
			}
			} else {
			for (let i = 0; i < this.quiz[this.index].answers.length; i++) {
			if (this.quiz[this.index].answers[i].correct != this.answers[this.index][i]) {
			return false;
			}
			}
			this.score++;
			return true;
			}
			}
			},
			methods: {
			startTest: function() {
			this.started = true;
			this.answers = Array(this.quiz.length)
			for (let i = 0; i < this.quiz.length; i++) {
			if (this.quiz[i].type == 1) {
			this.answers[i] = Array(this.quiz[i].answers.length).fill(false);
			}
			}
			},
			restart: function() {
			this.started = false;
			this.chosen = 0;
			this.answers = [];
			this.submit = false;
			this.progress = true;
			this.check = false;
			this.score = 0;
			this.index = 0;
			this.startTest();
			},
			choose: function(key) {
			if (this.submit != 0) {
			return false;
			}
			if (this.quiz[this.index].type === 0) {
			Vue.set(this.answers, this.index, key)
			this.chosen = 1;
			} else {
			if (this.answers[this.index][key] === false) {
			Vue.set(this.answers[this.index], key, true);
			this.chosen += 1;
			} else {
			Vue.set(this.answers[this.index], key, false);
			this.chosen -= 1;
			}
			}
			console.log(this.answers);
			},
			submitAnswer: function() {
			this.submit = true;
			this.chosen = 0;
			this.check = this.counter
			},
			goNext: function() {
			this.index++;
			this.submit = false;
			if (this.index === this.quiz.length) {
			this.showResult()
			}
			},
			showResult: function(answers) {
			this.progress = false
			},
			},
			mounted: function() {
			console.log("dsdw");
			this.startTest();
			}
			})
			
			
			
		</script>
		<!-- ПАРТНЕРИ-->
		<div id="partners" class="section">
			<p class="h2">
				 
				Партнери
			</p>
			<div class="container">
				<ul class="partners_list">
					<li><a href="#" target="_blank" title=""><img src="../img/lzv-rights/logo3.png" alt=""></a></li>
					<li><a href="#" target="_blank" title=""><img src="../img/lzv-rights/logo2.png" alt=""></a></li>
					<li><a href="#" target="_blank" title=""><img src="../img/lzv-rights/logo4.png" alt=""></a></li>
				</ul>
			</div><br>
			<p class="h2">
				 
				Організації-розробники 
			</p>
			<div class="container">
				<ul class="partners_list">
					<li><a href="#" target="_blank" title=""><img src="../img/lzv-rights/logo_edera.png" alt=""></a></li>
					<li><a href="#" target="_blank" title=""><img src="../img/lzv-rights/logo.png" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div id="page_footer">
			<div class="container">
				<div class="col"><img src="/img/edera_logo_footer.png" alt="EdEra" class="footer_logo">
					<p class="mh">Український освітній проект, що створює повноцінні онлайн-курси та супроводжувальні матеріали широкого профілю. Наша мета — зробити освіту в країні доступною та якісною, за зразком найкращих західних освітніх ініціатив.</p>
				</div>
				<div class="col col2">
					<p class="mh">З питань реєстрації на сайті та курсу для вчителів початкової школи:</p>
					<p class="mh"></p>
					<p class="mh"></p>
					<ul>
						<li class="mh"><a href="mailto:info@ed-era.com" title="">info@ed-era.com</a></li>
					</ul>
					<p class="mh">Щодо проекту, інших курсів та партнерства:</p>
					<ul>
						<li><a href="mailto:connect@ed-era.com" title="">connect@ed-era.com</a></li>
						<li class="mh"><a href="https://www.google.com.ua/maps/place/%D0%A5%D0%B0%D1%80%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B5+%D1%88%D0%BE%D1%81%D0%B5,+182,+%D0%9A%D0%B8%D1%97%D0%B2,+02000/data=!4m2!3m1!1s0x40d4c4f2552620d3:0x1e27583f6e9cbf03?sa=X&amp;ved=0ahUKEwiak73e4tDbAhWt0aYKHRFeB2YQ8gEIJTAA" target="_blank">м. Київ, Харківське шосе, 182</a></li>
					</ul>
					<p class="mh">Ми працюємо 7 днів на тиждень. Завітати до нас можна в будь-який зручний для вас час, попередивши про свій візит телефоном.</p>
					<p></p>
				</div>
				<div class="col">
					<p class="mh">Слідкуйте за новинами проекту та приєднуйтеся до наших спільнот:</p>
					<ul class="socials">
						<li><a href="https://www.facebook.com/EdEraUa/" target="_blank" title="EdEra у Facebook" class="fb">Facebook</a></li>
						<li><a href="https://twitter.com/edera_ua" target="_blank" title="EdEra в Twitter" class="tw">Twitter</a></li>
						<li><a href="https://www.youtube.com/EderaEducation" title="EdEra у Youtube" target="_blank">Youtube</a></li>
						<li><a href="https://www.instagram.com/edera_ua/" target="_blank" title="EdEra в Instagram" class="ig">Instagram</a></li>
					</ul>
				</div>
				<div class="col">
					<ul class="mh">
						<li><a href="http://ed-era.com/">Головна</a></li>
						<li><a href="http://ed-era.com/about/">Про проект</a></li>
						<li><a href="http://ed-era.com/books/">Онлайн-книги</a></li>
						<li><a href="http://ed-era.com/courses/">Курси</a></li>
						<li><a href="http://blog.ed-era.com/">Блог</a></li>
						<li class="login"><a href="https://courses.ed-era.com/login">Увійти</a></li>
					</ul>
					<p class="copy">© <span class="year">2014–2018&nbsp;</span>EdEra,<br>Усі права захищено.</p>
				</div>
			</div>
		</div>
		<script src="/js/vendor/jquery.js"></script>
		<script src="/js/vendor/jquery.magnific-popup.min.js"></script>
		<script src="/js/vendor/jquery.cookie.js"></script>
		<script src="/js/vendor/likely.js"></script>
		<script src="/js/vendor/slick.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>