// ПРО ЕДЕРУ
  #about.section
    h2
      | Що таке онлайн-курси на 
      strong EdEra
      | ?
    .container
      article.short_info
        h3
          a(href='', title='Інтерактивні лекції')
            | Інтерактивні лекції
        p
          | Лекції від професійних молодих викладачів з поєднанням різних форматів викладу та проміжними запитаннями для кращого засвоєння матеріалу.
      article.short_info
        h3
          a(href='', title='Високоякісні конспекти')
            | Високоякісні конспекти
        p
          | Конспекти до кожної теми, розроблені командою методистів та дизайнерів.  У кінці курсу з них збирається повноцінний підручник західного зразка.
      article.short_info
        h3
          a(href='', title='Екзамени і домашні завдання')
            | Екзамени і домашні завдання
        p
          | Щотижневі домашні завдання та декілька екзаменів протягом курсу. Динамічна сторінка з прогресом для вас та вашого викладача.
      article.short_info
        h3
          a(href='', title='Будь-де, будь-коли')
            | Будь-де, будь-коли
        p
          | Увесь навчальний процес
          br
          | доступний онлайн 24/7.
          br
          | Навчайтесь вдома, у кав'ярні, в бібліотеці.
          br
          | Інтернет — все, що потрібно.
      article.short_info
        h3
          a(href='', title='Спілкування та динаміка')
            | Спілкування та динаміка
        p
          | Обговорюйте проблемні завдання на форумі з іншими учнями та викладачами. Відчувайте, як матеріал доповнюється залежно від ваших потреб.
      article.short_info
        h3
          a(href='', title='Доступність')
            | Доступність
        p
          | Доступніше просто не буває. Забудьте про марні затрати та негарантований результат.