include ../includes/cases-head.jade
doctype html
html
  +head
  body
    include ../includes/gtm.jade
    include ../includes/header.jade
    .library.section.heading.header_cases(style="background-image: url(../img/25/covers/_8.jpg)")
      .container
        h1
          span.exo Довкілля і здоров'я людини
          p.text 
          small EdEra та ILID
        //article.about.hyphenate

    //- СПІЛЬНОКОШТ
    include ../includes/banners/banner-25.jade

    section.materials_features(style='padding: 20px 0!important;')
      .container
        ol.arrows
          li
            a(href='./index.html') До всіх модулів
          li
            a(href='#') Довкілля і здоров'я людини

    section.materials_features
      .container
        .description_block
          p.lead
            | Як на наше здоров’я впливає місцевість, де ми живемо? Чому надлишок чи відсутність певних хімічних елементів у ґрунті, воді, повітрі можуть шкодити чи, навпаки, допомагати людині? Чи залежить наше здоров’я від клімату рідного краю?
            br
          p.lead
            | І – нарешті – як, знаючи все це, убезпечити своє здоров’я  від можливого шкідливого впливу навколишнього середовища та як треба поводитися у повсякденні, щоб повсякденної поведінки для профілактики природних захворювань.
          
        article
            a.popup-youtube(href='https://drive.google.com/open?id=1ea3mYNqczNN2g-v_ITI-_V-8w5iqZ7Vs')
              img(src='../img/25/archive.png')
              p.introduction Завантажити матеріали для уроку

    // Programs
    section.bookshelf
      .container
        h2
          | Матеріали заняття
        .book.about
          a(href='https://drive.google.com/open?id=11nQ1bpT794aSVuo1sGNwPt1oGBNGYkIH')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій «Демографічні процеси в суспільстві»
                  small
                    | 45 хв

        .book.about
          a(href='https://drive.google.com/open?id=1M5aGPNDV7SiX9W70Qlluwl92--BSgAXU')
            figure
              img.cases(alt='', src='../img/25/picture.png')
              figcaption
                h3
                | Презентація
                small
                  | PDF

    section.materials_features.archive
      .container
        .description_block
          p.lead
            | Щоб провести заняття у себе в школі вчителю потрібно завантажити архів з файлами та ознайомитись з додатковими матеріалами. 
        
        article  
          a.button.button--big(href='https://drive.google.com/open?id=1ea3mYNqczNN2g-v_ITI-_V-8w5iqZ7Vs')
            | Завантажити матеріали
            sup 
              i.fa.fa-floppy-o

    #partners.section
      .container
        p.h2
          | Організації-розробники
        ul.partners_list
          li
            a(href='https://www.ed-era.com', target='_blank', title='EdEra')
              img(src='../img/25/1/edera_logo.png', alt='EdEra')
          li
            a(href='https://ilid.org.ua/', target='_blank', title='ILID Ukraine')
              img(src='../img/25/1/ILID_logo.png', alt='EdEra')

    include ../includes/footer.jade
    include ../includes/scripts.jade