include ../includes/cases-head.jade
doctype html
html
  +head
  body
    include ../includes/gtm.jade
    include ../includes/header.jade
    .library.section.heading.header_cases(style="background-image: url(../img/25/i/11.jpg)")
      .container.cases_25
        a(href='/modules')
          i.fa.fa-angle-left 
          | До всіх модулів
        h1
          span.exo Як відрізнити факт від думки?
          p.text Чи дотримувалися прав людини в Англії 16 століття? Учні здійснять історичний екскурс, дізнаються, що таке «криваві закони» та як змінювалося англійське суспільство. Крім цього, вони стануть парламентарями та вирішуватимуть долю тогочасних селян. Це дозволить усвідомити цінність громадянської свідомості та прав людини. 
          small EdEra та ILID
        //article.about.hyphenate

    //- СПІЛЬНОКОШТ
    include ../includes/banners/banner-25.jade


    // Programs
    section.bookshelf
      .container.cases_material
        h2
          | Матеріали заняття 
        .book.about
          a(href='https://drive.google.com/open?id=1Q8vo4H43l4_90HdQoVXlM4fCLofhXkF7')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій
                  small
                    | 45 хв

        .book.about
          a(href='https://drive.google.com/open?id=1oRKz1H1yS21CxnppKhwCVIm0tOIYV_em')
            figure
              img.cases(alt='', src='../img/25/picture.png')
              figcaption
                h3
                  | Презентація
                  small
                    | PDF

        .book.about
          a(href='https://drive.google.com/open?id=1Oi73JMNFLVqLKvTg1Yk_mg3LxNm3gAOY')
            figure
              img.cases(alt='', src='../img/25/notebook.png')
              figcaption
                h3
                  | Додаток

    section.materials_features.archive
      .container.cases_btn
        .description_block
          p.lead
            | Щоб провести заняття у себе в школі вчителю потрібно завантажити архів з файлами та ознайомитись з додатковими матеріалами. 
        
        article  
          a.button.button--big(href='https://drive.google.com/open?id=15HtZXxa2QPav7hAoutUEo-R2OzwgXBJI')
            | Завантажити матеріали
            sup 
              i.fa.fa-floppy-o

    #partners.section
      .container
        p.h2
          | Організації-розробники
        ul.partners_list
          li
            a(href='https://www.ed-era.com', target='_blank', title='EdEra')
              img(src='../img/25/1/edera_logo.png', alt='EdEra')
          li
            a(href='https://ilid.org.ua/', target='_blank', title='ILID Ukraine')
              img(src='../img/25/1/ILID_logo.png', alt='EdEra')

    include ../includes/footer.jade
    include ../includes/scripts.jade