include ../includes/cases-head.jade
doctype html
html
  +head
  body
    include ../includes/gtm.jade
    include ../includes/header.jade
    .library.section.heading.header_cases(style="background-image: url(../img/25/i/13.jpg)")
      .container.cases_25
        a(href='/modules')
          i.fa.fa-angle-left 
          | До всіх модулів
        h1
          span.exo Я - громадянин?
          p.text Хто такий громадянин? Чи має він права? А обов’язки? У цьому занятті, побудованому на матеріалах повісті-казки Галини Малик «Незвичайні пригоди Алі в країні Недоладії», учні не лише слідкують за пригодами Алі. Вони ще й досліджують соціально-етичні поняття та користуються різноманітними ресурсами — від QR-кодів до Академічного тлумачного словника української мови.
          small EdEra та ILID
        //article.about.hyphenate

    //- СПІЛЬНОКОШТ
    include ../includes/banners/banner-25.jade

        

    // Programs
    section.bookshelf
      .container.cases_material
        h2
          | Матеріали заняття 
        .book.about
          a(href='https://drive.google.com/open?id=1XugYL3ZkwX25cDsrfI0uEdvRpi3KUlAo')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій «Я - громадянин?»
                  small
                    | 45 хв

        .book.about
          a(href='https://drive.google.com/open?id=1xChtFiys_W0M2Cy05QOHVHakxcOCBtlS')
            figure
              img.cases(alt='', src='../img/25/picture.png')
              figcaption
                h3
                  | Презентація
                  small
                    | PDF

        .book.about
          a(href='https://drive.google.com/open?id=1KTOoNTQoKWFuadbb3DnMgobUE10d13gP')
            figure
              img.cases(alt='', src='../img/25/notebook.png')
              figcaption
                h3
                  | Додаток

    section.materials_features.archive
      .container.cases_btn
        .description_block
          p.lead
            | Щоб провести заняття у себе в школі вчителю потрібно завантажити архів з файлами та ознайомитись з додатковими матеріалами. 
        
        article  
          a.button.button--big(href='https://drive.google.com/open?id=1eGmtjW4cRR1g8SretgL8ex5nJQtnbwTa')
            | Завантажити матеріали
            sup 
              i.fa.fa-floppy-o

    include partners.jade

    include ../includes/footer.jade
    include ../includes/scripts.jade