include ../includes/cases-head.pug
doctype html
html
  +head
  body
    include ../includes/gtm.pug
    include ../includes/header.pug
    .library.section.heading.header_cases(style="background-image: url(../img/25/i/1.jpg)")
      .container.cases_25
        a(href='/modules')
          i.fa.fa-angle-left
          | До всіх модулів
        h1
          span.exo Ідеальна держава
          p.text Яка вона, ідеальна держава? У цьому занятті учні дізнаються, чим держава відрізняється від країни, розглянуть характеристики та критерії успішності держав світу. А насамкінець — стануть консультантами та застосують отримані знання на практиці
          small EdEra та ILID
        //article.about.hyphenate

    //- СПІЛЬНОКОШТ
    a.banner_a(href="https://biggggidea.com/project/edera-onlajn-osvita-z-lyubovyu/", target="_blank" title="EdEra на Спільнокошті")
      .banner_25
        img.left_img(src="../img/25/left_banner.png" alt="")
        p Підтримайте <span>EdEra</span>
        img.right_img(src="../img/25/right_banner.png" alt="")

    // Programs
    section.bookshelf
      .container.cases_material
        h2
          | Матеріали заняття
        .book.about
          a(href='https://drive.google.com/open?id=1ME0jIzekeTbcoNUGm2ohes-mmF1_WnSN')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій — «Ідеальна держава»
                  small
                    | 45 хв

        .book.about
          a(href='https://drive.google.com/open?id=11nhOvMY2ZRHBxpy40WqrRsnSCKoGqBtt')
            figure
              img.cases(alt='', src='../img/25/picture.png')
              figcaption
                h3
                  |  Презентація
                  small#anchor-timeline
                    | PDF

    #partners.section
      .container
        p.h2
          | Організації-розробники
        ul.partners_list
          li
            a(href='https://www.ed-era.com', target='_blank', title='EdEra')
              img(src='../img/25/1/edera_logo.png', alt='EdEra')
          li
            a(href='https://ilid.org.ua/', target='_blank', title='ILID Ukraine')
              img(src='../img/25/1/ILID_logo.png', alt='ILID')

    include ../includes/footer.pug
    include ../includes/scripts.pug
