include ../includes/cases-head.jade
doctype html
html
  +head
  body
    includ
    include ../includes/gtm.jade
    include ../includes/header.jade
    .librar.section.heading.header_cases(style="background-image: url(/img/25/25-cases-cover.jpg)")
      .container
        h1.bannerh1
          span.exo Навчальні модулі для формування громадянської компетентності
          p.text Пропонуємо 14 ідей для шкільних занять, які допоможуть сформувати практичні навички в учнів. Адаптовуйте навчальні матеріали на власний розсуд. Використовуйте їх у межах уроків чи позаурочних заходів. Експериментувати&nbsp;—&nbsp;просто!
          small EdEra та ILID
        //article.about.hyphenate




    //- СПІЛЬНОКОШТ
    a.banner_a(href="https://biggggidea.com/project/edera-onlajn-osvita-z-lyubovyu/", target="_blank" title="EdEra на Спільнокошті") 
      .banner_25
        img.left_img(src="/img/25/left_banner.png" alt="")
        p Підтримайте <span>EdEra</span>
        img.right_img(src="/img/25/right_banner.png" alt="")



        //courses

    .cases_25_block 
      .container
        h2
          | Навчальні заняття
        div.cases_lock
          .left
            h3
              | Оберіть категорію
            div
              label.cases_filter
                | Соціальний активізм
                input.cases_checkbox(type="checkbox" value="1")
                span.checkmark
              label.cases_filter
                | Критичне мислення
                input.cases_checkbox(type="checkbox" value="2")
                span.checkmark
              label.cases_filter
                | Права людини 
                input.cases_checkbox(type="checkbox" value="3")
                span.checkmark
              label.cases_filter
                | Фінансова грамотність 
                input.cases_checkbox(type="checkbox" value="4")
                span.checkmark
              label.cases_filter
                | Громадянська відповідальність 
                input.cases_checkbox(type="checkbox" value="5")
                span.checkmark
              label.cases_filter
                | Медіаграмотність 
                input.cases_checkbox(type="checkbox" value="6")
                span.checkmark
          .right.cases_block


            .case
              .img(style="background-image: url(/img/25/cards/1.jpg)")
              .info
                h3
                  | Ідеальна держава
                p
                  | Яка вона, ідеальна держава? У цьому занятті учні дізнаються, чим держава відрізняється від країни, розглянуть характеристики та критерії успішності держав світу. А насамкінець — стануть...
                a(href='./idealna-derjava-1.html')
                  | переглянути 


            .case
              .img(style="background-image: url(/img/25/cards/2.jpg)")
              .info
                h3
                  | Підготовка та реалізація проектів
                p
                  |Щодня ми стикаємося з викликами — як особистими, так і суспільними. Уміння швидко реагувати та складати план дій — незамінна навичка сьогодення. Дізнайтеся, як пов’язані спільноти...
                a(href='./pidgotovka-realizaciya-proektiv-3.html')
                  | переглянути 


            .case
              .img(style="background-image: url(/img/25/cards/3.jpg)")
              .info
                h3
                  | Правда у фактах
                p
                  |У бурхливому інформаційному потоці складно помітити маніпулювання фактами та відрізнити правду від брехні. Медіаграмотність сьогодні важлива як ніколи, тому це заняття присвяченею...
                a(href='./pravda-v-faktah-4.html')
                  | переглянути 

            .case
              .img(style="background-image: url(/img/25/cards/4.jpg)")
              .info
                h3
                  | Енергозбереження у моєму домі
                p
                  |Щохвилини в світі неефективно витрачається 1000 кВт енергії. Їх можна було б зберегти та використати для освітлення 30 000 будинків! Енергозбереження починається з кожного дому. Замисліться...
                a(href='./energozberegennya-5')
                  | переглянути 

            .case
              .img(style="background-image: url(/img/25/cards/5.jpg)")
              .info
                h3
                  | Мій бюджет
                p
                  |Гроші визначають статок родин і благополуччя держави, дають доступ до необмежених можливостей і ресурсів. Але чому саме ці кольорові папірці дозволяють отримати гарну іграшку, модний одяг або смачну їжу...
                a(href='./miliard-gryven-6.html')
                  | переглянути 

            .case
              .img(style="background-image: url(/img/25/cards/6.jpg)")
              .info
                h3
                  | Демографічні процеси в суспільств
                p
                  |Кількість людей на планеті невпинно зростає — наразі нас уже близько 7,5 млрд.Однак чому ж з 1993 року кількість населення в Україні зменшується? Поговоримо про причини і наслідки демографічних процесів...

                a(href='./demografichni-procesy-7.html')
                  | переглянути 

            .case
              .img(style="background-image: url(/img/25/cards/14.jpg)")
              .info
                h3
                  | Довкілля і здоров’я людини
                p
                  |Як на наше здоров’я впливає місцевість, де ми живемо? Чому надлишок чи відсутність певних хімічних елементів у ґрунті, воді, повітрі можуть шкодити чи, навпаки, допомагати...

                a(href='./dovkillya-8.html')
                  | переглянути 

            .case
              .img(style="background-image: url(/img/25/cards/7.jpg)")
              .info
                h3
                  | Шкільний урок волонтерства
                p
                  |Ми часто чуємо слово «волонтер», але рідко замислюємося, що саме воно означає. То що ж таке волонтерство? І хто такий волонтер? У цьому занятті ви дізнаєтеся про різновиди волонтерства, як долучитися...

                a(href='./volonterstvo-9.html')
                  | переглянути 

            .case
              .img(style="background-image: url(/img/25/cards/8.jpg)")
              .info
                h3
                  | Вирішує мозок
                p
                  |Руде волосся чи зелені очі, ліворукість, негативний резус-фактор, гомосексуальність. Хто це визначає — традиції, суспільство, виховання? А можливо, це біологічні вроджені особливості? У цьому занятті...

                a(href='./vyrishue-mozok-10.html')
                  | переглянути 

            .case
              .img(style="background-image: url(/img/25/cards/9.jpg)")
              .info
                h3
                  | Компетентнісні завдання
                p
                  |Світ змінюється та вимагає навичок, про які раніше й не чули — медіа- та фінансова грамотність, вміння працювати з інформацією, навчання впродовж життя. Компетентнісні завдання дозволяють навчити дітей...

                a(href='./kompetentnisni-zavdannya-11.html')
                  | переглянути 


            .case
              .img(style="background-image: url(/img/25/cards/10.jpg)")
              .info
                h3
                  | Англія в 16 ст.: ретроспектива
                p
                  |Чи дотримувалися прав людини в Англії 16 століття? Учні здійснять історичний екскурс, дізнаються, що таке «криваві закони» та як змінювалося англійське суспільство. Крім цього, вони стануть парламентарями...

                a(href='./history-12.html')
                  | переглянути 
      
            .case
              .img(style="background-image: url(/img/25/cards/11.jpg)")
              .info
                h3
                  | Як відрізнити факт від думки?
                p
                  |Факт і думка — це різні речі, але в сучасному інформаційному потоці їх легко сплутати. У цьому занятті учні навчаться відрізняти факт від думки та зрозуміють, наскільки важливо критично мислити та вдумливо...

                a(href='./english-13.html')
                  | переглянути 
           

            .case
              .img(style="background-image: url(/img/25/cards/12.jpg)")
              .info
                h3
                  | Громадський бюджет
                p
                  |Змінювати життя власного міста — не так складно, як здається на перший погляд. І громада, і окремий громадянин можуть долучитися до позитивних змін завдяки бюджету участі. Учні дізнаються, що таке...

                a(href='./gromadskyi-budget-14.html')
                  | переглянути 

            .case
              .img(style="background-image: url(/img/25/cards/13.jpg)")
              .info
                h3
                  | Я - громадянин?
                p
                  |Хто такий громадянин? Чи має він права? А обов’язки? У цьому занятті, побудованому на матеріалах повісті-казки Галини Малик «Незвичайні пригоди Алі в країні Недоладії», учні не лише слідкують за пригодами...

                a(href='./gromadyanyn-15.html')
                  | переглянути 



    section.subscription
      .container.google_form
        p
          | Заповніть форму, щоб отримати електронний сертифікат:
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSeARjSkqwR8SbnBfLN8ZPmK8RJDiX6IH8fNtmm3wy5iNPICZA/viewform?usp=sf_link", alt='Google Form')
          Заповнити форму

    #partners.section
      .container
        p.h2
          | Організації-розробники
        ul.partners_list
          li
            a(href='https://www.ed-era.com', target='_blank', title='EdEra')
              img(src='/img/25/1/edera_logo.png', alt='EdEra')
          li
            a(href='https://ilid.org.ua/', target='_blank', title='ILID Ukraine')
              img(src='/img/25/1/ILID_logo.png', alt='EdEra')

    include ../includes/footer.jade
    include ../includes/scripts.jade
    script(src='/js/filter.js')