include ../includes/cases-head.pug
doctype html
html
  +head
  body
    include ../includes/gtm.pug
    include ../includes/header.pug
    .library.section.heading.header_cases(style="background-image: url(../img/25/i/9.jpg)")
      .container.cases_25
        a(href='/modules')
          i.fa.fa-angle-left
          | До всіх модулів
        h1
          span.exo Компетентнісні завдання
          p.text Світ змінюється та вимагає навичок, про які раніше й не чули — медіа- та фінансова грамотність, вміння працювати з інформацією, навчання впродовж життя. Компетентнісні завдання дозволяють навчити дітей діяти та вирішувати реальні проблеми. Учні побувають у ролі міського голови та винахідника й зрозуміють, що шкільні знання можна застосовувати й поза школою
          small EdEra, ILID та ЕйдоС
        //article.about.hyphenate

    //- СПІЛЬНОКОШТ
    a.banner_a(href="https://biggggidea.com/project/edera-onlajn-osvita-z-lyubovyu/", target="_blank" title="EdEra на Спільнокошті")
      .banner_25
        img.left_img(src="../img/25/left_banner.png" alt="")
        p Підтримайте <span>EdEra</span>
        img.right_img(src="../img/25/right_banner.png" alt="")


    // Programs
    section.bookshelf
      .container.cases_material
        h2
          | Матеріали заняття
        .book.about
          a.popup-youtube(href='https://www.youtube.com/watch?v=SNOpppfsoMA')
            figure
              img.cases(alt='', src='../img/25/video-player.png')
              figcaption
                h3
                  | Методичне відео

        .book.about
          a(href='https://drive.google.com/open?id=1kLvngklgjhxm3dbjmY6qpiZNmZh6lYeO')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій «Юний винахідник»
                  small
                    | 135 хв

        .book.about
          a(href='https://drive.google.com/open?id=10cf0inEFwPeMNaTxIg8tEedIS2LA2I-f')
            figure
              img.cases(alt='', src='../img/25/notebook.png')
              figcaption
                h3
                  | Проектний лист
                  small
                    | PDF

        .book.about
          a(href='https://drive.google.com/open?id=1OvHHOXukl37l8KuogY7v9Pq9DJrxoyy5')
            figure
              img.cases(alt='', src='../img/25/notebook.png')
              figcaption
                h3
                  | Бланк оцінювання
                  small
                    | PDF

        .book.about
          a(href='https://drive.google.com/open?id=1kK2KyABxM3rQ_4d2X9eZ3hg9NT6w5V5p')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій «Моє місто» ч.1
                  small
                    | 90 хв

        .book.about
          a(href='https://drive.google.com/open?id=1-CghrQdSLyXqaBIOQqsHXOpNKNIOs5ZL')
            figure
              img.cases(alt='', src='../img/25/notebook.png')
              figcaption
                h3
                  | Аркуш учня
                  small
                    | PDF

        .book.about
          a(href='https://drive.google.com/open?id=1yeO-DZtaFJigJhIAL7FlA8hJpNHmgK7a')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій «Моє місто» ч.2
                  small
                    | 90 хв


        .book.about
          a(href='https://drive.google.com/open?id=1gHIkD-ikvVcazHLnlwDHeNw7z6huA_hl')
            figure
              img.cases(alt='', src='../img/25/notebook.png')
              figcaption
                h3
                  | Домашнє завдання
                  small
                    | PDF

    section.materials_features.archive
      .container.cases_btn
        .description_block
          p.lead
            | Щоб провести заняття у себе в школі вчителю потрібно завантажити архів з файлами та ознайомитись з додатковими матеріалами.

        article
          a.button.button--big(href='https://drive.google.com/open?id=1-0qrzndcPKyWHQm-OsxoMtglV8jq27Pt')
            | Завантажити матеріали
            sup
              i.fa.fa-floppy-o

    #partners.section
      .container
        p.h2
          | Організації-розробники
        ul.partners_list
          li
            a(href='https://www.ed-era.com', target='_blank', title='EdEra')
              img(src='../img/25/1/edera_logo.png', alt='EdEra')
          li
            a(href='https://ilid.org.ua/', target='_blank', title='ILID Ukraine')
              img(src='../img/25/1/ILID_logo.png', alt='EdEra')

    include ../includes/footer.pug
    include ../includes/scripts.pug
