#partners.section
  .container
    p.h2
      | Організації-розробники
    ul.partners-list
      li.partners-list__item
        a.partners-list__link(href='https://www.ed-era.com', target='_blank', title='EdEra')
          img.partners-list__img(src='../img/25/1/edera_logo.png', alt='EdEra')
      li.partners-list__item
        a.partners-list__link(href='https://ilid.org.ua/', target='_blank', title='ILID Ukraine')
          img.partners-list__img(src='../img/25/1/ILID_logo.png', alt='EdEra')