include ../includes/cases-head.pug
doctype html
html
  +head
  body
    include ../includes/gtm.pug
    include ../includes/header.pug
    .library.section.heading.header_cases(style="background-image: url(../img/25/i/3.jpg)")
      .container.cases_25
        a(href='/modules')
          i.fa.fa-angle-left
          | До всіх модулів
        h1
          span.exo Правда в фактах
          p.text У бурхливому інформаційному потоці складно помітити маніпулювання фактами та відрізнити правду від брехні. Медіаграмотність сьогодні важлива як ніколи, тому це заняття присвячене фактам, фейкам та фактчекінгу. Довіряйте, але перевіряйте.
          small EdEra та ILID
        //article.about.hyphenate

    //- СПІЛЬНОКОШТ
    a.banner_a(href="https://biggggidea.com/project/edera-onlajn-osvita-z-lyubovyu/", target="_blank" title="EdEra на Спільнокошті")
      .banner_25
        img.left_img(src="../img/25/left_banner.png" alt="")
        p Підтримайте <span>EdEra</span>
        img.right_img(src="../img/25/right_banner.png" alt="")


    // Programs
    section.bookshelf
      .container.cases_material
        h2
          | Матеріали заняття №1
        .book.about
          a(href='https://drive.google.com/open?id=1OUrlmX9yQBJ_E91kx2sK2rkpjuxxouc0')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій №1
                  small
                    | 45 хв

        .book.about
          a(href='https://drive.google.com/open?id=1B0I_cdp9elpZzEvmSgMyRSzoTyZsUiJY')
            figure
              img.cases(alt='', src='../img/25/picture.png')
              figcaption
                h3
                  | Презентація 1
                  small
                    | PDF

        .book.about
          a(href='https://drive.google.com/open?id=11c03GHLNrodEurACmhtPPAc-8Sn8Eyz8')
            figure
              img.cases(alt='', src='../img/25/notebook.png')
              figcaption
                h3
                  | Методичка
                  small
                    | 45 хв

        h2
          | Матеріали заняття №2
        .book.about
          a(href='https://drive.google.com/open?id=1SzLDGo1nhE5ZrPf6UcOHRMO1_LUXnf1e')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій №2
                  small
                    | 45 хв

        .book.about
          a(href='https://drive.google.com/open?id=1zAn9EOlRuQeOXt3P71fTIizFwmn4aNHz')
            figure
              img.cases(alt='', src='../img/25/picture.png')
              figcaption
                h3
                  | Презентація 2
                  small
                    | PDF

        .book.about
          a.popup-youtube(href='https://www.youtube.com/watch?v=IpJhBfBwuoA')
            figure
              img.cases(alt='', src='../img/25/video-player.png')
              figcaption
                h3
                  | Відео

    section.materials_features.archive
      .container.cases_btn
        .description_block
          p.lead
            | Щоб провести заняття у себе в школі вчителю потрібно завантажити архів з файлами та ознайомитись з додатковими матеріалами.

        article
          a.button.button--big(href='https://drive.google.com/open?id=13BaWdSK3GJfmKg1yHp0fxwRJaUXDxOYa')
            | Завантажити матеріали
            sup
              i.fa.fa-floppy-o

    #partners.section
      .container
        p.h2
          | Організації-розробники
        ul.partners_list
          li
            a(href='https://www.ed-era.com', target='_blank', title='EdEra')
              img(src='../img/25/1/edera_logo.png', alt='EdEra')
          li
            a(href='https://ilid.org.ua/', target='_blank', title='ILID Ukraine')
              img(src='../img/25/1/ILID_logo.png', alt='EdEra')
          li
            a(href='https://www.cactus.ngo/', target='_blank', title='Cactus NGO')
              img(src='../img/25/1/cactus.png', alt='Cactus')

    include ../includes/footer.pug
    include ../includes/scripts.pug
