include ../includes/cases-head.jade
doctype html
html
  +head
  body
    include ../includes/gtm.jade
    include ../includes/header.jade
    .library.section.heading.header_cases(style="background-image: url(../img/25/i/8.jpg)")
      .container.cases_25
        a(href='/modules')
          i.fa.fa-angle-left 
          | До всіх модулів
        h1
          span.exo Вирішує мозок
          p.text Руде волосся чи зелені очі, ліворукість, негативний резус-фактор, гомосексуальність. Хто це визначає — традиції, суспільство, виховання? А можливо, це біологічні вроджені особливості? У цьому занятті ви ознайомитесь з працями нейробіологів, науковими дослідами, та дізнаєтеся, що ж насправді вирішує мозок.
          small EdEra та ILID
        //article.about.hyphenate

    //- СПІЛЬНОКОШТ
    include ../includes/banners/banner-25.jade

   

    // Programs
    section.bookshelf
      .container
        h2
          | Матеріали заняття
        .book.about
          a(href='https://drive.google.com/open?id=1iDEuXNKbnRUSF-FSsTitdwfgEhSZn7qA')
            figure
              img.cases(alt='', src='../img/25/scenario.png')
              figcaption
                h3
                  | Сценарій «Вирішує мозок»
                  small
                    | 45 хв

        .book.about
          a(href='https://drive.google.com/open?id=1m_WV5LQurPMvmE69eyAq_2hAGfnIR8C8')
            figure
              img.cases(alt='', src='../img/25/picture.png')
              figcaption
                h3
                  | Презентація
                  small
                    | PDF

    section.materials_features.archive
      .container.cases_material
        .description_block
          p.lead
            | Щоб провести заняття у себе в школі вчителю потрібно завантажити архів з файлами та ознайомитись з додатковими матеріалами. 
        
        article  
          a.button.button--big(href='https://drive.google.com/open?id=1-0qrzndcPKyWHQm-OsxoMtglV8jq27Pt')
            | Завантажити матеріали
            sup 
              i.fa.fa-floppy-o

    include partners.jade

    include ../includes/footer.jade
    include ../includes/scripts.jade