//
   Created by olga on 17-08-2015.
section.support_us
   .container
      p.lead
         | Подобається книга? Допоможіть людям дізнатися про неї, поділившись новиною:
      .likely.likely-big.likely--custom
         .facebook Шернути
         .twitter(data-via='info_edera') Твітнути
         .gplus Плюсанути