.row
  .col-12
    #page_footer
      .container
        .col
          img.footer_logo(src='/img/edera_logo_footer.png', alt='EdEra')
          p.mh
            | EdEra — студія онлайн-освіти. Ми робимо онлайн-освіту в Україні якісною та доступною. Наша команда створює онлайн-курси, спецпроекти, інтерактивні підручники та освітні блоги.
        .col.col2
          p.mh З питань реєстрації на сайті та курсу для вчителів початкової школи:
          p.mh
          p.mh
          ul
            li.mh
              a(href='mailto:info@ed-era.com', title='') info@ed-era.com
          p.mh Щодо проекту, інших курсів та партнерства:
          ul
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a(href='mailto:connect@ed-era.com', title='') connect@ed-era.com
            li.mh
              a(href='https://goo.gl/maps/NLmeE3XE2Pp', target='_blank') м. Київ, вул. Шота Руставелі 34
          p.mh
            | Ми працюємо 5 робочих днів з 10:00 до 18:00. Завітати до нас можна в будь-який зручний для вас час, попередивши про свій візит телефоном.
          p
        .col
          p.mh Слідкуйте за новинами проекту та приєднуйтеся до наших спільнот:
          ul.socials
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a.fb(href='https://www.facebook.com/EdEraUa/', target='_blank', title='EdEra у Facebook') Facebook
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a.tw(href='https://twitter.com/edera_ua', target='_blank', title='EdEra в Twitter') Twitter
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a(href='https://www.youtube.com/EderaEducation', title='EdEra у Youtube', target='_blank') Youtube
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a.ig(href='https://www.instagram.com/edera_ua/', target='_blank', title='EdEra в Instagram') Instagram
        .col
          ul.mh
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a(href='http://ed-era.com/') Головна
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a(href='http://ed-era.com/about/') Про проект
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a(href='http://ed-era.com/books/') Онлайн-книги
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a(href='http://ed-era.com/courses/') Курси
            li.col-sm-3.col-md-3.col-lg-2.m-3
              a(href='http://blog.ed-era.com/') Блог
          p.copy
            | © 
            span.year 2014–2019 
            | EdEra,
            br
            | Усі права захищено.
