.container
  .row
    .col-12
      #page_header
        h1.logo
          a.logo_link(href='/', title='EdEra') EdEra — студія онлайн-освіти. Якісно. Безкоштовно. Без обмежень
        a.growth.growth--mobile(href='https://secure.wayforpay.com/payment/edera_growth', title='Підтримати', target='_blank') Підтримати
        .toggle_menu
        #main_navigation
          ul.main_links
            li
              a(href='/courses/', title='Курси') Курси
            li
              a.new(href='/books/', title='Книги') Бібліотека
            li
              a.new(href='http://blog.ed-era.com/', target='_blank', title='Новини') Блог
            li
              a.new(href='/corporate/', title='Партнерам') Партнерам
            li
              a(href='/talents', title='Вакансії') Вакансії
            li
              a.zno-a(href='/zno', title='Готуйся до ЗНО!') Готуйся до ЗНО!
            li
              a.growth(href='https://secure.wayforpay.com/button/b270edce44b8a', title='Підтримати', target='_blank') Підтримати
