mixin head(title, description, image, url)
   - title = title || 'EdEra – студія онлайн-освіти'
   - description = description || 'EdEra — студія онлайн-освіти. Ми робимо онлайн-освіту в Україні якісною та доступною. Наша команда створює онлайн-курси, спецпроекти, інтерактивні підручники та освітні блоги.'
   - image = image || 'https://www.ed-era.com/img/edera_badge.png'
   - url = url || 'https://www.ed-era.com/'
   // Global site tag (gtag.js) - Google Analytics
   script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-149531111-1')
   script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149531111-1');

   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   title #{title}
   meta(name='viewport', content='width=device-width,initial-scale=1.0')
   include favicon
   //VK
   meta(name='title', content= title)
   meta(name='description', content= description)
   link(rel='image_src' href= image)
   //Google
   meta(property='place:location:latitude' content='50.43707987947357')
   meta(property='place:location:longitude' content='30.515844315730885')
   meta(property='business:contact_data:street_address' content='street Petrivska')
   meta(property='business:contact_data:locality' content='Kyiv')
   meta(property='business:contact_data:country_name' content='Ukraine')
   meta(property='business:contact_data:email' content='connect@ed-era.com')
   //Google+
   meta(itemprop='name' content= title)
   meta(itemprop='description' content= description)
   meta(itemprop='image' content= image)
   //Twitter
   meta(name='twitter:card' content='summary_large_image')
   meta(name='twitter:site' content='@info_edera')
   meta(name='twitter:title' content= title)
   meta(name='twitter:description' content= description)
   meta(name='twitter:image' content= image)
   //Facebook
   //meta(property='og:url' content= url)
   meta(property='og:title' content= title)
   meta(property='og:description' content= description)
   meta(property='og:image' content= image)
   meta(property='og:site_name' content='EdEra')

   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
   link(rel='stylesheet', href='/css/application.css')
   script(src='/js/vendor/modernizr-2.6.2.min.js')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
   link(rel='stylesheet', href='/css/vendor/magnific-popup.css')
   link(rel='stylesheet', href='/css/vendor/slick.css')
