header#page_header
  .container
    a.logo(href='/', title='EdEra')
      | EdEra — студія онлайн-освіти. Якісно. Безкоштовно. Без обмежень
    .toggle_menu
      | 
    nav#main_navigation
      ul.menu-list
        li.menu-list__item
          a.menu-list__link(href='/courses/', title='Курси') Курси
        li.menu-list__item
          a.menu-list__link(href="/books/", title="Книги", class="new") Бібліотека
        li.menu-list__item
          a.menu-list__link(href='http://blog.ed-era.com/', target="_blank" title='Новини', class="new") Блог
        li.menu-list__item
          a.menu-list__link(href='http://zno.ed-era.com/', title='ЗНО платформа') ЗНО платформа
        li.menu-list__item
          a.menu-list__link(href='/about/', title='Про нас') Про нас
        li.menu-list__item
          a.menu-list__link(href='/talents', title='Вакансії') Вакансії
        //-li.menu-list__item
          a.menu-list__link(href='/partnership/', title='Співробітництво') Співробітництво
      ul.menu-list.sign_in_up.not_logged_in
        li.menu-list__item
          a.menu-list__link(href='https://courses.ed-era.com/login') Увійти
        li.menu-list__item
          a.menu-list__link.button(href='https://courses.ed-era.com/register') Зареєструватися
      ul.menu-list.sign_in_up.logged_in.hidden
        li.menu-list__item
          a.menu-list__link(href='https://courses.ed-era.com/dashboard') Мої Курси
        li.menu-list__item
          a.menu-list__link.button(href='https://courses.ed-era.com/logout') Вийти