section
	.container
		center
			p.lzv-main The project «Know your rights!» has been implemented within the project 
				a(href="http://network.org.ua/ru/2018/06/06/v-ukrayini-rozpochato-masshtabnyj-proekt-z-podolannya-vil-snidu-healthlink/")
					|«Accelerating Measures to Overcome HIV in Ukraine» 
				| (HealthLink) with the support of the United States Agency for International Development (USAID).
			br
			a.button.button--big(href='https://drive.google.com/file/d/12_jlYcBMsw1PQHApliRnLUfFjwYYWnc4/view' target="_blank")
				| USEFUL CONTACTS

section.google_form
	p
		| Do you have any suggestions or comments on the project?
	a(target='_blank', href="https://www.google.com/url?q=https://docs.google.com/forms/d/1uah4zChsqV5Z0gJL-nt5BSsWG5QM5wNGLRv4nijIZaE/edit&sa=D&ust=1538828304757000&usg=AFQjCNFaOQP_LZZLSoV2RArq4eRhbGYKTQ") Share with us


// ПАРТНЕРИ
#partners.section
	p.h2 
		| INITIATED BY
	.container
		ul.partners_list.new
			li
				a(href='#', target='_blank', title='')
					img(src='../img/lzv-rights/logo3.png', alt='')
			li
				a(href='https://www.usaid.gov/uk/ukraine', target='_blank', title='')
					img(src='../img/lzv-rights/logo4.png', alt='')
			li
				a(href='http://network.org.ua/', target='_blank', title='')
					img(src='../img/lzv-rights/LOG_100_LIFE.png', alt='')
			li
				a(href='http://network.org.ua/ru/2018/06/06/v-ukrayini-rozpochato-masshtabnyj-proekt-z-podolannya-vil-snidu-healthlink/', target='_blank', title='')
					img(src='../img/lzv-rights/HealthLink.png', alt='')
	br    
	p.h2 
		| DEVELOPED BY
	.container
		ul.partners_list
			li
				a(href='http://ed-era.com', target='_blank', title='')
					img(src='../img/lzv-rights/logo_edera.png', alt='edera')
			li
				a(href='https://helsinki.org.ua/', target='_blank', title='')
					img(src='../img/lzv-rights/logo.png', alt='')


		section.mon-alarm.mon-main
			.container
				a.button.button--big(href='https://ed-era.com/lzv-rights/')
					| Українська версія
