section.materials_features
	.container
		.description_block
			p.lead
				|Спецпроект реалізований в рамках проекту 
				a(href="http://network.org.ua/ru/2018/06/06/v-ukrayini-rozpochato-masshtabnyj-proekt-z-podolannya-vil-snidu-healthlink/")
					|«Прискорення заходів з подолання ВІЛ-інфекції в Україні» (HealthLink) 
				| за підтримки Агентства США з міжнародного розвитку (USAID).       
		article  
			a.button.button--big(href='https://drive.google.com/file/d/12_jlYcBMsw1PQHApliRnLUfFjwYYWnc4/view' target="_blank")
				| Корисні контакти

section.google_form
	p 
		| Маєте зауваження чи побажання стосовно спецпроекту?
		br
		|Повідомте нас!
	a(target='_blank', href="https://www.google.com/url?q=https://docs.google.com/forms/d/1uah4zChsqV5Z0gJL-nt5BSsWG5QM5wNGLRv4nijIZaE/edit&sa=D&ust=1538828304757000&usg=AFQjCNFaOQP_LZZLSoV2RArq4eRhbGYKTQ")Заповнити форму   



// ПАРТНЕРИ
#partners.section
	p.h2 
		| Ініціатори проекту
	.container
		ul.partners_list.new
			li
				a(href='#', target='_blank', title='')
					img(src='../img/lzv-rights/logo3.png', alt='')
			li
				a(href='https://www.usaid.gov/uk/ukraine', target='_blank', title='')
					img(src='../img/lzv-rights/logo4.png', alt='')
			li
				a(href='http://network.org.ua/', target='_blank', title='')
					img(src='../img/lzv-rights/LOG_100_LIFE.png', alt='')
			li
				a(href='http://network.org.ua/ru/2018/06/06/v-ukrayini-rozpochato-masshtabnyj-proekt-z-podolannya-vil-snidu-healthlink/', target='_blank', title='')
					img(src='../img/lzv-rights/HealthLink.png', alt='')
	br    
	p.h2 
		| Організації-розробники 
	.container
		ul.partners_list
			li
				a(href='http://ed-era.com', target='_blank', title='')
					img(src='../img/lzv-rights/logo_edera.png', alt='edera')
			li
				a(href='https://helsinki.org.ua/', target='_blank', title='')
					img(src='../img/lzv-rights/logo.png', alt='')
