script(src='/js/vendor/jquery.js')
script(src='/js/vendor/jquery.magnific-popup.min.js')
script(src='/js/vendor/jquery.cookie.js')
script(src='/js/vendor/likely.js')
script(src='/js/vendor/slick.min.js')
script(src='/js/main.js')
