a.action-message(href="https://biggggidea.com/project/edera-onlajn-osvita-z-lyubovyu/", target="_blank" title="EdEra на Спільнокошті") 
  .action-message__25
    img.left_img(src="../img/25/decoration--left.png" alt="")
    p Підтримайте <span>EdEra</span>
    img.right_img(src="../img/25/decoration--right.png" alt="")