//
	Created by olga on 03-02-2015.
include includes/head.jade
doctype html
html
	+head
	body.hide-horizontal-scrollbar
		include includes/gtm.jade
		include includes/header.jade
		link(href='/css/others_for_adapted_pages.css', rel='stylesheet')
		// ПЕРШИЙ ЕКРАН
		.about.section.heading
			.container
				h1
					| Про 
					strong
						abbr(title='Educational Era') нас

		//- СПІЛЬНОКОШТ
		a.banner_a(href="https://biggggidea.com/project/edera-onlajn-osvita-z-lyubovyu/", target="_blank" title="EdEra на Спільнокошті") 
			.banner_25
				img.left_img(src="../img/25/left_banner.png" alt="")
				p Підтримайте <span>EdEra</span>
				img.right_img(src="../img/25/right_banner.png" alt="")

		//-.container
			ul
				li
					a(href='#team')
						|Хто ми?
				li
					a(href='#partnership')
						|Співпраця
				li
					a(href='#about')
						|Про проект
		// КОМАНДА
		.container
			.row
				.col-2
				.col-8
					#about_project.section
						.container#team
							article
								p.h2
									| Хто ми?
								p
									| Увесь контент на проекті створений нашою командою, опираючись на матеріал, який пропонує викладач. Зйомка, монтаж, створення ілюстрованих конспектів, презентацій, анімацій, генерація креативних ідей щодо подачі матеріалу, методична робота, первинний аналіз створеного контенту. Ми постійно вчимося для впровадження нових технологій та розробок у навчальний процес і відкриті до будь-яких ідей та співробітництва. Усі технічні роботи з сайтом, підтримання функціонування платформи та серверні роботи також виконуються виключно членами команди EdEra.
		center
			.row.mx-5.px-5
				.col-12
					.mymy
						.row 
							center
								h2 Команда
								br
								h3 Засновники
								br
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Ілля Філіпов
										h2.job-descr Керівник, співзасновник									
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Артем Ільчук
										h2.job-descr Операційний директор, співзасновник
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/filipova.jpg', border='0')
									.info
										h1.name Оля Філіпова
										h2.job-descr Технічна директорка, співзасновниця
							center
								br
								h3 Адміністративний відділ 
								br
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Сергій Плашенко
										p.job-descr Фінансовий менеджер 
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Інна Дзиндра
										p.job-descr Проектна менеджерка, юристка 
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Ihor.png', border='0')
									.info
										h1.name Ігор Конопка
										p.job-descr Проектний менеджер, юрист
							center
								br
								h3 Відділ партнерств
								br
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Diana.png', border='0')
									.info
										h1.name Діана Даюб
										p.job-descr Менеджерка з партнерств

							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Vlad.png', border='0')
									.info
										h1.name Влад Єленчін
										p.job-descr Менеджер з партнерств
							center
								br
								h3 Менеджери проектів
								br

							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Інна Дзиндра
										p.job-descr Проектна менеджерка, юристка 
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Ihor.png', border='0')
									.info
										h1.name Ігор Конопка
										p.job-descr Проектний менеджер, юрист
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/', border='0')
									.info
										h1.name Настя Паращук
										p.job-descr Проектна менеджерка
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Yulia.png', border='0')
									.info
										h1.name Юля Лисенко
										p.job-descr Проектна менеджерка, редакторка

							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Ira.png', border='0')
									.info
										h1.name Іра Кротова
										p.job-descr Проектна менеджерка
							center
								br
								h3 Відділ редакторів
								br

							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Valeria.png', border='0')
									.info
										h1.name Валерія Залєвська
										p.job-descr Голова відділу редакторів
							
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Maria.png', border='0')
									.info
										h1.name Марія Горбач
										p.job-descr Редакторка

							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Юля Цукор
										p.job-descr Моушн-дизайнерка, редакторка
							
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Ярослава Бухта
										p.job-descr Методологиня
							
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Yulia.png', border='0')
									.info
										h1.name Юля Лисенко
										p.job-descr Проектна менеджерка, редакторка

							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Sasha.png', border='0')
									.info
										h1.name Саша Сірик
										p.job-descr
										
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Maya.png', border='0')
									.info
										h1.name Мая Нгуєн
										h2.job Illustrator
										p.job-descr
											| Малює ілюстрації і не тільки. Обожнює мультфільми, ігри, комікси та вірить у те, що в Україні можна все це розвинути.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Света Нгуєн
										h2.job Designer
										p.job-descr
											| Відповідає за візуальну складову проектів. Вірить в те, що в хорошому дизайні мають бути три складові: етична, естетична та практична.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Nick.png', border='0')
									.info
										h1.name Нікіта Барзашвілі
										h2.job Head of production, sound designer
										p.job-descr
											| Нік керує продакшеном. А також пише музику та займається всім, що пов’язане зі звуком.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Vasya.png', border='0')
									.info
										h1.name Вася Дубовий
										h2.job Art director
										p.job-descr
											| Вася дуже цінує системність та ідеї. Любить генерувати їх сам, підтримувати або критикувати в інших. Тому відповідає за те, щоб в основі наших продуктів були сильні ідеї, а їх прояв — системним.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Володя Томащук
										h2.job Motion designer
										p.job-descr
											| Виконую багатоманітні таски, пов’язані із моушн-дизайном. Назва моєї посади - Motion designer.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Макс Герасименко
										h2.job Cameraman
										p.job-descr Та, я точно продюсер ;)
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Паша Примаченко
										h2.job Motion designer
										p.job-descr Паша робить відоси :)
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Vanya.png', border='0')
									.info
										h1.name Ваня Супрун
										h2.job Cameraman
										p.job-descr Знімаю відео, творю контент.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/vilao.jpg', border='0')
									.info
										h1.name Руй Вілао 
										h2.job VP Engineer
										p.job-descr
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Женя Мороз
										h2.job Software developer
										p.job-descr
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/mokhniuk.jpg', border='0')
									.info
										h1.name Олег Мохнюк
										h2.job UI Engineer
										p.job-descr
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/vdovenko.jpg', border='0')
									.info
										h1.name Даня Вдовенко
										h2.job Frontend\Backend Developer
										p.job-descr
											| Розробник веб-додатків. У вільний час займається громадською діяльністю та обожнює показувати карточні фокуси.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Таня Теслюченко
										h2.job Head of communications
										p.job-descr
											| Комунікує від EdEra та про EdEra. Стратегує, пише, лайкає, репостить та коментує. Вірить в #ОсвітнійРейв та силу стратегічних комунікацій.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Настя Тимофеєва
										h2.job Social Media & PR Manager
										p.job-descr
											| Робить так, щоб почувши назву «EdEra» люди казали, який курс вони пройшли, а не запитували «Що це таке?». Творить комунікації крізь smm, розсилки, івенти та партнерські колаборації. Обожнює музику і на 20% фрілансить в офісі місцевим радіо.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/babiak.jpg', border='0')
									.info
										h1.name Богдан Бабяк
										h2.job SEO / Digital marketing
										p.job-descr
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Аня Ляшенко
										h2.job RnD
										p.job-descr
											| Робить огляди досліджень про мозок, навчання та освіту. Пише статті для блогу та вірить, що хто завгодно може вивчити що завгодно, потрібен лише правильний підхід.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Марія Наумовець
										h2.job RnD
										p.job-descr
											| Опис: Пише пояснення завдань ЗНО (англійська, фізика), перекладає підручники, працює над створенням освітніх онлайн-продуктів. Вивчає взаємодію мов і мозку (психо-/нейролінгвістика), прагне допомагати людям навчатися й розуміти.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Макс Ільїн
										h2.job HTML coder
										p.job-descr
											| Макс займається версткою веб-сторінок курсів, робить взаємодію із навчальними матеріалами якомога зручнішою! Паралельно навчається в КПІ, забагато часу проводить в інтернеті.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Katya.png', border='0')
									.info
										h1.name Катя Стаднік
										h2.job Camerawoman
										p.job-descr
											| Займається зйомкою, монтажем та кольорокорекцією відео. Закохана в українське кіно і музику.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/team/new_photos/Dima.png', border='0')
									.info
										h1.name Дмитро Романов
										h2.job Motion Designer
										p.job-descr
											| Дмитро займається пост-продакшеном відео. Дуже любить сферу дизайну загалом. Намагається зробити відео яскравішими. Навчається в КНТЕУ.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='https://bit.ly/2FQPExn', border='0')
									.info
										h1.name Ярослава Бухта 
										h2.job Methodologist
										p.job-descr
											| Ярослава вірить, що справжній геній володарює над хаосом. А тому може знайти будь-яку інформацію для текстів чи онлайн-курсів і зробити їх логічними, структурованими та легкими для сприйняття.
		#about_project.row
			.col-2
			.col-8
				article
					p.h2 Щедрі доброчинці 
						a(href="#note") * 
					p Ці люди зафондували у розвиток EdEra та 
						a(href='https://biggggidea.com/project/1247/' target='_blank') підтримали 
						| розробку українських освітніх технологій 
		center
			.row.mx-5.px-5
				.col-12
					.mymy
						.row 
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/backers/3.jpg', border='0')
									.info
										h1.name Щербина Ю. Ю.
										p.job-descr Проектний менеджер в компанії Cogniance. Виховує трьох дітей.
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/backers/2.jpg', border='0')
									.info
										h1.name Божена Зварич
										h2.job IT-Recruiter
										p.job-descr Освіта: міжнародна економіка та психологія
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/backers/1.jpg', border='0')
									.info
										h1.name Анастасія Холодова
										h2.job Senior software engineer, the World Bank, Washington DC
										p.job-descr Освіта: ХНУ ім. Каразина (Харків), механіко-математичний факультет 
							.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
								.member-card
									img.img(src='../img/backers/4.jpg', border='0')
									.info
										h1.name Владислав Раєвский
										h2.job Засновник компанії "Нічний Експрес" та освітнього проекту 
										a(href ='http://bristarstudio.com/' target='_blank') "Bristar Studio"
										p.job-descr Освіта: ІМВ МЕВ

		#about_project.row
			.col-2
			.col-8
				p.h2 Викладачі та рецензенти
				p
					| З усіма викладачами та рецензентами проекту ви можете ознайомитися в описах відповідних курсів.
				p.h2 Волонтери та допомога від третіх осіб
				p
					| Ми безмежно вдячні усім, хто небайдужий до нашого проекту та допомагає у його розвитку. Максим Базь, Тарас Труба, Юлія Корж, Олександра Колотуха, Олександра Броваченко, Констянтин Кляцкін, Павло Липа, Катерина Соловйова, Олексій Нечипорук, Ганна Гранкіна, Владислав Раєвський, Ірина Куртенко, Олександра Гром — це лише декілька важливих людей для нашого проекту! Дякуємо вам!
				p#note * – 
					a(href='https://biggggidea.com/project/1247/' target="_blank") зробили внесок, 
					| понад 1500 ₴ та дали згоду на розміщення інформації

				// СПІВПРАЦЯ
				#partnership
					article
						p.h2
							| Ми готові:
						ul
							li
								| Створювати якісний контент. Від відеолекцій до електронних підручників.
							li
								| Створювати справді цікаві навчальні програми. Наша креативна команда знає як робити курси фановими та унікальними.
							li
								| Співпрацювати з закладами, фірмами, інститутами, які готові впроваджувати онлайн-технології у процес навчання. Можливе також використання закритої частини нашої платформи для приватних ініціатив.
							li
								| Співпрацювати в інших напрямках з будь-якими проектами, які хочуть посприяти розвитку освіти в Україні. Пишіть на 
								a(href='mailto:connect@ed-era.com')
									| connect@ed-era.com
								|&nbsp;чи звертайтеся за телефоном
								a(href='tel:+38063 380 60 42')
									| 063 380 60 42.
						p.h2
							| На проекті EdEra
						p
							| З’являються нові курси, що створені виключно у зв’язці з нашою командою, не відступаючи від принципів проекту. Кожен курс має бути винятковим для нашої країни поєднанням гарного викладу та новітнього електронного підручника. Ми працюємо не на кількість, а на якість. Приєднуйтесь.
						p.h2
							| Хочете стати викладачем на проекті EdEra?
						p Вимоги до наших викладачів:
						ul
							li Високий рівень знань та практичний досвід
							li Готовність працювати в команді
							li Харизматичність та доброзичливість
							li Прогресивність та готовність експериментувати
							li Бажання розробити серію новітніх конспектів з нашою командою
						p
							| Ми шукаємо не просто вчителів, ми шукаємо спікерів, промовців, професіоналів, які надихають. Наш викладач — нестандартний, ініціативний та прогресивний. Зв’яжіться з нами!

				// ПРО ПРОЕКТ
				#about
					article
						p.h2 Наша історія
						p
							| У 2012 році світ побачив перший онлайн-курс Массачусетського Технологічного Університету «Circuits
							| and electronics». У ньому було гарним все — від подачі матеріалу та домашніх завдань
							| до електронної книги з доступними поясненнями та яскравими ілюстраціями. Порівнюючи цей курс з тим,
							| що було перед нами протягом навчання в Україні, ми дійшли висновку, що час змінювати
							| ситуацію. Опісля майбутні члени нашої команди пройшли ще не один онлайн-курс на різних західних
							| платформах, дослідили найкращі з них та оцінили рівень отриманих знань. З 2 людей, які
							| почали створювати проект навесні 2014 року, команда виросла до 15 відданих своїй справі
							| працівників і об’єднала навколо себе багатьох волонтерів.
						p
							| Ми — ті, хто встигли порівняти нашу та західну систему освіти, а EdEra — це наші
							| висновки, мрії та досвід. Ми створюємо онлайн-курси повного циклу — від лекцій до книжок.
						p
							| Не чекай на реформи, змінюй освіту з нами вже зараз.
					article
						p.h2 Що таке онлайн-курс на EdEra?
						p.h3 Інтерактивні лекції 
						p  Один робочий тиждень складається в середньому з 2-3 лекцій. Одна лекція — це набір
							| коротких відео, між якими інтегровано запитання для кращого засвоєння матеріалу та контролю знань.
							| Враховуючи досвід західних освітніх платформ та відгуки фокус-груп, було виведено найкращу для сприйняття
							| тривалість відео — 6-10 хвилин. Також важливим аспектом є те, що режим онлайн дає
							| змогу змінювати формати подачі матеріалу в рамках однієї лекції. Таким чином задається динаміка. Наприклад,
							| у курсі з географії на проекті одразу після теоретичної частини презентації, учень переноситься в Лісабон,
							| де португальці розповідають про мореплавця Вашко да Гаму. У звичайній аудиторії такий трюк просто
							| неможливий.
						p.h3 Високоякісні конспекти 
						p  До кожної лекції на платформі з’являється супроводжуючий матеріал. Основний вид —
							| конспект. Це не просто набір формул, визначень тощо. Це повноцінний розділ книжки з ілюстраціями
							| та докладними поясненнями. По завершенню кожного курсу з них складається підручник, який міг би існувати
							| і незалежно від самого курсу. Усі конспекти розробляються нашим викладачем та командою дизайнерів і методистів.
							| Ми орієнтуємося на книги західного зразка видавництв Pearsоn, Oxford press тощо. Наприклад, наша
							| настільна книга з фізики — Giancoli «Physics for Scientists and Engineers».
						p.h3
							| Домашні завдання, екзамени та сторінка прогресу
						p
							| Окрім проміжних запитань під час лекції, на проекті існує ще два методи контролю успішності та прогресу.
							| Кожного тижня студент має виконати декілька домашніх завдань. Вони мають так званий deadline — час,
							| до якого їх потрібно зробити. Також в середині та в кінці курсу учень повинен виконати
							| більш фундаментальні роботи — екзамени. В залежності від курсу це може бути тест або
							| проектна робота. Усі контрольні завдання оцінюються відповідно до вагового коефіцієнту. Тобто екзамен більш
							| важливий, ніж домашня робота, домашня робота більш вагома, ніж проміжні запитання в лекції. Усі результати
							| потрапляють на сторінку прогресу, і відбувається формування остаточної оцінки. Щоб отримати сертифікат
							| про успішне завершення курсу, ця оцінка має бути більшою за певну межу, яка варіюється в залежності
							| від обраного курсу.
						p.h3
							| Спілкування та динаміка
						p
							| На проекті є можливість спілкування та обговорення проблемних питань курсу з іншими
							| студентами, викладачами та командою на форумі. До кожного запитання, відеолекції та інших
							| частин існує окрема форумна гілка, що робить спілкування більш комфортним та структурованим. Наші
							| курси постійно оновлюються в залежності від потреб студентів. Ми знімаємо додаткові відео, створюємо
							| нові конспекти тощо.
						p.h3
							| Будь-який час, будь-яке місце
						p
							| Інтернет та гаджет — все, що потрібно для проходження курсу. Обирайте будь-яке місце для
							| навчання. Це може бути дім, кав’ярня чи бібліотека. Навіть більше, наша система дозволяє
							| розподілити свій час з максимальною користю. Не потрібно очікувати на прихід викладача у певний
							| час чи на черговий день занять на звичайних курсах. Найкраща продуктивність навчання
							| спостерігається тоді, коли є натхнення. Увесь навчальний процес доступний онлайн 24/7, а після
							| проходження курсу його заархівована версія залишається з Вами назавжди.
						p.h3
							| Доступність та мотивація
						p
							| EdEra — освітній проект з соціальною місією: зробити освіту якісною та доступною. Доступ до матеріалів курсів 
							b повністю безкоштовний 
							| з можливістю віддячити проекту в кінці курсу.
						
		include includes/footer.jade
		include includes/scripts.jade
