//
	Created by olga on 03-02-2015.
include includes/head.jade
doctype html
html
	+head
	body.hide-horizontal-scrollbar
		include includes/gtm.jade
		include includes/header.jade
		link(href='/css/others_for_adapted_pages.css', rel='stylesheet')
		// ПЕРШИЙ ЕКРАН
		.about.section.heading
			.container
				h1
					| Про 
					strong
						abbr(title='Educational Era') нас

		//-.container
			ul
				li
					a(href='#team')
						|Хто ми?
				li
					a(href='#partnership')
						|Співпраця
				li
					a(href='#about')
						|Про проект
		// КОМАНДА
		.container
			.row
				.col-2
				.col-8
					#about_project.section
						.container#team
							article
								br
								p
									| <strong>EdEra</strong> – студія онлайн-освіти. Ми створюємо онлайн-курси, інтерактивні підручники, освітні спецпроекти та моделі інтеграції сучасних освітніх рішень у традиційний навчальний процес.
								p 
									| Ми створюємо продукти за власними методиками, базуючись на дослідженнях у сфері онлайн-освіти та когнітивістики. Кожен курс розробляється з унікальним підходом до інформації та студентів.
								p
									| <strong>Наша мета:</strong> зробити освіту в Україні якісною, доступною та наявною у глобальному освітньому контексті.
		
		center
			center
				h2 Команда
				br
				h3 Засновники
				br
			.row.mx-5.px-5
				.col-12
					.row.mymy 
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera27.jpg', border='0')
								.info
									h1.name Ілля Філіпов
									h2.job-descr Керівник, співзасновник									
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera30.jpg', border='0')
								.info
									h1.name Артем Ільчук
									h2.job-descr Операційний директор, співзасновник
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/filipova.jpg', border='0')
								.info
									h1.name Оля Філіпова
									h2.job-descr Технічна директорка, співзасновниця
			
			center
				br
				h3 Адміністративний відділ 
				br
			.row.mx-5.px-5
				.col-12
					.row.mymy
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera21.jpg', border='0')
								.info
									h1.name Сергій Плашенко
									p.job-descr Фінансовий менеджер 
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera32.jpg', border='0')
								.info
									h1.name Інна Дзиндра
									p.job-descr Проектна менеджерка, юристка 
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Ihor.png', border='0')
								.info
									h1.name Ігор Конопка
									p.job-descr Проектний менеджер, юрист
			center
				br
				h3 Відділ партнерств
				br
			.row.mx-5.px-5
				.col-12
					.row.mymy 
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Diana.png', border='0')
								.info
									h1.name Діана Даюб
									p.job-descr Менеджерка з партнерств

						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Vlad.png', border='0')
								.info
									h1.name Влад Єленчін
									p.job-descr Менеджер з партнерств
			center
				br
				h3 Менеджери проектів
				br
			.row.mx-5.px-5
				.col-12
					.row.mymy 
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera32.jpg', border='0')
								.info
									h1.name Інна Дзиндра
									p.job-descr Проектна менеджерка, юристка 
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Ihor.png', border='0')
								.info
									h1.name Ігор Конопка
									p.job-descr Проектний менеджер, юрист
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera23.jpg', border='0')
								.info
									h1.name Настя Паращук
									p.job-descr Проектна менеджерка
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Yulia.png', border='0')
								.info
									h1.name Юля Лисенко
									p.job-descr Проектна менеджерка, редакторка

						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Ira.png', border='0')
								.info
									h1.name Іра Кротова
									p.job-descr Проектна менеджерка
			center
				br
				h3 Відділ редакторів
				br
			.row.mx-5.px-5
				.col-12
					.row.mymy 
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Valeria.png', border='0')
								.info
									h1.name Валерія Залєвська
									p.job-descr Голова відділу редакторів
						
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Maria.png', border='0')
								.info
									h1.name Марія Горбач
									p.job-descr Редакторка

						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera18.jpg', border='0')
								.info
									h1.name Юля Цукор
									p.job-descr Моушн-дизайнерка, редакторка
						
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera17.jpg', border='0')
								.info
									h1.name Ярослава Бухта
									p.job-descr Методологиня
						
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Yulia.png', border='0')
								.info
									h1.name Юля Лисенко
									p.job-descr Проектна менеджерка, редакторка

						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Sasha.png', border='0')
								.info
									h1.name Саша Сірик
									p.job-descr
									
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Maya.png', border='0')
								.info
									h1.name Мая Нгуєн
									h2.job Illustrator
									p.job-descr
										| Малює ілюстрації і не тільки. Обожнює мультфільми, ігри, комікси та вірить у те, що в Україні можна все це розвинути.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera20.jpg', border='0')
								.info
									h1.name Света Нгуєн
									p.job-descr
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Nick.png', border='0')
								.info
									h1.name Нікіта Барзашвілі
									h2.job Head of production, sound designer
									p.job-descr
										| Нік керує продакшеном. А також пише музику та займається всім, що пов’язане зі звуком.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Vasya.png', border='0')
								.info
									h1.name Вася Дубовий
									h2.job Art director
									p.job-descr
										| Вася дуже цінує системність та ідеї. Любить генерувати їх сам, підтримувати або критикувати в інших. Тому відповідає за те, щоб в основі наших продуктів були сильні ідеї, а їх прояв — системним.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera00.jpg', border='0')
								.info
									h1.name Володя Томащук
									h2.job Motion designer
									p.job-descr
										| Виконую багатоманітні таски, пов’язані із моушн-дизайном. Назва моєї посади - Motion designer.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera26.jpg', border='0')
								.info
									h1.name Макс Герасименко
									p.job-descr

						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera21.jpg', border='0')
								.info
									h1.name Паша Примаченко
									p.job-descr
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Vanya.png', border='0')
								.info
									h1.name Ваня Супрун
									h2.job Cameraman
									p.job-descr Знімаю відео, творю контент.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/vilao.jpg', border='0')
								.info
									h1.name Руй Вілао 
									h2.job VP Engineer
									p.job-descr
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='https://bit.ly/2FQPExn', border='0')
								.info
									h1.name Женя Мороз
									h2.job Software developer
									p.job-descr
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera22.jpg', border='0')
								.info
									h1.name Олег Мохнюк
									h2.job UI Engineer
									p.job-descr
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/vdovenko.jpg', border='0')
								.info
									h1.name Даня Вдовенко
									h2.job Frontend\Backend Developer
									p.job-descr
										| Розробник веб-додатків. У вільний час займається громадською діяльністю та обожнює показувати карточні фокуси.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera16.jpg', border='0')
								.info
									h1.name Таня Теслюченко
									h2.job Head of communications
									p.job-descr
										| Комунікує від EdEra та про EdEra. Стратегує, пише, лайкає, репостить та коментує. Вірить в #ОсвітнійРейв та силу стратегічних комунікацій.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Edera24.jpg', border='0')
								.info
									h1.name Настя Тимофеєва
									h2.job Social Media & PR Manager
									p.job-descr
										| Робить так, щоб почувши назву «EdEra» люди казали, який курс вони пройшли, а не запитували «Що це таке?». Творить комунікації крізь smm, розсилки, івенти та партнерські колаборації. Обожнює музику і на 20% фрілансить в офісі місцевим радіо.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/babiak.jpg', border='0')
								.info
									h1.name Богдан Бабяк
									h2.job SEO / Digital marketing
									p.job-descr
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='https://bit.ly/2FQPExn', border='0')
								.info
									h1.name Аня Ляшенко
									h2.job RnD
									p.job-descr
										| Робить огляди досліджень про мозок, навчання та освіту. Пише статті для блогу та вірить, що хто завгодно може вивчити що завгодно, потрібен лише правильний підхід.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='https://bit.ly/2FQPExn', border='0')
								.info
									h1.name Марія Наумовець
									h2.job RnD
									p.job-descr
										| Опис: Пише пояснення завдань ЗНО (англійська, фізика), перекладає підручники, працює над створенням освітніх онлайн-продуктів. Вивчає взаємодію мов і мозку (психо-/нейролінгвістика), прагне допомагати людям навчатися й розуміти.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='https://bit.ly/2FQPExn', border='0')
								.info
									h1.name Макс Ільїн
									h2.job HTML coder
									p.job-descr
										| Макс займається версткою веб-сторінок курсів, робить взаємодію із навчальними матеріалами якомога зручнішою! Паралельно навчається в КПІ, забагато часу проводить в інтернеті.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Katya.png', border='0')
								.info
									h1.name Катя Стаднік
									h2.job Camerawoman
									p.job-descr
										| Займається зйомкою, монтажем та кольорокорекцією відео. Закохана в українське кіно і музику.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='../img/team/new_photos/Dima.png', border='0')
								.info
									h1.name Дмитро Романов
									h2.job Motion Designer
									p.job-descr
										| Дмитро займається пост-продакшеном відео. Дуже любить сферу дизайну загалом. Намагається зробити відео яскравішими. Навчається в КНТЕУ.
						.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
							.member-card
								img.img(src='https://bit.ly/2FQPExn', border='0')
								.info
									h1.name Ярослава Бухта 
									h2.job Methodologist
									p.job-descr
										| Ярослава вірить, що справжній геній володарює над хаосом. А тому може знайти будь-яку інформацію для текстів чи онлайн-курсів і зробити їх логічними, структурованими та легкими для сприйняття.
										
		include includes/footer.jade
		include includes/scripts.jade
