//
	 Created by artem on 30-11-2016.

include includes/head-anticorruption-lesson.pug
doctype html
html
	+head
	body
		include includes/gtm.pug
		include includes/header.pug
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

		.antucorruption-lesson.section.heading
			.container
				h1
					span.exo Антикорупційний урок
					small проект EdEra та Програма Розвитку ООН в Україні
				h2 За підтримки Міністерства закордонних справ Данії

		section.materials_features
			.container
				.description_block
					p.lead
						| Шановні вчителі, директори шкіл та учні! 9 грудня відзначається міжнародний день боротьби з корупцією. Програма розвитку ООН в Україні та проект EdEra підготували антикорупційний урок, який можна провести у вашій школі.
						br
					p.lead
						| На цій сторінці ви знайдете необхідні матеріали: сценарій уроку, презентацію та відео, які допоможуть зробити цей урок яскравим та ефективним для учнів. Приєднуйтеся до інціціативи та приємного навчання!

				article
						a.popup-youtube(href='https://www.youtube.com/watch?v=01wF9he8Iss')
							img(src='../img/anticorr/Anticorr2016-2017.jpg')
							p.introduction Результати проведення уроку в 2016 році

		//-section.anticorr-feedback
			.container
				h2.section_title
					span  Відгук про урок та конкурс презентацій
				.feedback
					p.additional Заповніть, будь ласка, форму зворотнього зв'язку після проведення уроку у Вашій школі (кнопка зліва). Візьміть участь у конкурсі соціальних презентацій від Вашої школи (кнопка справа).
			.container
				.feedback
					a.button.button--big(href='https://edera1.typeform.com/to/EZ70Kg', target='_blank')
						| Відгук про урок
					a.button.button--big(href='https://edera1.typeform.com/to/OpMFxY', target='_blank')
						| Участь у конкурсі


		section.anticorr-feedback
			.container
				h2.section_title
					span  Відгук про проведення антикорупційного уроку
				.feedback
					p.additional Заповніть, будь ласка, форму зворотнього зв'язку після проведення уроку у Вашій школі
			.container
				.feedback
					a.button.button--big(href='https://edera1.typeform.com/to/EZ70Kg', target='_blank')
						| Залишити відгук про урок
					//-a.button.button--big(href='https://edera1.typeform.com/to/z8hqYG', target='_blank')
						| Залишити відгук про урок

		section.materials_features.archive
			.container
				.description_block
					p.lead
						| Для проведення антикорупційного уроку у себе в школі вчителю потрібно завантажити архів з файлами та ознайомитись з коротким посібником.

				article
					a.button.button--big(href='../anticorr-materials/anticorr-lesson.zip', download='anticorr-lesson')
						| Завантажити матеріали
						sup
							i.fa.fa-floppy-o

		section.materials-texts
			.container
				h3.anticorruption Презентаційні матеріали
			.container
				.material
					a(href='../anticorr-materials/scenario.pdf', donwload='Scenario')
						img.lesson_features(src='../img/anticorr/img_scenario.jpg')
						p.description Сценарій для викладача
					a.button(href='../anticorr-materials/scenario.pdf', donwload='scenario.pdf', target='_blank')
								| Завантажити

				.material
					a(href='../anticorr-materials/presentation_pdf_16x9.pdf', donwload='Presentation.pdf', target='_blank')
						img.lesson_features(src='../img/anticorr/img_presentation.jpg')
						//fa.fa-arrow-circle-o-down.fa-4x.icon
						p.description Презентація для уроку
					select(name='download', onchange='download(this.value)')
						option Виберіть файл
						option(value='presentation_pdf_16x9.pdf') PDF (16:9)
						option(value='presentation_pptx_16x9.pptx') PPTX (16:9)

				.material
					a(href='../anticorr-materials/article-for-pupils.pdf', donwload='Article-for-pupils', target='_blank')
						img.lesson_features(src='../img/anticorr/img_article.jpg')
						p.description Робочий аркуш учня
					a.button(href='../anticorr-materials/article-for-pupils.pdf', donwload='Article-for-pupils.pdf', target='_blank')
								| Завантажити

		section.materials-video
			.container
				h3.anticorruption Відеоматеріали
			.container
				.material
					a.popup-youtube(href='https://www.youtube.com/watch?v=i9eWqi39bo0')
						img.lesson_features(src='../img/anticorr/anticorr-introduction.jpg')
						p.description Звернення директора ПРООН в Україні, Янтомаса Хімстри
					a.button(href='../anticorr-materials/anticorr-introduction.mp4', donwload='anticorr-introduction.mp4', target='_blank')
							| Завантажити

				.material
					a.popup-youtube(href='https://www.youtube.com/watch?v=xL6Mjyd5cyg')
						img.lesson_features(src='../img/anticorr/anticorr-dtp.jpg')
						p.description Відео ДТП
					a.button(href='../anticorr-materials/roads-corruption.mp4', donwload='roads-corruption.mp4', target='_blank')
							| Завантажити

				.material
					a.popup-youtube(href='https://www.vimeo.com/video/187380162')
						img.lesson_features(src='../img/anticorr/anticorr-circle.jpg')
						p.description Корупційний ланцюг
					a.button(href='../anticorr-materials/anticorruption-cicle.mp4', download='anticorruption-cicle.mp4', target='_blank')
							| Завантажити

		//ПЕРЕМОЖЦІ
		section.competition
			.container
				h3.anticorruption Переможці конкурсу презентацій 2017/2018 року
			.container.divider
				.presentation
					img(src='../img/anticorr/presentation_11.jpg')
				.contestant-description
					h3 Перше місце
					p
						span Казка – «Хатка, яку збудував собі Джек»
						br
						| Підготували: Учні 10 класу (Сітанська Марина, Комаренко Олександра) та педагог-організатор – Футько Інна Вікторівна. Криворізька загальноосвітня школа I-III ст. №51, 10 клас
					a.button.button.popup-youtube(href='https://www.youtube.com/watch?v=HHxcXSHb-tk' target="_blank")
						| Переглянути

			.container
				.presentation
					img(src='../img/anticorr/presentation_21.jpg')
				.contestant-description
					h3 Друге місце
					p
						span Еліксир життя України на межі зникнення
						br
						| Виконали: Прокопович Роман Костянтинович та викладач – Оксана Володимирівна Колесник
					a.button.button(href='https://drive.google.com/file/d/1Reg9MzZsf1ssj04uQ8xvOGePxv6jKTFR/view' target="_blank")
						| Переглянути

			.container
				.presentation
					img(src='../img/anticorr/presentation_22.jpg')
				.contestant-description
					h3 Друге місце
					p
						span Корупція – ворог доріг
						br
						| Підготували: Учениця 9-го класу – Боднар Сніжана та вчитель англійської мови – Лень Ольга Іванівна, Смирновська філія Олексіївського НВК.
					a.button.button(href='https://drive.google.com/file/d/1j_w0rpR6Qr60ACdM0ITgbP5y9R1Hb9IO/view' target="_blank")
						| Переглянути

			.container
				.presentation
					img(src='../img/anticorr/presentation_23.jpg')
				.contestant-description
					h3 Друге місце
					p
						span Залізниця з «минулого» або історія однієї подорожі
						br
						| Виконали: Шайденко А., Гавриленко В., учні 10-Б класу; Матвійчук О.Б. – учитель правознавства, Нікашкіна Н.В. – учитель української мови та літератури, Конотопська спеціалізована школа ІІ-ІІІ ступенів №2, Сумської області
					a.button.button(href='https://drive.google.com/file/d/1yAIuLL2LMdl6SfKdjJOuGry8nRKvJVEP/view' target="_blank")
						| Переглянути

			.container.divider
				.presentation
					img(src='../img/anticorr/presentation_24.jpg')
				.contestant-description
					h3 Друге місце
					p
						span «Пан Коцький» народна казка на новий лад
						br
						| Виконали: 24 учні, 4-А клас, Полонська Альфія Саліхівна, Смолякова Людмила Леонідівна, Новогродівський заклад загальної середньої освіти І-ІІІ ступенів №7, Донецька область
					a.button.button.popup-youtube(href='https://www.youtube.com/watch?v=IvSMZtdbYGA' target="_blank")
						| Переглянути
			.container
				.presentation
					img(src='../img/anticorr/presentation_31.jpg')
				.contestant-description
					h3 Третє місце
					p
						span Жовква – ідеальне місто для корупції
						br
						|Підготували: Цимбала Юрій Володимирович – учень 6-Б класу, керівник – Цимбала Мар'яна Євгенівна, Жовківська загальноосвітня школа № 2 І-ІІІ ступенів,
					a.button.button(href='https://drive.google.com/file/d/1DiD2GoOSqo2fCc_r-uvmxt_VgbUkBBkX/view' target="_blank")
						| Переглянути
			.container
				.presentation
					img(src='../img/anticorr/presentation_32.jpg')
				.contestant-description
					h3 Третє місце
					p
						span Чи повернеться до Борислава колишня його слава?
						br
						|Виконали: Учень 11-го класу – Шемлій Сергій та вчитель – Ковтало Оксана Романівна, ЗЗСО І-ІІІ ступенів №8, м. Борислав, Львівська обл.
					a.button.button(href='https://drive.google.com/file/d/1ARQZvGxApsa11uw-SVFMD_Jbs0o5FBMC/view' target="_blank")
						| Переглянути

		//-section.competition
			.container
				h3.anticorruption Переможці конкурсу презентацій 2016 року
			.container
				.presentation
					img(src='../img/anticorr/presentation1.jpg')
				.contestant-description
					h3 Перше місце
					p
						span Великий Куяльник
						br
						| Виконали: Лєпєхов Георгій та Петренко Людмила Миколаївна, Іванівська ЗОШ І-ІІІ ступенів імені Б.Ф. Дерев'янка, Одеська область
					a.button.button(href='https://drive.google.com/file/d/0B8FULJ9g3tgeVGsxOFU0N3ByTVk/view' target="_blank")
						| Переглянути
			.container
				.presentation
					img(src='../img/anticorr/presentation2.jpg')
				.contestant-description
					h3 Друге місце
					p
						span Корупція-ворог природи
						br
						|Підготували: вчитель історії, словацької мови та літератури Пилип Ельміра Елемірівна та учні 8-А класу, ЗОШ І-ІІІ ступенів с. Тур’я-Ремета, Перечинський район Закарпатська область
					a.button.button(href='https://drive.google.com/file/d/0B8FULJ9g3tgeMDZCd1h3OUdFVUE/view' target="_blank")
						| Переглянути
			.container
				.presentation
					img(src='../img/anticorr/presentation31.jpg')
				.contestant-description
					h3 Третє місце розділили дві презентації
					p
						span Колобок
						br
						|Підготували: вчителі та учні 11 класу, Олексіївської ЗОШ І-ІІІ ступенів Смирновської сільської ради Більмацького району Запорізької області, 11 клас
					a.button.button(href='https://drive.google.com/file/d/0B8FULJ9g3tgeNmpqTzBIWXFnYmc/view' target="_blank")
						| Переглянути

			.container
				.presentation
					img(src='../img/anticorr/presentation32.jpg')
				.contestant-description
					p
						span Корупція
						br
						|Виконали: Гергуль Ілля Вікторович, Панченко Владислав Володимирович, Кудіна Поліна Сергіївна, Коваленко Оксана Іванівна, спеціалізована загальноосвітня школа №2 І-ІІІ ступенів з поглибленим вивченням іноземних мов, м. Чернігів
					a.button.button(href='https://drive.google.com/file/d/0B8FULJ9g3tgeeDcxUHpvc1BfU1U/view' target="_blank")
						| Переглянути

		section.anticorruption-book
			.container
				.book-image
					img(src='../img/books/anticorruption-lesson.jpg')
				.book-description
					p Короткий навчальний посібник «Антикорупційний урок» є збіркою матеріалів, які можуть бути корисні вчителям для проведення відповідного уроку у старших класах середньої школи до Міжнародного дня боротьби з корупцією. Цей день відзначається 9 грудня у всьому світі, згідно з рішенням Генеральної Асамблеї ООН.
					.actions
						a.button.button--big(href='http://anticorruption-lesson.ed-era.com/', target='_blank')
							| Читати онлайн
							sup ❐
						a.button.button--big(href='../anticorr-materials/anticorruption-book.pdf', download='anticorr.pdf')
							| Завантажити
							sup
								i.fa.fa-file-pdf-o

		section.anticorr-news
			.container
				ul.undp-social
					li
						i.fa.fa-globe
						a.social-link(href='http://www.ua.undp.org/' title='Сайт ПРООН', target='_blank') Сайт ПРООН
					li
						i.fa.fa-facebook-square
						a.social-link(href='https://www.facebook.com/EdEraUa/' title='facebook EdEra', target='_blank') EdEra
					li
						i.fa.fa-facebook-square
						a.social-link(href='https://www.facebook.com/UNDPUkraine/' title='facebook Міністерство освіти і науки', target='_blank') ПРООН

		#partners.section
			p.h2
				| Партнери проекту
			.container
				ul.partners_list
					li
						a(href='https://www.edcamp.org.ua/', target='_blank', title='EdCamp')
							img(src='../img/anticorr/partners/EdCamp-logo.png', alt='EdCamp')
					li
						a(href='http://www.prosvitcenter.org/uk/', target='_blank', title='Про.Світ')
							img(src='../img/anticorr/partners/ProSvit-logo.png', alt='Про.Світ')
					li
						a(href='https://www.facebook.com/Ed2Change/', target='_blank', title='Лабораторія Освітніх Змін')
							img(src='../img/anticorr/partners/LOZ-logo.png', alt='Лабораторія Освітніх Змін')
					li
						a(href='http://osvitoria.org/', target='_blank', title='Громадська Спілка «ОСВІТОРІЯ»')
							img(src='../img/anticorr/partners/Osvitoria-logo.png', alt='Громадська Спілка «ОСВІТОРІЯ»')
					li
						a(href='http://teachforukraine.org', target='_blank', title='Навчай для України')
							img(src='../img/anticorr/partners/TeachforUkraine-logo.png', alt='Навчай для України')

		section
			p.h2
				| Фотогалерея учасників
			.container
				.zoom-gallery
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/0.jpg', title="Іванівська ЗОШ І-ІІІ ст. ім. Б. Дерев'янка")
							img(src='../img/anticorr/photo-gallery/thumbnail/0.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/1.jpg', title='Івано-Франківська ЗОШ I-III ст. ім. Івана Франка')
							img(src='../img/anticorr/photo-gallery/thumbnail/1.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/2.jpg' title='Черкаська гімназія №9')
							img(src='../img/anticorr/photo-gallery/thumbnail/2.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/3.jpg' title='Олександрійська ЗОШ-інтернат I-III ступенів Кіровоградської обласної ради')
							img(src='../img/anticorr/photo-gallery/thumbnail/3.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/4.jpg' title='Усатівський НВК «Школа-гімназія»')
							img(src='../img/anticorr/photo-gallery/thumbnail/4.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/5.jpg' title='Запорізька ЗОШ І-ІІІ ступенів № 38')
							img(src='../img/anticorr/photo-gallery/thumbnail/5.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/6.jpg' title='Самбірська спеціальна ЗОШ-інтернат І-ІІ')
							img(src='../img/anticorr/photo-gallery/thumbnail/6.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/7.jpg' title='Загальноосвітній навчальний заклад І-ІІІ ст. № 12 – дошкільний навчальний заклад')
							img(src='../img/anticorr/photo-gallery/thumbnail/7.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/8.jpg' title='ЗОШ I-III ступенів, селище Братське Миколаївської області')
							img(src='../img/anticorr/photo-gallery/thumbnail/8.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/9.jpg' title="Кам'янська загальноосвітня школа І-ІІІ ступенів №1")
							img(src='../img/anticorr/photo-gallery/thumbnail/9.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/10.jpg' title='"НВО ліцей-школа-дошкільний навчальний заклад "Вікторія-П" Кіровоградської області')
							img(src='../img/anticorr/photo-gallery/thumbnail/10.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/11.jpg' title='Мелітопольська ЗОШ №8')
							img(src='../img/anticorr/photo-gallery/thumbnail/11.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/12.jpg' title='СШ №2 І-ІІІ ступенів з поглибленим вивченням іноземних мов, м. Чернігів')
							img(src='../img/anticorr/photo-gallery/thumbnail/12.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/13.jpg' title="Середня загальноосвітня школа № 12 м.Кам'янського")
							img(src='../img/anticorr/photo-gallery/thumbnail/13.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/14.jpg' title='Чернівецька СШ 1 ст. 26 при гімназії 3')
							img(src='../img/anticorr/photo-gallery/thumbnail/14.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/15.jpg' title='Черкаська спеціалізована школа I-III ступенів №28 імені Т.Г.Шевченка Черкаської області')
							img(src='../img/anticorr/photo-gallery/thumbnail/15.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/16.jpg' title='«Шосткинська загальноосвітня школа І-ІІІ ступенів №5 Сумської області»')
							img(src='../img/anticorr/photo-gallery/thumbnail/16.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/20.jpg' title='Загальноосвітня школа I-III ступенів № 3 м. Роздільна')
							img(src='../img/anticorr/photo-gallery/thumbnail/20.jpg')
					figure.thumbnail
						a(href='../img/anticorr/photo-gallery/original/17.jpg' title='м.Богородчани СШ №2')
							img(src='../img/anticorr/photo-gallery/thumbnail/17.jpg')

		#courses.section.four
			.container
				h2 Відгуки про урок
			.container
				.mon-card
					.figure
						img(src='../img/anticorr/comment1.jpg', alt='')
					h3.course_title Таран Марія Валентинівна
						br
						|(Полтавська область)
					p
						| Ми спочатку трішки сумнівалися стосовно проведення, бо не до кінця розуміли, як сприймуть учні інформацію й чи усвідомлять весь масштаб корупції. Але діти виявили величезне зацікавлення й під час дискусії навели безліч прикладів корупції, які спостерігали. Дякуємо Вам за надіслані матеріали, вони дуже допомогли.

				.mon-card
					.figure
						img(src='../img/anticorr/comment2.jpg', alt='')
					h3.course_title Іваннікова Юлія Анатоліївна
						br
						|(Донецька область)
					p
						| У січні 2018 року я провела антикорупційний курс для школярів. На уроках діти на простих прикладах пояснювали суть корупції, показували, як легко кожному опинитися в становищі, коли корупція здається нормою, усвідомили, до яких саме наслідків вона призводить. Учні зробили висновки про наслідки корупції.

				.mon-card
					.figure
						img(src='../img/anticorr/comment3.jpg', alt='')
					h3.course_title Біленченко&nbsp;Я.А., Романовська&nbsp;О.В., Гузь&nbsp;Т.М. (Сумська область)
					p
						| Дуже цікавий урок, матеріали вкрай актуальні на цьому етапі життя. Ми також долучили до уроку поліцію та вчителів. Діти були задоволені, тому наступного року теж будемо проводити.
		section.materials_features.archive
			.container
				p.additional Думки, висновки чи рекомендації належать авторам уроку і не обов'язково відображають погляди Міністерства закордонних справ Данії, Програми розвитку ООН чи інших агентств ООН.

		include includes/footer.pug
		include includes/scripts.pug

script(type='text/javascript').
	function download(d) {
	if (d == 'Виберіть документ') return;
	//var link = 'https://ed-era.com/anticorr-materials/' + d;
	/*
	window.open(link,'_blank');
	*/
	window.location = 'https://ed-era.com/anticorr-materials/' + d;
	}
