//
	 Created by artem on 05-02-2017.
include includes/head-royz-ua.jade
doctype html
html
	+head
	body
		include includes/gtm.jade
		include includes/header.jade
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

		.royz.section.heading
			.container
				h1
					span.exo Колошкільне дитинознавство зі Світланою Ройз

		section.mon-alarm.mon-main
			.container
				h2 Про проект
				a.popup-youtube(href='https://www.youtube.com/watch?v=luGN0sDT3-w')
					img(alt='', width='' src='../img/royz/ua/royz-promo-ua.jpg')
			.container
				blockquote(style='text-align: left; text-align: -webkit-left; text-align: -moz-left; text-align: -o-left;')
					p
						| Курс створювався з великою повагою та вдячністю до вчителів і всіх, хто супроводжує дітей під час їх дорослішання. Дуже хотілося зробити його практичним, насиченим і веселим, і в дуже простій формі говорити про глибокі речі. «Колошкільне дитинознавство» складається з 7 блоків — з іграми, практиками адаптації до школи (садочку), трансформації тривоги, агресії, секретами повернення концентрації уваги, «направлення» активності на перерві та «входу» в урок. А також — практичними думками з турботою про самого вчителя, вихователя, батька чи матір. Курс ми знімали «наживо», без суфлеру. І, при всій моїй рішучості та тренуваннях, — записати його українською мовою все ж не наважилася. Весь курс супроводжують субтитри українською мовою. Вся наша команда — студія онлайн-освіти EdEra, ГО «Смарт Освіта» і я — ми дуже сподіваємося, що курс буде корисний :)

				p(style='margin-right:10px; text-align:right;')
					em Світлана Ройз

		#courses.section.four
			.container   
					h2 Відеолекції
			.container
				.course_card
					.figure
						img(src='/img/royz/ua/block_1.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=Wii2hk5rkK8') Переглянути відео
					h3.course_title Блок 1. Знайомство з простором. Введення правил
					p
						| Знайомство-подорож Студією. Цей блок про те, як створити безпечне, збагачене навчальне середовище. Як включити різні канали сприйняття дитини, встановити правила. Як налаштувати дитину на навчальний процес.

				.course_card
					.figure
						img(src='/img/royz/ua/block_2.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=8NBvEeiFK9U') Переглянути відео
					h3.course_title Блок 2. Адаптація, безпека, включеність у навчальний процес
					p
						| Нескладні практики для «увімкнення» всіх каналів сприйняття. Практики для відчуття безпеки й близькості в класі, адаптації до школи, фокусування уваги. Пісні-налаштування, орігамі, «Серце класу», «браслет-невтрачайка», малювання форм.

				.course_card
					.figure
						img(src='/img/royz/ua/block_3.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=mgF0M1kt5W0') Переглянути відео
					h3.course_title Блок 3. Налаштування на урок
					p
						| Формування простору уроку. Для кожної дитини важливе «переключення» — перефокусування з простору сім’ї чи перерви на «простір уроку». У цьому блоці розглядається практикум налаштування на урок. Ігри, практики, вправи і «несекретні секрети» для всіх каналів сприйняття.

				.course_card
					.figure
						img(src='/img/royz/ua/block_4.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=ssRKbzea238') Переглянути відео
					h3.course_title Блок 4. Практикум з дітьми (Частина 1)
					p
						| Прості психотерапевтичні (арт-терапевтичні) «інструменти» для трансформації невпевненості в собі, тривоги, сором’язливості, страху відповідати біля дошки. Створення метафори мудрості, сили. Налаштування на свій Потенціал.

				.course_card
					.figure
						img(src='/img/royz/ua/block_4_1.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=N6R1nTDspkA') Переглянути відео
					h3.course_title Блок 4. Практикум з дітьми (Частина 2)
					p
						| Ігровий практикум про безпечні й корисні активності дитини на перерві. Ігри для трансформації агресії та тривоги. Налаштування на урок. Нескладні практики уваги, ігри для зняття напруги й концентрації уваги.

				.course_card
					.figure
						img(src='/img/royz/ua/block_5.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=Cigv5myyZ9c') Переглянути відео
					h3.course_title Блок 5. Практикум для вчителя
					p
						| Наша робота — ресурсозатратна. І дуже багато залежить від нашого стану й уміння повертати собі «ресурсність». Практикум про те, що допоможе нам не вигорати й може бути нашим помічником.

				.course_card
					.figure
						img(src='/img/royz/ua/block_6.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=DbiiXcSnpMY') Переглянути відео
					h3.course_title Блок 6. Секрети для вчителя
					p
						| Секрети й «магія» для вчителя. Практикум про те, на що потрібно звертати увагу в поведінці дитини. Про техніку безпеки вчителя. Про «чарівну паличку» в руці вчителя й практичні методи закріплення інформації.

		section.anticorr-feedback
			.container
				h2.section_title
					span  Відгук про курс
				.feedback
					p.additional Заповніть, будь ласка, форму зворотного зв'язку слухача курсу «Колошкільне дитинознавство зі&nbsp;Світланою Ройз»
			.container
				.feedback
					a.button.button--big(href='https://edera1.typeform.com/to/D5Ojuz', target='_blank')
						| Залишити відгук

		// ПАРТНЕРИ
		#partners.section
			p.h2
				| Організації-розробники
			.container
				ul.partners_list
					li
						a(href='https://www.ed-era.com/', target='_blank', title='EdEra')
							img(src='../img/royz/ed-era_logo.png', alt='EdEra')
					li
						a(href='https://www.facebook.com/smartosvita/', target='_blank', title='Smart Osvita')
							img(src='../img/royz/smart-osvita-logo.png', alt='Smart Osvta')

		section.materials_features.archive
			.container
				p.additional Розробники курсу дякують за участь в проекті неймовірним діткам: Супрун Олександру та Лісниці Лані. А також FOXCOOL за надання реквізитів під час зйомок.


		section.mon-alarm.mon-main
			.container
				a.button.button--big(href='../children-ru/')
					| Русская версия
		
		include includes/footer.jade
		include includes/scripts.jade
