//
	 Created by artem on 05-02-2017.
include includes/head-royz-ru.jade
doctype html
html
	+head
	body
		include includes/gtm.jade
		include includes/header.jade
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

		.royz.section.heading
			.container
				h1
					span.exo Околошкольное ребенковедение со Светланой Ройз

		section.mon-alarm.mon-main
			.container
				h2 О проекте
				a.popup-youtube(href='https://www.youtube.com/watch?v=Sr2o3QpeXJg')
					img(alt='', width='' src='../img/royz/ru/royz-promo-ru.jpg')
			.container
				blockquote(style='text-align: left; text-align: -webkit-left; text-align: -moz-left; text-align: -o-left;')
					p
						| Курс создавался с большим уважением и благодарностью к учителям и всем, кто сопровождает детей во взрослении. Очень хотелось сделать его  практичным, насыщенным и веселым, и в очень простой форме говорить о глубоких вещах. «Околошкольное ребенковедение» состоит из 7 блоков — с играми, практиками адаптации к школе (садику), трансформации тревоги, агрессии, секретами возвращения концентрации внимания, «направления» активности на перемене  и «вхождения» в урок. А также — практическими мыслями с заботой о самом учителе, воспитателе, родителе. Курс мы снимали «наживо», без суфлера. И при всей моей решительности и тренировках — записать его на украинском языке все же не решилась. Весь курс сопровождают субтитры на украинском языке. Вся наша команда — студия онлайн-образования EdEra, ГО «Смарт Освита» и я — мы очень надеемся, что курс будет полезен :)

				p(style='margin-right:10px; text-align:right;')
					em Светлана Ройз

		#courses.section.four
			.container   
					h2 Видеолекции
			.container
				.course_card
					.figure
						img(src='/img/royz/ru/block_1.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=qeqtygwttBQ') Посмотреть видео
					h3.course_title Блок 1. Знакомство с пространством. Введение правил
					p
						| Знакомство-путешествие по Студии. Этот блок о том, как создать безопасную, обогащенную среду обучения. Как включить разные каналы восприятия ребёнка, установить правила. Как настроить ребёнка на учебный процесс.

				.course_card
					.figure
						img(src='/img/royz/ru/block_2.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=7zyrqr44KWU') Посмотреть видео
					h3.course_title Блок 2. Адаптация, безопасность, включение в учебный процесс
					p
						| Легкие практики для «включения» всех каналов восприятия. Практики для ощущения безопасности и близости в классе, адаптации к школе, фокусировки внимания. Песни-настройки, оригами, «Сердце класса», «браслет-непотеряшка», рисование форм.

				.course_card
					.figure
						img(src='/img/royz/ru/block_3.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=GVduUfsPRKw') Посмотреть видео
					h3.course_title Блок 3. Настройка на урок
					p
						| Формирование пространства урока. Для каждого ребёнка важно «переключение» — перефокусировка с пространства семьи или перемены на «пространство урока». В этом блоке рассматривается практикум настройки на урок. Игры, практики, упражнения и «несекретные секреты» для всех каналов восприятия.

				.course_card
					.figure
						img(src='/img/royz/ru/block_4.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=o2wXdUqpdco') Посмотреть видео
					h3.course_title Блок 4. Практикум с детьми (Часть 1)
					p
						| Простые психотерапевтические (арт-терапевтические)  «инструменты» для трансформации неуверенности в себе, тревоги, застенчивости, страха отвечать у доски. Создание метафоры мудрости, силы. Настройка на свой Потенциал.

				.course_card
					.figure
						img(src='/img/royz/ru/block_4_1.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=kDeu74EjQEU') Посмотреть видео
					h3.course_title Блок 4. Практикум с детьми (Часть 2)
					p
						| Игровой практикум о безопасных и полезных активностях ребенка на перемене. Игры для трансформации агрессии и тревоги. Настройка на урок. Простые практики внимательности, игры для снятия напряжения и концентрации внимания.



				.course_card
					.figure
						img(src='/img/royz/ru/block_5.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=ENgPbrdor9Y') Посмотреть видео
					h3.course_title Блок 5. Практикум для учителя
					p
						| Наша работа ресурсозатратна. И очень многое зависит от нашего состояния и умения возвращать себе «ресурсность». Практикум о том, что поможет нам не выгорать и может быть нашим помощником.

				.course_card
					.figure
						img(src='/img/royz/ru/block_6.jpeg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=BOQFBfSeAW4') Посмотреть видео
					h3.course_title Блок 6. Секреты для учителя
					p
						| Секреты и «волшебство» для учителя. Практикум о том, на что нам важно обращать внимание в поведении ребёнка. О технике безопасности учителя. О «волшебной палочке» в руке учителя и практических методах закрепления информации.

		section.anticorr-feedback
			.container
				h2.section_title
					span  Отзыв о курсе
				.feedback
					p.additional Заполните, пожалуйста, форму обратной связи слушателя курса «Околошкольное ребенковедение со&nbsp;Светланой Ройз»
			.container
				.feedback
					a.button.button--big(href='https://edera1.typeform.com/to/qLZGJO', target='_blank')
						| Оставить отзыв


		// ПАРТНЕРИ
		#partners.section
			p.h2
				| Организации-разработчики
			.container
				ul.partners_list
					li
						a(href='https://www.ed-era.com/', target='_blank', title='EdEra')
							img(src='../img/royz/ed-era_logo.png', alt='EdEra')
					li
						a(href='https://www.facebook.com/smartosvita/', target='_blank', title='Smart Osvita')
							img(src='../img/royz/smart-osvita-logo.png', alt='Smart Osvta')

		section.materials_features.archive
			.container
				p.additional Разработчики курса благодарят за участие в проекте невероятным детям: Супрун Александру и Лисници Лане. А также FOXCOOL за предоставление реквизитов во время съемок.

		section.mon-alarm.mon-main
			.container
				a.button.button--big(href='../children-ua/')
					| Українська версія

		include includes/footer.jade
		include includes/scripts.jade