//
   Created by olga on 03-02-2015.
include includes/head-mon.jade
doctype html
html
  +head
  body
    include includes/gtm.jade
    include includes/header.jade
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

    .mon.section.heading
      .container
        h1
          span.exo Оновлені програми для початкової школи, поради вчителям, додаткові навчальні матеріали
          small Міністерство освіти і науки України та проект EdEra за сприяння МФ «Відродження»
    section.project_features
      .container
        .row 
          .col-lg-1.col-md-1.col-sm-1
          .col-lg-6.col-md-6.col-sm-12
            .lead_block
              p.lead  
                | Шановні читачі, перед вами оновлені навчальні програми для початкової школи, які затверджено  Наказом МОН після публічного обговорення на нашій платформі.  Щоб полегшити впровадження оновлених програм, EdEra спільно з МОН підготувала поради для вчителів, методичні рекомендації, збирає додаткові навчальні матеріали, які будуть розміщені у вільному доступі. Приємного та продуктивного навчання!
          .col-lg-4.col-md-4.col-sm-12
            ul.features_list
              li
                | Оновлені програми для початкової школи
              li
                | Поради експертів, додаткові навчальні матеріали
              li
                | Відеозвернення письменників, внесених в програму літературного читання
              li
                | Вільний доступ до всіх матеріалів
              li
                | Вчителям, учням, батькам
    //-section.mon-news.mon-alarm
      .container
        h2.section_title
          span Завершено публічне обговорення програм для початкової школи
        span
          | Перша хвиля обговорення: 5356 коментарів, 2363 користувачі. Друга хвиля: 2880 коментарів, 1652 користувачі. Наразі робочі групи вносять останні правки у навчальні програми. Слідкуйте за новинами проекту.
        a.button.w(href="https://www.youtube.com/watch?v=v5ZthJ0yOSU", title="Інфографіка", target="_blank")
          strong 1 хвиля. Переглянути інфографіку
    section.mon_subject
      .row
        .col-sm-12.col-md-4.col-lg-4
          .container
            h3.mon_title Літературне читання (2-4 класи)
            .program
              a(href='http://readmon24-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/lit-mon24.jpg')
                  figcaption
                    h3
                      small Перейти до програми 
                        sup ❐

        .col-sm-12.col-md-8.col-lg-8#reading 
          .row
            .col-sm-12.col-md-5.col-lg-5
              .video-wraper  
                .video-block
                  figure
                    figcaption 
                      p Вступне слово
                    a.popup-youtube(href='https://www.youtube.com/watch?v=jbEtxCKggJI')
                      img(alt='', src='../img/books/mon_recommend/stus.jpg')

            .col-sm-12.col-md-5.col-lg-5
              .video-block
                figure
                  figcaption 
                    p Катерина Бабкіна
                  a.popup-youtube(href='https://www.youtube.com/watch?v=qMSfUi_4HZk')
                    img(alt='', src='../img/books/mon_recommend/babkina.jpg')

          .row
            .col-sm-12.col-md-5.col-lg-5
              .video-block
                figure
                  figcaption 
                    p Тетяна Стус
                  a.popup-youtube(href='https://www.youtube.com/watch?v=Ub5I1u538rA')
                    img(alt='', src='../img/books/mon_recommend/stus2.jpg')
              .video-block.optional
                figure
                  figcaption 
                    p Олеся Мамчич
                  a.popup-youtube(href='https://www.youtube.com/watch?v=RXL5yO-BMZQ')
                    img(alt='', src='../img/books/mon_recommend/mamchych.jpg') 
            
              .video-block.optional
                figure
                  figcaption 
                    p Оксана Кротюк
                  a.popup-youtube(href='https://www.youtube.com/watch?v=wvCr9Cc6J3M')
                    img(alt='', src='../img/books/mon_recommend/krotyuk.jpg') 

              .video-block.optional
                figure
                  figcaption 
                    p Іван Андрусяк
                  a.popup-youtube(href='https://www.youtube.com/watch?v=fCb5FLt1nlU')
                    img(alt='', src='../img/books/mon_recommend/andrusyak.jpg') 

              .video-block.optional
                figure
                  figcaption 
                    p Олександра Кочубей
                  a.popup-youtube(href='https://www.youtube.com/watch?v=pD0yn56bj8w')
                    img(alt='', src='../img/books/mon_recommend/kochubey.jpg') 

              .video-block.optional
                figure
                  figcaption 
                    p Валентина Вздульська
                  a.popup-youtube(href='https://www.youtube.com/watch?v=ZJrmdFb65vo')
                    img(alt='', src='../img/books/mon_recommend/vzdulska.jpg') 

            .col-sm-12.col-md-5.col-lg-5
              .video-wraper  
                .video-block.controller
                  a.button.more-videos Більше
                  a.button.hide-videos Сховати

              .video-block.optional
                figure
                  figcaption 
                    p Анатолій Качан
                  a.popup-youtube(href='https://www.youtube.com/watch?v=yu-ecUvYvik')
                    img(alt='', src='../img/books/mon_recommend/kachan.jpg') 

              .video-block.optional
                figure
                  figcaption 
                    p Галина Ткачук
                  a.popup-youtube(href='https://www.youtube.com/watch?v=NW7Y2GVlpcU')
                    img(alt='', src='../img/books/mon_recommend/tkachuk.jpg') 

              .video-block.optional
                figure
                  figcaption 
                    p Сашко Дерманський
                  a.popup-youtube(href='https://www.youtube.com/watch?v=OSbHwzqGBk0')
                    img(alt='', src='../img/books/mon_recommend/dermanskyi.jpg') 

              .video-block.optional
                figure
                  figcaption 
                    p Лариса Денисенко
                  a.popup-youtube(href='https://www.youtube.com/watch?v=A8gGuxcOLvQ')
                    img(alt='', src='../img/books/mon_recommend/denysenko.jpg') 

              .video-block.optional
                figure
                  figcaption 
                    p Леся Воронина
                  a.popup-youtube(href='https://www.youtube.com/watch?v=95QOsQ3PPwg')
                    img(alt='', src='../img/books/mon_recommend/voronyna.jpg') 
            
            

      .container
        h3.mon_title Українська мова (1-4 класи)
        .program
          a(href='http://ukrmon14-new.ed-era.com/')
            figure
              img(alt='', src='../img/books/mon_approved/ukr-mon14.jpg')
              figcaption
                h3
                  small Перейти до програми 
                    sup ❐
                  
        .video-block-wraper
          .video-wraper#ukr
            .video-block
              figure
                figcaption 
                  p Вступне слово
                a.popup-youtube(href='https://www.youtube.com/watch?v=BDDzTaJtc1E')
                  img(alt='', src='../img/books/mon_recommend/ukr_1.jpg')
            
            .video-block
              figure
                figcaption 
                  p Технологія «Сторітелінг»
                a.popup-youtube(href='https://www.youtube.com/watch?v=K2YVwU9B6L4')
                  img(alt='', src='../img/books/mon_recommend/ukr_3.jpg')

             .video-block.optional
              figure
                figcaption 
                  p Стратегія розвитку критичного мислення «РАФТ»
                a.popup-youtube(href='https://www.youtube.com/watch?v=3gMIhCPJDuE')
                  img(alt='', src='../img/books/mon_recommend/ukr_4.jpg')

            .video-block.optional
              figure
                figcaption 
                  p Стратегія розвитку критичного мислення «Кубування»
                a.popup-youtube(href='https://www.youtube.com/watch?v=b6fWNRvk9AA')
                  img(alt='', src='../img/books/mon_recommend/ukr_5.jpg')

            .video-block
              figure
                figcaption 
                  p «Щоденні 5»
                    br
                    |(Письмо для себе)
                a.popup-youtube(href='https://www.youtube.com/watch?v=4BE3CBIsbeo')
                  img(alt='', src='../img/books/mon_recommend/ukr_2.jpg')

            .video-block.optional
              figure
                figcaption 
                  p «Щоденні 5»
                    br
                    |(Робота зі словами)
                a.popup-youtube(href='https://www.youtube.com/watch?v=HVvvWPPKCk8')
                  img(alt='', src='../img/books/mon_recommend/ukr_2_2.jpg')
            
            .video-block.controller
              a.button.more-videos Більше
              a.button.hide-videos Сховати

      .container
        h3.mon_title Англійська мова (1-4 класи)
        .program
          a(href='http://englishmongeneral-new.ed-era.com/')
            figure
              img(alt='', src='../img/books/mon_approved/english-mon14.jpg')
              figcaption
                h3
                  small Перейти до програми 
                    sup ❐
                  
        .video-block-wraper
          .video-wraper#english  
            .video-block
              figure
                figcaption 
                  p Вступне слово
                a.popup-youtube(href='https://www.youtube.com/watch?v=RHc403A47WI')
                  img(alt='', src='../img/books/mon_recommend/eng_start.jpg')

            .video-block
              figure
                figcaption 
                  p Ключові зміни
                a.popup-youtube(href='https://www.youtube.com/watch?v=D0Xrw5FTN1I')
                  img(alt='', src='../img/books/mon_recommend/eng_0.jpg')
            
            .video-block
              figure
                figcaption 
                  p Усний курс
                a.popup-youtube(href='https://www.youtube.com/watch?v=5ivmbhtFEIY')
                  img(alt='', src='../img/books/mon_recommend/eng_1.jpg')
            
            .video-block.optional
              figure
                figcaption 
                  p Фонетичний фокус
                a.popup-youtube(href='https://www.youtube.com/watch?v=VRh6cCkiAw4')
                  img(alt='', src='../img/books/mon_recommend/eng_2.jpg')

            .video-block.optional
              figure
                figcaption 
                  p Письмо 
                a.popup-youtube(href='https://www.youtube.com/watch?v=rYQXkEE5YdU')
                  img(alt='', src='../img/books/mon_recommend/eng_3.jpg')

            .video-block.optional
              figure
                figcaption 
                  p Міні-проекти
                a.popup-youtube(href='https://www.youtube.com/watch?v=Sn94G9RKJa8')
                  img(alt='', src='../img/books/mon_recommend/eng_4.jpg') 
            
            .video-block.optional
              figure
                figcaption
                  p Колекція відеопосилань від Олени Барсук
                a(href='../img/books/mon_recommend/english/english_1.pdf' target="_blank")
                  img(alt='', src='../img/books/mon_recommend/document.jpg')

            .video-block.optional
              figure
                figcaption
                  p Колекція відеопосилань від Алли Омельяненко
                a(href='../img/books/mon_recommend/english/english_2.pdf' target="_blank")
                  img(alt='', src='../img/books/mon_recommend/document.jpg')

            .video-block.optional
              figure
                figcaption
                  p Колекція відеопосилань від Тетяни Бєляєвої
                a(href='../img/books/mon_recommend/english/english_3.pdf' target="_blank")
                  img(alt='', src='../img/books/mon_recommend/document.jpg')

            .video-block.optional
              figure
                figcaption
                  p Приклади різних методичних прийомів 
                a(href='../img/books/mon_recommend/english/english_4.pdf' target="_blank")
                  img(alt='', src='../img/books/mon_recommend/document.jpg')


            .video-block.controller
              a.button.more-videos Більше
              a.button.hide-videos Сховати
        
      .container
        h3.mon_title Математика (1-4 класи)
        .program
          a(href='http://mathmon14-new.ed-era.com/')
            figure
              img(alt='', src='../img/books/mon_approved/math-mon14.jpg')
              figcaption
                h3
                  small Перейти до програми 
                    sup ❐
                  
        .video-block-wraper
          .video-wraper#math
            .video-block
              figure
                figcaption 
                  p Вступне слово
                a.popup-youtube(href='https://www.youtube.com/watch?v=nVU-PAOg5Gk')
                  img(alt='', src='../img/books/mon_recommend/math_1.jpg')
           
            .video-block
              figure
                figcaption 
                  p Ключові зміни
                a.popup-youtube(href='https://www.youtube.com/watch?v=lWjlzGF83dM')
                  img(alt='', src='../img/books/mon_recommend/math_2.jpg')

            .video-block
              figure
                figcaption 
                  p Розуміння навчальної інформації 
                a.popup-youtube(href='https://www.youtube.com/watch?v=wgC0D5n3qAY')
                  img(alt='', src='../img/books/mon_recommend/math_3.jpg')
            
            .video-block.optional
              figure
                figcaption 
                  p Оновлена програма з математики. Перший клас
                a.popup-youtube(href='https://www.youtube.com/watch?v=ha_DrHpwjz8')
                  img(alt='', src='../img/books/mon_recommend/math_4.jpg')

            .video-block.optional
              figure
                figcaption 
                  p Ознайомлення із порівнянням чисел
                a.popup-youtube(href='https://www.youtube.com/watch?v=R9jnt8RoW8M')
                  img(alt='', src='../img/books/mon_recommend/math_5.jpg')

            .video-block.optional
              figure
                figcaption 
                  p Порівняння чисел. Склад числа
                a.popup-youtube(href='https://www.youtube.com/watch?v=IW25-D-iHrs')
                  img(alt='', src='../img/books/mon_recommend/math_6.jpg')
            
            .video-block.optional
              figure
                figcaption 
                  p Табличне додавання і віднімання чисел
                a.popup-youtube(href='https://www.youtube.com/watch?v=F-bXeXRRQmM')
                  img(alt='', src='../img/books/mon_recommend/math_7.jpg')
            
            .video-block.optional
              figure
                figcaption 
                  p Табличне множення і ділення
                a.popup-youtube(href='https://www.youtube.com/watch?v=uGhhb05_qy0')
                  img(alt='', src='../img/books/mon_recommend/math_8.jpg')

            .video-block.optional
              figure
                figcaption 
                  p Додавання і віднімання частинами
                a.popup-youtube(href='https://www.youtube.com/watch?v=pr9qD59YfNo')
                  img(alt='', src='../img/books/mon_recommend/math_9.jpg')


            .video-block.controller
              a.button.more-videos Більше
              a.button.hide-videos Сховати
      
      .container
        h3.mon_title Інформатика (2-4 класи)
        .program
          a(href='http://informaticsmon24-new.ed-era.com/')
            figure
              img(alt='', src='../img/books/mon_approved/info-mon24.jpg')
              figcaption
                h3
                  small Перейти до програми 
                    sup ❐
                  
        .video-block-wraper
          .video-wraper#informatics
            .video-block
              figure
                figcaption 
                  p Вступне слово
                a.popup-youtube(href='https://www.youtube.com/watch?v=TAC5tt7Geaw')
                  img(alt='', src='../img/books/mon_recommend/info_1.jpg')
          
            .video-block
              figure
                figcaption 
                  p Інформація
                a.popup-youtube(href='https://www.youtube.com/watch?v=lJHiqOyHgkc')
                  img(alt='', src='../img/books/mon_recommend/info_2.jpg')

            .video-block
              figure
                figcaption 
                  p Комп'ютери та інші пристрої
                a.popup-youtube(href='https://www.youtube.com/watch?v=SWLZ96oXikA')
                  img(alt='', src='../img/books/mon_recommend/info_3.jpg')

            .video-block.optional
              figure
                figcaption 
                  p Інтернет
                a.popup-youtube(href='https://www.youtube.com/watch?v=spz3uPg6Wps')
                  img(alt='', src='../img/books/mon_recommend/info_4.jpg')

            .video-block.optional
              figure
                figcaption 
                  p Графіка
                a.popup-youtube(href='https://www.youtube.com/watch?v=oLagdqSMidg')
                  img(alt='', src='../img/books/mon_recommend/info_5.jpg')

            .video-block.optional
              figure
                figcaption
                  p Посилання на скрінкасти
                a(href='../img/books/mon_recommend/inform.pdf' target="_blank")
                  img(alt='', src='../img/books/mon_recommend/document.jpg')

            .video-block.controller
              a.button.more-videos Більше
              a.button.hide-videos Сховати


    //-section.mon_subject  
      .container
        h3.mon_title Українська мова (1-4 класи)  
        .program
          a(href='http://ukrmon14-new.ed-era.com/')
            figure
              img(alt='', src='../img/books/mon_approved/ukr-mon14.jpg')
              figcaption
                h3
                  small
                    | Перейти до програми 
                    sup ❐
    //-section.mon_subject
      .container
        h3.mon_title Математика
        .program
          a(href='http://readmon24-new.ed-era.com/')
            figure
              img(alt='', src='../img/books/mon_approved/lit-mon24.jpg')
              figcaption
                h3
                  small
                    | Перейти до програми 
                    sup ❐

    // Programs
    section.bookshelf
      .container
        .row
          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://ukrmon14-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/ukr-mon14.jpg')
                  figcaption
                    h3
                      | Українська мова
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://readmon24-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/lit-mon24.jpg')
                  figcaption
                    h3
                      | Літературне читання
                      small
                        | 2-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://mathmon14-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/math-mon14.jpg')
                  figcaption
                    h3
                      | Математика
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://informaticsmon24-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/info-mon24.jpg')
                  figcaption
                    h3
                      | Інформатика
                      small
                        | 2-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://physicalculturemon14-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/fizra-mon14.jpg')
                  figcaption
                    h3
                      | Фізична культура
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://artsmon14-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/art-mon14.jpg')
                  figcaption
                    h3
                      | Мистецтво
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://musicmon14-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/music-mon14.jpg')
                  figcaption
                    h3
                      | Музичне мистецтво
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://mon-arts-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/obraz-mon14.jpg')
                  figcaption
                    h3
                      | Образотворче мистецтво
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://mon-health-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/osnovy-mon14.jpg')
                  figcaption
                    h3
                      | Основи здоров'я
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://naturemon14-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/pryroda-mon14.jpg')
                  figcaption
                    h3
                      | Природознавство
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://workmon14-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/work-mon14.jpg')
                  figcaption
                    h3
                      |  Трудове навчання
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://worldmon34-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/ya-mon34.jpg')
                  figcaption
                    h3
                      |  Я у світі
                      small
                        | 3-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://englishmongeneral-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/english-mon14.jpg')
                  figcaption
                    h3
                      |  Англійська мова (Загальноосвітні НЗ)
                      small
                        | 1-4 класи

          .col-sm-12.col-md-6.col-lg-4
            .book.about
              a(href='http://englishmonspecial-new.ed-era.com/')
                figure
                  img(alt='', src='../img/books/mon_approved/english-mon14-specialist.jpg')
                  figcaption
                    h3
                      |  Англійська мова (Спеціалізовані НЗ)
                      small
                        | 1-4 класи

    section.mon-news
      .container
        h2.section_title
          span Слідкуйте за новинами і анонсами
        ul.social
          li
            i.fa.fa-globe
            a.social-link(href='http://www.mon.gov.ua/' title='Сайт МОН') Сайт МОН
          li
            i.fa.fa-facebook-square
            a.social-link(href='https://www.facebook.com/EdEraUa/' title='facebook EdEra') EdEra
          //-li
            i.fa.fa-facebook-square
            a.social-link(href='https://www.facebook.com/MONmolodsport/' title='facebook Міністерство освіти і науки') МОН
    section.support_us
      .container
        p
          | Розповсюджуйте, будь ласка, інформацію про проект, щоб долучити якомога більше спеціалістів до обговорень:
        .likely.likely-big
          .facebook Поділитись
          .gplus Плюсанути
          .twitter(data-via='info_edera') Твітнути
    section.foundation
      .container
        p.label
          | За підтримки міжнародного фонду «Відродження»
        img.logo(alt='', src='../img/books/mon_new/IRF_logo.png')
    
    //-section.subscription
      .container
        p Програми оновлюються і доповнюються новим матеріалом. Заповніть емейл форму, щоби бути у курсі:
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='//ed-era.us11.list-manage.com/subscribe/post?u=8866dd2b60d24631dfb05130e&amp;id=30bbf66b23', method='post', name='mc-embedded-subscribe-form', novalidate='', target='_blank')
            #mc_embed_signup_scroll
                .mc-field-group
                  label(for='mce-EMAIL')
                      input#mce-EMAIL.required.email(name='EMAIL', type='email', value='')
                      button#mc-embedded-subscribe.button(name='subscribe', type='submit')
                        | Слідкувати за новинами
          #mce-responses.row
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;')
            input(name='b_f0d231561f25f732145baed3d_ba0b4591d2', tabindex='-1', type='text', value='')
          script(src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js', type='text/javascript')
          script.
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
    include includes/footer.jade
    include includes/scripts.jade
