//
	 Created by artem on 05-02-2017.
include includes/head-mon59.jade
doctype html
html
	+head
	body
		include includes/gtm.jade
		include includes/header.jade
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

		.mon59.section.heading
			.container
				h1
					span.exo Оновлення програм для базової загальної середньої освіти
					small Міністерство освіти і науки України та проект EdEra за сприяння МФ «Відродження»
		section.project_features
			.container
				.lead_block
					p.lead
						| Колегія МОН затвердила оновлені програми, нижче ви можете завантажити їх у форматі pdf. EdEra спільно з МОН створює методичні відеорекомендації, які будуть публікуватись у липні на цій сторінці. Забирайте, використовуйте та оновлюйте школу вже сьогодні!

				article
					ul.features_list
						li
							| Оновлені програми для основної школи
						li
							| Поради експертів, додаткові навчальні матеріали
						li
							| Вільний доступ до всіх матеріалів
						li
							| Вчителям, учням, батькам

		section.mon-alarm.mon-main
			.container
				h2 Загальні зміни в оновлених навчальних програмах 5-9 класів
				a.popup-youtube(href='https://www.youtube.com/watch?v=y9e6oPWKdFI')
					img(alt='', width='' src='../img/books/mon59/promo-59.jpg')

		#courses.section.four
			.container   
					h2 Відеорекомендації
			.container
				.course_card
					//-ins.free Новинка
					.figure
						img(src='/img/books/mon59/video/ukr59.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=gATKpHV2OcA') Переглянути відео
					h3.course_title Українська мова
						br
						| «Комплексне завдання»
					p
						| Тема уроку «Минулий час. Зміна дієслів у минулому часі». Юлія Романенко демонструє, як на основі аналізу тексту можна повторювати та вивчати новий матеріал.

				.course_card
					//-ins.free Новинка
					.figure
						img(src='/img/books/mon59/video/work59.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=5Ag5v-UEmjc') Переглянути відео
					h3.course_title Трудове навчання
					p
						| На своїх уроках Юлія Приходько проводить ігри, що підвищують рівень позитивних емоцій серед учнів. Далі – організовує роботу учнів так, щоб вони одержали нові знання та розвивали власні здібності. А як це впливає на креативність і мотивацію учнів – у нашому відео.

				.course_card

					.figure
						img(src='/img/books/mon59/video/math159.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=AUyWctNYgU0') Переглянути відео
					h3.course_title Математика І
					p
						| 12 ідей, як виконати завдання уроку, зробити його цікавим і продуктивним для учнів, забезпечити формування ключових компетентностей, а також приділити достатньо уваги реалізації наскрізних ліній – у  першій частині відеорекомендації від Наталії Панової.

				.course_card

					.figure
						img(src='/img/books/mon59/video/math259.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=XlCs1Y50nL0') Переглянути відео
					h3.course_title Математика ІІ
					p
						| У другій частині відеорекомендації з математики «12 ідей для цікавого уроку» Наталія Панова продовжує розповідати про методи, які допоможуть зробити навчання максимально ефективним для учнів, реалізувати наскрізні лінії та сформувати необхідні для дітей компетентності.

				.course_card
					.figure
						img(src='/img/books/mon59/video/business59.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=Px_4lyi7iOo') Переглянути відео
					h3.course_title «Підприємливість і фінансова грамотність»
					p
						| Способи реалізації наскрізної змістової лінії «Підприємливість і фінансова грамотність» на прикладі «Історії України», «Природознавства» та «Фізики» від трьох лекторів: Олени Бурлаки, Оксани Сампари, Віктора Ґудзя.

				.course_card
					.figure
						img(src='/img/books/mon59/video/responsibility59.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=G4QIE5TUkBE') Переглянути відео
					h3.course_title «Громадянська відповідальність»
					p
						| Про те, як на прикладі тем з історії, мистецтва та української літератури реалізувати змістову лінію «Громадянська відповідальність» і пояснити важливість захисту людиною своїх прав, розповідають Леся Хлипавка, Олена Гайдамака, Анна Білоус.

				.course_card
					.figure
						img(src='/img/books/mon59/video/health59.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=j2TbEfYYLcI') Переглянути відео
					h3.course_title «Здоров’я і безпека»
					p
						| Впровадження наскрізної змістової лінії «Здоров’я і безпека» на уроках біології та географії –  у відеорекомендації з Олександром Козленко та Марком Бобровським. Експерти діляться досвідом, як заохотити учня до здорового способу життя і навчити формувати безпечне для життя середовище.

				.course_card
					.figure
						img(src='/img/books/mon59/video/ecology59.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=Lbify6fVKHM') Переглянути відео
					h3.course_title «Екологічна безпека і сталий розвиток»
					p
						| Реалізація наскрізної змістової лінії «Екологічна безпека та сталий розвиток» на уроках зарубіжної літератури і трудового навчання – у відеорекомендації з Оленою Семенюк і Андрієм Терещуком. Вони розповідають, як допомогти учням осмислити важливість захисту довкілля.


				.course_card
					.figure
						img(src='/img/books/mon59/video/hist159.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=mwDkQcTWZEI') Переглянути відео
					h3.course_title Хмарні технології на уроках історії
					p
						| Доцільність використання можливостей інтернет-простору і, зокрема, хмарних технологій пояснює Олена Бурлака. Онлайн-сервіси дозволять організувати віртуальну дискусію та ефективну співпрацю між учителем і учнями.

				.course_card
					.figure
						img(src='/img/books/mon59/video/cs159.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=4X4NjwdLT3w') Переглянути відео
					h3.course_title Інформатика (частина 1)
					p
						| Вивчення програмування в школі – це не лише про набуття вміння складати програми, а й про співпрацю, відповідальність, наполегливість та креативність. Як сформувати ці навички та риси характеру під час уроків з інформатики, розповідає Оксана Пасічник у першій частині відеорекомендації.


				.course_card
					.figure
						img(src='/img/books/mon59/video/cs259.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=UzLLHIMiX-4') Переглянути відео
					h3.course_title Інформатика (частина 2)
					p
						| У другій частині відеорекомендації з інформатики Оксана Пасічник розповідає, як ставити правильні запитання та спонукати дітей до дискусії. Для прикладу вчителька пояснює, як зробити теоретичні уроки «Історія розвитку комп’ютерної техніки» або «Інформаційна безпека» цікавими для учнів.

				.course_card
					.figure
						img(src='/img/books/mon59/video/english159.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=vqgepEuScY4') Переглянути відео
					h3.course_title Англійська мова (частина 1)
					p
						| У першій відеорекомендації Валентина Тумасова розповідає про основні акценти взаємодії учнів і вчителя під час вивчення іноземної мови. Учні хочуть працювати в команді, виконувати різні ролі, знаходити альтернативні рішення однієї проблеми. Тому на уроках варто моделювати ситуації, близькі до реальності.

				.course_card
					.figure
						img(src='/img/books/mon59/video/english259.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=dxaqBFZlllI') Переглянути відео
					h3.course_title Англійська мова (частина 2)
					p
						| У цьому відео Валентина Тумасова пояснює, чому під час вивчення іноземної мови необхідно використовувати новітні технології. Також, на думку вчительки, хорошою мотивацією для учнів є залучення до різноманітних освітніх проектів, що актуалізує необхідність вивчення англійської мови.


				//- .course_card
					.figure
						img(src='/img/books/mon59/video/hist259.jpg', alt='')
						a.popup-youtube.button.goto_course(href='https://www.youtube.com/watch?v=cVGT4s41y_s') Переглянути відео
					h3.course_title Метод Fishbone на уроках історії
					p
						| Про використання методу «Фішбоун», що сприяє розвитку критичного мислення у дітей,  розповідає Леся Хлипавка. Завдяки вдалому структуруванню навчального матеріалу, учні зможуть працювати навіть з великим обсягом інформації.


		// Programs
		section.bookshelf
			.container
				.book.about
					//-a(href='http://ukrmon59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/11.ukrayinska-mova-onovlena-programa-dlya-5-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/ukr-mon59.jpg')
							figcaption
								h3
									| Українська мова
									small
										| 5-9 класи
				.book.about
					//-a(href='http://litmon59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/1.ukrayinska-literatura-5-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/lit-mon59.jpg')
							figcaption
								h3
									| Українська література
									small
										| 5-9 класи
				.book.about
					//-a(href='http://mathmon59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/5.programa-z-matematiki.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/math-mon59.jpg')
							figcaption
								h3
									| Математика
									small
										| 5-9 класи
				.book.about
					//-a(href='https://physicsmon79.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/8.informatika.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/info-mon59.jpg')
							figcaption
								h3
									| Інформатика
									small
										| 5-9 класи
				.book.about
					//-a(href='https://englishmontwo59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/16.fizichnoyi-kulturi-5-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/fizra-mon59.jpg')
							figcaption
								h3
									| Фізична культура
									small
										| 5-9 класи

				.book.about
					//-a(href='https://physicsmon79-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/7.fizika.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/physics-mon79.jpg')
							figcaption
								h3
									| Фізика
									small
										| 7-9 класи

				.book.about
					//-a(href='http://workmon59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/2.trudove-navchannya-5-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/work-mon59.jpg')
							figcaption
								h3
									| Трудове навчання
									small
										| 5-9 класи

				.book.about
					//-a(href='http://artmon59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/9.mistecztvo-5-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/art-mon59.jpg')
							figcaption
								h3
									| Мистецтво
									small
										| 5-9 класи

				.book.about
					//-a(href='http://healthmon59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/13.osnovi-zdorovya.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/health-mon59.jpg')
							figcaption
								h3
									| Основи здоров'я
									small
										| 5-9 класи

				.book.about
					//-a(href='http://histmon59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/14.history-5-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/hist-mon59.jpg')
							figcaption
								h3
									| Історія
									small
										| 5-9 класи

				.book.about
					//-a(href='http://zarlitmon59-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/4.zarubizhna-literatura-5-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/zarlit-mon59.jpg')
							figcaption
								h3
									|  Зарубіжна література
									small
										| 5-9 класи

				.book.about
					//-a(href='http://geomon69-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/3.geografiya-6-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/geo-mon69.jpg')
							figcaption
								h3
									|  Географія
									small
										| 6-9 класи

				.book.about
					//-a(href='https://chemestrymon79-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/10.ximiya-7-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/chemestry-mon79.jpg')
							figcaption
								h3
									|  Хімія
									small
										| 7-9 класи

				.book.about
					//-a(href='http://biomon69-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/15.biologiya-6-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/bio-mon69.jpg')
							figcaption
								h3
									|  Біологія
									small
										| 6-9 класи

				.book.about
					//-a(href='http://naturemon5-new.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/12.prirodoznavstvo.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/nature-mon5.jpg')
							figcaption
								h3
									|  Природознавство
									small
										| 5 клас

				.book.about
					//-a(href='https://englishmongeneral59.ed-era.com/' target="_blank")
					a(href='../img/books/mon59/programs/17.programi-inozemni-movi-5-9.pdf' target="_blank")
						figure
							img(alt='', src='../img/books/mon59_approved/mongeneral59.jpg')
							figcaption
								h3
									|  Іноземні мови
									small#anchor-timeline
										| 5-9 класи

		section#cd-timeline.cd-container
			.cd-timeline-block
				.cd-timeline-img.cd-picture
					img(src='../img/books/mon59/svg/moderators.svg', alt='Конкурс модераторів')
				// cd-timeline-img
				.cd-timeline-content
					h2 Конкурс модераторів
					p
						| Перед тим, як програми будуть опубліковані для публічного обговорення, ми повинні сформувати команди модераторів та робочі групи. Якщо ви бажаєте бути модератором обговорень та співкерівником робочих груп у проекті оновлення програм, будь ласка, заповніть анкету за посиланням: 
						a(href='https://edera1.typeform.com/to/P2kgsi' target="_blank") https://edera1.typeform.com/to/P2kgsi
					span.cd-date до 5 лютого
				// cd-timeline-content
			// cd-timeline-block
			.cd-timeline-block
				.cd-timeline-img.cd-picture
					img(src='../img/books/mon59/svg/comments1.svg', alt='Обговорення')
				// cd-timeline-img
				.cd-timeline-content
					h2 Перша сесія онлайн обговорення
					p
						| Чинні навчальні програми розміщуються на платформі EdEra для загального обговорення, де всі бажаючі, авторизувавшись, зможуть висловити свої пропозиції щодо їх модернізації.
					span.cd-date з 13 по 24 лютого
				// cd-timeline-content
			// cd-timeline-block
			.cd-timeline-block
				.cd-timeline-img.cd-location
					img(src='../img/books/mon59/svg/work1.svg', alt='Обробка коментарів')
				// cd-timeline-img
				.cd-timeline-content
					h2 Обробка коментарів
					p
						| Робочі групи спільно з модераторами доопрацьовуватимуть програми
					span.cd-date з 28 лютого по 12 березня
				// cd-timeline-content
			// cd-timeline-block
			.cd-timeline-block
				.cd-timeline-img.cd-picture
					img(src='../img/books/mon59/svg/comments2.svg', alt='Обговорення')
				// cd-timeline-img
				.cd-timeline-content
					h2 Друга сесія онлайн обговорення оновлених програм
					span.cd-date 22 березня по 2 квітня
				// cd-timeline-content
			// cd-timeline-block
			.cd-timeline-block
				.cd-timeline-img.cd-location
					img(src='../img/books/mon59/svg/work2.svg', alt='Обробка коментарів')
				// cd-timeline-img
				.cd-timeline-content
					h2 Обробка коментарів
					p 
						| Робочі групи спільно з модераторами доопрацьовуватимуть програми
					span.cd-date 3 квітня по 17 квітня
				// cd-timeline-content
			// cd-timeline-block
			.cd-timeline-block
				.cd-timeline-img.cd-movie
					img(src='../img/books/mon59/svg/mon.svg', alt='МОН')
				// cd-timeline-img
				.cd-timeline-content
					h2 Доопрацьовані програми будуть представлені на засіданні колегії МОН
					span.cd-date На початку травня 2017
				// cd-timeline-content
			// cd-timeline-block
		// cd-timeline
		
		section.mon-news
			.container
				h2.section_title
					span Слідкуйте за новинами і анонсами
				ul.social
					li
						i.fa.fa-globe
						a.social-link(href='http://www.mon.gov.ua/' title='Сайт МОН' target='_blank') Сайт МОН
					li
						i.fa.fa-facebook-square
						a.social-link(href='https://www.facebook.com/EdEraUa/' title='facebook EdEra' target='_blank') EdEra
					//-li
						i.fa.fa-facebook-square
						a.social-link(href='https://www.facebook.com/MONmolodsport/' title='facebook Міністерство освіти і науки' target='_blank') МОН
		
		section.support_us
			.container
				p
					| Розповсюджуйте, будь ласка, інформацію про проект, щоб долучити якомога більше спеціалістів до обговорень:
				.likely.likely-big
					.facebook Поділитись
					.gplus Плюсанути
					.twitter(data-via='info_edera') Твітнути
		section.foundation
			.container
				p.label
					| За підтримки міжнародного фонду «Відродження»
				img.logo(alt='', src='../img/books/mon_new/IRF_logo.png')
		
		include includes/footer.jade
		include includes/scripts.jade
