
include includes/head-world2030.jade
doctype html
html
	+head
	body
		include includes/gtm.jade
		include includes/header.jade
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

		.mun.section.heading
			.container
				h1
					span.exo Найбільший урок у світі
					small
						|UNICEF та EdEra
		section.project_features
			.container
				.lead_block
					p.lead
						| Модель ООН – це інтелектуальна рольова гра, де кожен учасник (студенти, діти, молоді спеціалісти) виступає у ролі дипломата – представника (делегата) певної країни. Учасники дотримуються реальних правил, процедур, що діють в ООН, і обговорюють питання, які дійсно є важливими для ООН на сьогодні.

				article
					ul
						li
							| Публічні виступи
						li
							| Навички аналітичного та критичного мислення
						li
							| Робота в команді
						li
							| Навички вирішувати конфлікти

		section.mon-alarm.mon-main
			.container
				h2 Що таке Модель ООН?
				a.popup-youtube(href='https://www.youtube.com/watch?v=vjdyuwX49TA')
					img(alt='', width='' src='../../img/cases/mun_promo_video.jpg')

		section.subscription
			.container
				p
					| На сторінці проекту ви знайдете правила МООН та додаткові матеріали. Ми рекомендуємо провести 5 занять для підготовки учасників. Сценарії уроків можете завантажити нижче:

		// Programs
		section.bookshelf
			.container
				h2
					| Сценарії уроків
				.book.about
					a(href='#')
						figure
							img(alt='', src='../../img/cases/MUN.jpg')
							figcaption
								h3
									| «Вступ»
									small
										| діяльність ООН, алгоритм проведення конференції 

				.book.about
					figure
						img(alt='', src='../../img/cases/MUN.jpg')
						figcaption
							h3
								| «Позиція»
								small
									| політична заява делегата


				.book.about
					figure
						img(alt='', src='../../img/cases/MUN.jpg')
						figcaption
							h3
								|  «Ораторське мистецтво та лідерські навички»
								small#anchor-timeline
									| У розробці


				.book.about
					figure
						img(alt='', src='../../img/cases/MUN.jpg')
						figcaption
							h3
								|  «Дебати»
								small#anchor-timeline
									| У розробці


				.book.about
					figure
						img(alt='', src='../../img/cases/MUN.jpg')
						figcaption
							h3
								|  «Резолюція»
								small#anchor-timeline
									| У розробці


				.book.about
					figure
						img(alt='', src='../../img/cases/MUN.jpg')
						figcaption
							h3
								|  Міні-конференція
								small#anchor-timeline
									| «Модель ООН»


		include includes/footer.jade
		include includes/scripts.jade
