<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../css/css_OpportunitiesStudents/style.css">
    <title>Opportunities For Students</title>
  </head>
  <body>
    <style media="screen">
      
    </style>
    <section class="OpportunitiesForStudents">
      <div class="container_landing">
        <div class="inner content">
          <p>Навчальний курс «Демократія: від теорії до практики» не обмежується навчанням
            в&nbsp;аудиторії чи&nbsp;дистанційно. Він також пропонує додаткові заходи та&nbsp;можливості
            для студентів та&nbsp;випускників, що&nbsp;розширює їхні можливості як&nbsp;молодих лідерів.
          </p>
          <h3>Можливості діляться на&nbsp;наступні типи:</h3>
          <ul>
            <li>
              <p>Знати більше (DemTalk, DemEducation)</p>
            </li>
            <li>
              <p>Взяти участь (ДемБачення, ДемМапа, Оплачуване стажування в&nbsp;НАЗК та&nbsp;ЦВК)</p>
            </li>
            <li>
              <p>Грати (ДемоГРАтія)</p>
            </li>
            <li>
              <p>Знайти однодумців (Йода, Асоціація викладачів)</p>
            </li>
          </ul>

          <div class="title-landing">
            <hr class="decor-title decor-title-short">
            <h2>DemTalk</h2>
          </div>
          <p>DemTalk&nbsp;– це пряма трансляція ефірів у&nbsp;соцмережах,
            під&nbsp;час яких українські експерти та&nbsp;активісти з&nbsp;різних сфер дають інтерв’ю.
            Це розширює розуміння студентами значення громадянської активності
            та&nbsp;інших актуальних тем.
          </p>
          <p class="p">Наразі проведено 6&nbsp;заходів у&nbsp;форматі DemTalk на&nbsp;теми: «Як повернути
            голос 5&nbsp;мільйонам українців?», «Захист слабких&nbsp;— справа сильних?»,
            «Громадське включення&nbsp;— більше не виключення», «Яка ціна інформації у&nbsp;віртуальному просторі?»,
            «За&nbsp;лаштунками голосу. Що вирішує твій голос?», «Цитата чи&nbsp;плагіат».
          </p>
          <p class="p">
            Записи можна переглянути на&nbsp;YouTube-каналі курсу за&nbsp;<a href="https://www.youtube.com/channel/UCuBnhtmoDENFkYCzM9-C8wQ/videos">посиланням</a>.
          </p>


          <div class="title-landing">
            <hr class="decor-title decor-title-short">
            <h2>DemEducation</h2>
          </div>
          <p>DemEducation&nbsp;— це серія вебінарів від&nbsp;лідерів громадянського
            суспільства та&nbsp;професіоналів. Він спрямований на&nbsp;покращення професійних
            та&nbsp;гнучких навичок (hard/soft skills) студентів та&nbsp;викладачів.
          </p>
          <p class="p">Слідкуйте за анонсами наступних заходів у&nbsp;цьому форматі!</p>


          <div class="title-landing">
            <hr class="decor-title">
            <h2>DemVision (ДемБачення)</h2>
          </div>
          <p>Започаткована у&nbsp;2021&nbsp;році ініціатива є&nbsp;щорічною національною
            презентацією студентських проектів громадянської дії у&nbsp;рамках курсу. Це&nbsp;можливість
            для студентів презентувати свої проєкти та&nbsp;отримати підтримку для подальшого розвитку
            від IFES та її&nbsp;партнера ГО&nbsp;«Молодіжної демократичної асоціації «ЙОДА».
          </p>
          <h3>Переможцями ДемБачення у&nbsp;2021&nbsp;році стали наступні проєкти:</h3>
          <ul class="list-without-decor">
            <li>
              <p class="first-position">
                «Не&nbsp;соромно»&nbsp;— Прикарпатський національного університету імені Василя Стефаника.
              </p>
            </li>
            <li>
              <p class="second-position">
                «(не)&nbsp;Мовчи»&nbsp;— Національний юридичний університет імені Ярослава Мудрого.
              </p>
            </li>
            <li>
              <p class="third-position">
                «Дім Ветерана»&nbsp;— Західноукраїнський національний університет.
              </p>
            </li>
            <li>
              <p class="last-position">
                Приз глядацьких симпатій: «Повір в&nbsp;папір»&nbsp;— Львівський національний університет ім.&nbsp;Івана Франка.
              </p>
            </li>
          </ul>
          <p class="p">Посилання на&nbsp;відео про&nbsp;Дембачення: <a href="https://youtu.be/EQlZZuEQaNU">https://youtu.be/EQlZZuEQaNU</a></p>


          <div class="title-landing">
            <hr class="decor-title decor-title-short">
            <h2>ДемМапа</h2>
          </div>
          <p>Приклади найбільш амбітних, орієнтованих на&nbsp;результат
            та&nbsp;натхненних проєктів громадянської дії, якими управляють студенти, розміщені
            на&nbsp;інтерактивній ДемМапі, розробленій IFES. Інтерфейс мапи дозволяє користувачеві
            застосовувати категорії проектів і&nbsp;фільтри часу для пошуку відповідних проєктів.
          </p>
          <p class="p">
            Наразі ДемМапа вимкнена з&nbsp;міркувань безпеки, але її&nbsp;можна буде
            знайти за&nbsp;посиланням: <a href="https://demmap.ifesukraine.org/">https://demmap.ifesukraine.org/</a>
          </p>


          <div class="title-landing">
            <hr class="decor-title">
            <h2>Оплачуване стажування в&nbsp;НАЗК та&nbsp;ЦВК</h2>
          </div>
          <p>
            Випускники та&nbsp;випускниці курсу "Демократія: від теорії
            до&nbsp;практики" мають можливість отримати оплачуване стажування для&nbsp;студентів
            від&nbsp;Міжнародної фундації виборчих систем (IFES), Національного агентства
            з&nbsp;питань запобігання корупції (НАЗК) та&nbsp;Центральної виборчої комісії (ЦВК).
          </p>
          <h3>Метою стажувань в&nbsp;НАЗК та&nbsp;ЦВК&nbsp;є:</h3>
          <ul>
            <li>
              <p>
                Залучення молоді до&nbsp;розбудови доброчесності суспільства
                та&nbsp;поглиблення знань про антикорупційну діяльність НАЗК в&nbsp;Україні.
              </p>
            </li>
            <li>
              <p>
                Ознайомлення молоді із&nbsp;засадами діяльності інституції ЦВК,
                поглиблення знань щодо організації підготовки та&nbsp;проведення виборів і&nbsp;референдумів,
                забезпечення реалізації та&nbsp;захисту виборчих прав громадян України тощо.
              </p>
            </li>
          </ul>
          <p class="p"><b>Тривалість стажування:</b> 3&nbsp;місяці.</p>
          <p class="p"><b>Графік роботи:</b> визначається індивідуально
            з&nbsp;керівником стажування (не&nbsp;менше 20&nbsp;годин на&nbsp;тиждень).
          </p>
          <p class="p"><b>Формат:</b> присутність у&nbsp;приміщеннях НАЗК та&nbsp;ЦВК
            (м.&nbsp;Київ) з&nbsp;можливістю часткового залучення онлайн. IFES надасть
            стипендію відібраним кандидатам/кандидаткам для&nbsp;участі в&nbsp;програмі.
          </p>


          <div class="title-landing">
            <hr class="decor-title decor-title-short">
            <h2>ДемоГРАтія</h2>
          </div>
          <p>Щоб показати студентам, як вони можуть використовувати інструменти
            демократії в&nbsp;повсякденному житті, IFES запустила інтерактивну гру ДемоГРАтія.
            Це&nbsp;симулятор вирішення повсякденних питань, із&nbsp;якими ми стикаємося як громадяни
            демократичного суспільства. Гра демонструє, що&nbsp;кожен може змінити свою громаду різними
            способами та&nbsp;сприяти демократичному прогресу в&nbsp;Україні.
          </p>
          <p class="p">Спробуйте себе у&nbsp;ролі студента(-ки), власника(-ці) локального бізнесу,
            голови ОСББ, держслужбовця(-ці) або активного громадянина(-ки).
          </p>
          <p class="p">Посилання на&nbsp;інтерактивну пригоду: <a href="https://www.demogratia.platfor.ma/">ДемоГРАтія</a>.</p>


          <div class="title-landing">
            <hr class="decor-title">
            <h2>Асоціація випускників курсу</h2>
          </div>
          <p>
            «Молодіжна демократична асоціація «ЙОДА» є&nbsp;добровільним
            об’єднанням випускників курсу «Демократія: від теорії до&nbsp;практики»,
            створене з&nbsp;метою сформувати демократичне майбутнє нашої держави
            силами покоління активної молоді.
          </p>
          <h3>Що робить «ЙОДА»?</h3>
          <ul>
            <li>
              <p>
                формує свідому та&nbsp;активну молодь.
              </p>
            </li>
            <li>
              <p>
                проводить неформальну громадянську освіту молоді.
              </p>
            </li>
            <li>
              <p>
                виступає платформою для інтеграції активної молоді в&nbsp;громадянське суспільство.
              </p>
            </li>
            <li>
              <p>
                забезпечує компетентних та&nbsp;свідомих громадян.
              </p>
            </li>
            <li>
              <p>
                змінює і&nbsp;розвиває політичну культуру молоді на&nbsp;основі ліберальної демократії.
              </p>
            </li>
          </ul>
          <p class="p">Слідкувати за&nbsp;«ЙОДА» можна на їх&nbsp;сайті та&nbsp;соціальних мережах за&nbsp;посиланням: <a href="https://linktr.ee/yoda_ngo">https://linktr.ee/yoda_ngo</a>.</p>
          <p class="p">Долучитись до&nbsp;діяльності асоціації можна, заповнивши <a href="https://forms.gle/B2NDn2Nry7XQYCPY7">анкету</a>.</p>


          <div class="title-landing">
            <hr class="decor-title">
            <h2>Асоціація викладачів</h2>
          </div>
          <p>1&nbsp;квітня 2022&nbsp;року офіційно зареєстровано ГО&nbsp;«Українська асоціація викладачів
            громадянської освіти». ГО&nbsp;заснували п’ятнадцять викладачів курсу «Демократія:
            від&nbsp;теорії до&nbsp;практики» зі&nbsp;Львова, Києва, Дніпра, Харкова, Полтави та&nbsp;Одеси.
          </p>
          <p class="p">Основною метою є&nbsp;впровадження у&nbsp;навчальний процес
            вітчизняних та&nbsp;закордонний навчальних закладів курсів громадянської освіти,
            зокрема «Демократія: від&nbsp;теорії до&nbsp;практики». Створення мережі громадських освітян
            в&nbsp;Україні та/або закордонних країнах для поширення інформації про&nbsp;ці курси серед
            студентів. Також пропагування цінностей демократії та&nbsp;активного відповідального
            громадянства через освітню, дослідницьку, експертну та&nbsp;проєктну діяльність мережі
            громадських освітян.
          </p>
      </div>
    </section>
  </body>
</html>
