//
   Created by olga on 03-02-2015.
include includes/head.pug
doctype html
html
   +head
   body
      include includes/gtm.pug
      include includes/header.pug
      // ПЕРШИЙ ЕКРАН
      .partnership.section.heading
         .container
            h1
               | Співпраця з&nbsp;
               strong
                  abbr(title='Educational Era') EdEra
      // ПРО ПРОЕКТ
      #about_project.section
         .container
            article
               p.h2
                  | Ми готові:
               ul
                  li
                     | Створювати якісний контент. Від відеолекцій до електронних підручників.
                  li
                     | Створювати справді цікаві навчальні програми. Наша креативна команда знає як робити курси фановими та унікальними.
                  li
                     | Співпрацювати з закладами, фірмами, інститутами, які готові впроваджувати онлайн-технології у процес навчання. Можливе також використання закритої частини нашої платформи для приватних ініціатив.
                  li
                     | Співпрацювати в інших напрямках з будь-якими проектами, які хочуть посприяти розвитку освіти в Україні. Пишіть на info@ed-era.com чи звертайтеся за телефоном 063 380 60 42.
               p.h2
                  | На проекті EdEra
               p
                  | З’являються нові курси, що створені виключно у зв’язці з нашою командою, не відступаючи від принципів проекту. Кожен курс має бути винятковим для нашої країни поєднанням гарного викладу та новітнього електронного підручника. Ми працюємо не на кількість, а на якість. Приєднуйтесь.
               p.h2
                  | Хочете стати викладачем на проекті EdEra?
               p Вимоги до наших викладачів:
               ul
                  li Високий рівень знань та практичний досвід
                  li Готовність працювати в команді
                  li Харизматичність та доброзичливість
                  li Прогресивність та готовність експериментувати
                  li Бажання розробити серію новітніх конспектів з нашою командою
               p
                  | Ми шукаємо не просто вчителів, ми шукаємо спікерів, промовців, професіоналів, які надихають. Наш викладач — нестандартний, ініціативний та прогресивний. Зв’яжіться з нами!
      include includes/footer.pug
      include includes/scripts.pug

