//
   Created by olga on 03-02-2015.
include includes/head-team.pug
doctype html
html
   +head
   body
      include includes/gtm.pug
      include includes/header.pug
      // ПЕРШИЙ ЕКРАН
      .team.section.heading
         .container
            h1
               | Команда&nbsp;
               strong
                  abbr(title='Educational Era') EdEra
      // ПРО ПРОЕКТ
      .container
         .row
            .col-2
            .col-8
               #about_project.section
                  .container
                     article
                        p.h2
                           | Хто ми?
                        p
                           | Увесь контент на проекті створений нашою командою, опираючись на матеріал, який пропонує викладач. Зйомка, монтаж, створення ілюстрованих конспектів, презентацій, анімацій, генерація креативних ідей щодо подачі матеріалу, методична робота, первинний аналіз створеного контенту. Ми постійно вчимося для впровадження нових технологій та розробок у навчальний процес і відкриті до будь-яких ідей та співробітництва. Усі технічні роботи з сайтом, підтримання функціонування платформи та серверні роботи також виконуються виключно членами команди EdEra.

         center
            .row.mx-3
               .col-12
                  .mymy
                     .row
                        //
                           <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                           <div class="card"><img class="img" src="" border="0">
                           <div class="info">
                           <h1 class="name"></h1>
                           <h2 class="job"></h2>
                           <p class="job-descr"></p></div>
                           </div>
                           </div>
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Артем Ільчук
                                 h2.job COO, co-founder
                                 p.job-descr Артем організовує процеси в команді.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/filipova.jpg', border='0')
                              .info
                                 h1.name Оля Філіпова
                                 h2.job CTO, co-founder
                                 p.job-descr
                                    | Ольга контролює технічне і програмне забезпечення та процеси, завдяки яким це забезпечення існує та розвивається.
                                    | Наразі вона поєднує пристрасть до розробки та любов до освіти в один продукт —  гнучку розумну платформу для навчання онлайн.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Diana.png', border='0')
                              .info
                                 h1.name Діана Даюб
                                 h2.job Partnerships manager
                                 p.job-descr
                                    | Діана займається розвитком українських та міжнародних партнерств. До EdEra працювала в Конгресі США. Закохана в людей і п’є фільтр-каву в хіпстерських кав'ярнях.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Сергій Плашенко
                                 h2.job Head of finance, project manager
                                 p.job-descr Сергій займається фінансами.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Інна Дзиндра
                                 h2.job Project manager, Lawyer
                                 p.job-descr
                                    | Інна – менеджериня проектів. Менеджить усе, що потрапляє під руку. Любить людей, які горять тим, що роблять, а також подорожі і пригоди.
                                    | У вільний час Інна фрілансить юристкою в EdEra і разом з Ігорем творить справедливість.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Ihor.png', border='0')
                              .info
                                 h1.name Ігор Конопка
                                 h2.job Project manager, Lawyer
                                 p.job-descr
                                    | Ігор займається проектами у сфері громадянської та професійної освіти. Він вірить в людей, права людини та освіту як рушії змін. А ще — в право, тому разом з Інною опікується вирішенням юридичних питань EdEra.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Ira.png', border='0')
                              .info
                                 h1.name Іра Кротова
                                 h2.job Assistant to CEO
                                 p.job-descr
                                    | Іра організовує час Іллі і допомагає вирішити операційні завдання. В минулому — засновниця проекту Локус, стажерка в Делойті та волонтерка.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Vlad.png', border='0')
                              .info
                                 h1.name Влад Єленчін
                                 h2.job Project manager
                                 p.job-descr
                                    | Влад — креативний проектний менеджер, який горить освітою та обожнює людей. Особливо тих, які можуть прочитати його прізвище правильно з першого разу.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Leonid.png', alt='P1028732', border='0')
                              .info
                                 h1.name Леонід Вербов
                                 h2.job Project manager
                                 p.job-descr
                                    | Льоня веде та допомагає з організацією різних проектів: від економіки до математики. Випускник КПІ, баскетболіст, обожнює технічні науки та комп'ютерні ігри.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Yulia.png', border='0')
                              .info
                                 h1.name Юля Лисенко
                                 h2.job PM assistant \ Editor
                                 p.job-descr
                                    | Юля допомагає проектним менеджерам планувати і втілювати проекти в життя. Любить, коли все йде за планом.
                                    | Співзасновниця онлайн-медіа Ачьонє?, більд-редакторка і журналістка.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Юля Цукор
                                 h2.job Head of editors, motion designer
                                 p.job-descr
                                    | Разом із відділом редакторів Юля робить так, щоб все, що ви у нас дивитеся/читаєте/слухаєте, було простим і зрозумілим. А ще займається моушн-дизайном і вільно володіє угорською.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Maria.png', border='0')
                              .info
                                 h1.name Марія Горбач
                                 h2.job Editor
                                 p.job-descr
                                    | Марійка вірить у силу освіти та культури й закохана в українську мову. Тому в EdEra вона перетворює складні й незрозумілі тексти на легкі й цікаві.
                                    | Захоплюється художньою літературою та подорожами.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Valeria.png', border='0')
                              .info
                                 h1.name Валерія Залєвська
                                 h2.job Editor
                                 p.job-descr
                                    | Редагує суфлери до наших відео і супровідні до них матеріали. Робить тексти зрозумілими і прибирає зайве, щоб зекономити ваш час.
                                    | Співзасновниця онлайн-медіа Ачьонє?, журналістка.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Sasha.png', border='0')
                              .info
                                 h1.name Саша Сірик
                                 h2.job lead designer
                                 p.job-descr
                                    | Вважає, що дизайн може бути веселим. Любить меми, своїх дизайнерок та відповідає за гарний настрій команди.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Maya.png', border='0')
                              .info
                                 h1.name Мая Нгуєн
                                 h2.job Illustrator
                                 p.job-descr
                                    | Малює ілюстрації і не тільки. Обожнює мультфільми, ігри, комікси та вірить у те, що в Україні можна все це розвинути.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Света Нгуєн
                                 h2.job Designer
                                 p.job-descr
                                    | Відповідає за візуальну складову проектів. Вірить в те, що в хорошому дизайні мають бути три складові: етична, естетична та практична.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Nick.png', border='0')
                              .info
                                 h1.name Нікіта Барзашвілі
                                 h2.job Head of production, sound designer
                                 p.job-descr
                                    | Нік керує продакшеном. А також пише музику та займається всім, що пов’язане зі звуком.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Vasya.png', border='0')
                              .info
                                 h1.name Вася Дубовий
                                 h2.job Art director
                                 p.job-descr
                                    | Вася дуже цінує системність та ідеї. Любить генерувати їх сам, підтримувати або критикувати в інших. Тому відповідає за те, щоб в основі наших продуктів були сильні ідеї, а їх прояв — системним.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Володя Томащук
                                 h2.job Motion designer
                                 p.job-descr
                                    | Виконую багатоманітні таски, пов’язані із моушн-дизайном. Назва моєї посади - Motion designer.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Макс Герасименко
                                 h2.job Cameraman
                                 p.job-descr Та, я точно продюсер ;)
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Паша Примаченко
                                 h2.job Motion designer
                                 p.job-descr Паша робить відоси :)
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Vanya.png', border='0')
                              .info
                                 h1.name Ваня Супрун
                                 h2.job Cameraman
                                 p.job-descr Знімаю відео, творю контент.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/vilao.jpg', border='0')
                              .info
                                 h1.name Руй Вілао
                                 h2.job VP Engineer
                                 p.job-descr
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Женя Мороз
                                 h2.job Software developer
                                 p.job-descr
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/mokhniuk.jpg', border='0')
                              .info
                                 h1.name Олег Мохнюк
                                 h2.job UI Engineer
                                 p.job-descr
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/vdovenko.jpg', border='0')
                              .info
                                 h1.name Даня Вдовенко
                                 h2.job Frontend\Backend Developer
                                 p.job-descr
                                    | Розробник веб-додатків. У вільний час займається громадською діяльністю та обожнює показувати карточні фокуси.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Таня Теслюченко
                                 h2.job Head of communications
                                 p.job-descr
                                    | Комунікує від EdEra та про EdEra. Стратегує, пише, лайкає, репостить та коментує. Вірить в #ОсвітнійРейв та силу стратегічних комунікацій.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Настя Тимофеєва
                                 h2.job Social Media & PR Manager
                                 p.job-descr
                                    | Робить так, щоб почувши назву «EdEra» люди казали, який курс вони пройшли, а не запитували «Що це таке?». Творить комунікації крізь smm, розсилки, івенти та партнерські колаборації. Обожнює музику і на 20% фрілансить в офісі місцевим радіо.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/babiak.jpg', border='0')
                              .info
                                 h1.name Богдан Бабяк
                                 h2.job SEO / Digital marketing
                                 p.job-descr
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Аня Ляшенко
                                 h2.job RnD
                                 p.job-descr
                                    | Робить огляди досліджень про мозок, навчання та освіту. Пише статті для блогу та вірить, що хто завгодно може вивчити що завгодно, потрібен лише правильний підхід.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Марія Наумовець
                                 h2.job RnD
                                 p.job-descr
                                    | Опис: Пише пояснення завдань ЗНО (англійська, фізика), перекладає підручники, працює над створенням освітніх онлайн-продуктів. Вивчає взаємодію мов і мозку (психо-/нейролінгвістика), прагне допомагати людям навчатися й розуміти.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Макс Ільїн
                                 h2.job HTML coder
                                 p.job-descr
                                    | Макс займається версткою веб-сторінок курсів, робить взаємодію із навчальними матеріалами якомога зручнішою! Паралельно навчається в КПІ, забагато часу проводить в інтернеті.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Katya.png', border='0')
                              .info
                                 h1.name Катя Стаднік
                                 h2.job Camerawoman
                                 p.job-descr
                                    | Займається зйомкою, монтажем та кольорокорекцією відео. Закохана в українське кіно і музику.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='../img/team/new_photos/Dima.png', border='0')
                              .info
                                 h1.name Дмитро Романов
                                 h2.job Motion Designer
                                 p.job-descr
                                    | Дмитро займається пост-продакшеном відео. Дуже любить сферу дизайну загалом. Намагається зробити відео яскравішими. Навчається в КНТЕУ.
                        .col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-4
                           .card
                              img.img(src='https://bit.ly/2FQPExn', border='0')
                              .info
                                 h1.name Ярослава Бухта
                                 h2.job Methodologist
                                 p.job-descr
                                    | Ярослава вірить, що справжній геній володарює над хаосом. А тому може знайти будь-яку інформацію для текстів чи онлайн-курсів і зробити їх логічними, структурованими та легкими для сприйняття.

         .container
            .row
               .col-2
               .col-8
                  .team_members
                     figure.team_member
                        img.photo(src='../img/team/filipov.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Ілля Філіпов
                              small.role
                                 | керівник проекту/ розробник EdEra/ викладач фізики
                           p
                              | Випускник кафедри квантової радіофізики факультету радіофізики, електроніки та комп'ютерних систем Київського Національного Університету ім. Тараса Шевченка. Встиг попрацювати за спеціальністю в інституті фізики академії наук України, в поляриметричній лабораторії на радіофізичному факультеті, на науково-виробничій фірмі. Має 7 сертифікатів з онлайн курсів, в тому числі "Classical Mechanics", "Electricity and magnetism", "Circuits and Electricity" Массачусетського технологічного університету. Має велики досвід репетиторства. Вже після першого курсу почав займатись репетиторством зі школярами та студентами.
                     figure.team_member
                        img.photo(src='../img/team/ilchuk.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Артем Ільчук
                              small.role
                                 | головний розробник EdEra
                           p
                              | Навчається на магістратурі факультету електроніки НТУУ «КПІ». Вдосконалював свої навички програмування за допомогою американської онлайн платформи www.edx.org, а саме «Embedded Systems» Техаського університету та «Introduction to Computer Science» Массачусетського технологічного університету.   Протягом 4-х років займається репетиторством, а зараз — головний розробник та один з ідеологів проекту EdEra. Має великий досвід роботи репетитором зі школярами та студентами.
                     figure.team_member
                        img.photo(src='../img/team/filipova.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Ольга Філіпова
                              small.role
                                 | технічний директор
                           p
                              | Провідний спеціаліст з розробки фронт-енд в компанії «Meetrics» в м. Берлін, Німеччина.
                           p
                              | Навчалася на факультеті прикладного системного аналізу в Київському політехнічному інституті. Згодом отримала ступінь бакалавра та магістра на факультеті інженерії й інформатики в м. Куїмбра, Португалія. Була запрошена викладати курс комп’ютерної графіки та операційних систем у цьому ж навчальному закладі на третьому році навчання. Після захисту диплому працювала протягом п’яти років в одній з провідних компаній з розробки програмного забезпечення для захисту від банківського шахрайства з обробкою інформації в реальному часі (Feedzai). Одночасно проводила річні курси з розробки RIA (насичених інтернет-додатків) в навчальному центрі "Flag" в м. Куімбра, Португалія.
                     figure.team_member
                        img.photo(src='../img/team/vilao.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Руй Вілао
                              small.role
                                 | системний адміністратор
                           p
                              | Провідний спеціаліст з розробки бек-енд в компанії «Gymondo» в м. Берлін, Німеччина.
                           p
                              | Отримав ступінь бакалавра та магістра на факультеті інженерії та інформатики в м. Куїмбра, Португалія. Працював над міжнародними проектами в Італії, Фінляндії, Німеччині ще під час навчання.
                           p
                              | Після закінчення університету працював у провідних компаніях з комунікаційних технологій в Португалії «PT inovação» та з розробки програмного забезпечення для захисту від банківського шахрайства з обробкою інформації в реальному часі (Feedzai).
                     figure.team_member
                        img.photo(src='../img/team/chayka.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Віктор Чайка
                              small.role
                                 | розробник EdEra
                           p
                              | Навчається на факультеті радіофізики, електроніки та комп'ютерних систем Київського національного університету імені Тараса Шевченка. Займається фізикою і, окрім навчальних, має спортивні досягнення, зокрема перший дорослий розряд з баскетболу і нагороди за перші місця на Чемпіонаті України з Кікбоксингу.
                           p
                              | Вивчав китайську в гуманітарній гімназії з поглибленим вивченням східних мов. У 2013 році посів призове місце на міжнародному конкурсі зі знання китайської мови "Chinese bridge" і виграв безкоштовну подорож до Китаю.
                     figure.team_member
                        img.photo(src='../img/team/tsyapa.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Олександр Цяпа
                              small.role
                                 | фінансовий консультант
                           p
                              | Навчався в Польщі.
                     figure.team_member
                        img.photo(src='../img/team/mokhniuk.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Олег Мохнюк
                              small.role
                                 | веб-розробник
                           p
                              | Випускник кафедри високих технологій факультету радіофізики, електроніки та комп’ютерних систем (у минулому – РФФ) Київського національного університету ім.  Тараса Шевченка. Навчається у магістратурі Інституту високих технологій.
                           p
                              | Навчаючись на третьому–четвертому курсах, працював у Студії Артємія Лєбєдєва в Києві. Має досвід співпраці з компаніями з усього світу. Працює front-end розробником в медіа-мануфактурі «Perfectionist».
                           p
                              | Допомагає проекту EdEra.
                     figure.team_member
                        img.photo(src='../img/team/babiak.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Богдан Бабяк
                              small.role
                                 | спеціаліст із контекстної реклами
                           p
                              | Навчався в Київському Національному Університеті ім. Івана Гетьмана де отримав ступінь магістра з міжнародної економіки. Наприкінці навчання, вирішив змінити вектор розвитку і почав працювати в українському діджитал агентстві «Ок Інтернет» спочатку на позиції стажиста, а потім вже і фахівця з контекстної реклами. Починаючи з 2014 року працював у діджитал агентстві AdPro входить в холдинг компанії Aegis media.
                     figure.team_member
                        img.photo(src='../img/team/vdovenko.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Данило Вдовенко
                              small.role
                                 | розробник EdEra
                           p
                              |
                     figure.team_member
                        img.photo(src='../img/team/kachala.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Олег Качала
                              small.role
                                 | головний редактор текстів
                           p
                              |
                     figure.team_member
                        img.photo(src='../img/team/papish.jpg', alt='')
                        figcaption
                           h4
                              big.name
                                 | Олександр Папіш
                              small.role
                                 | розробник EdEra
                           p
                              |
         .container
            article
               p.h2 Щедрі доброчинці
                  a(href="#note") *
               p Ці люди зафондували у розвиток EdEra та
                  a(href='https://biggggidea.com/project/1247/' target='_blank') підтримали
                  | розробку українських освітніх технологій
         .container
            .team_members
               figure.team_member
                  img.photo(src='../img/backers/3.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Щербина Ю. Ю.
                        small.role
                           | Проектний менеджер в компанії Cogniance. Виховує трьох дітей.
                     p
                        |
               figure.team_member
                  img.photo(src='../img/backers/2.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Божена Зварич
                        small.role
                           | IT-Recruiter
                           br
                           | Освіта: міжнародна економіка та психологія
                     p
                        |
               figure.team_member
                  img.photo(src='../img/backers/1.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Анастасія Холодова
                        small.role
                           | Освіта: ХНУ ім. Каразина (Харків), механіко-математичний факультет
                           br
                           | Посада: Senior software engineer, the World Bank, Washington DC
                     p
                        |
               figure.team_member
                  img.photo(src='../img/backers/4.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Владислав Раєвский
                        small.role
                           | Освіта: ІМВ МЕВ
                           br
                           | Засновник компанії "Нічний Експрес" та освітнього проекту
                           a(href ='http://bristarstudio.com/' target='_blank') "Bristar Studio"
                     p
                        |
         .container
            p.h2 Викладачі та рецензенти
            p
               | З усіма викладачами та рецензентами проекту ви можете ознайомитися в описах відповідних курсів.
            p.h2 Волонтери та допомога від третіх осіб
            p
               | Ми безмежно вдячні усім, хто небайдужий до нашого проекту та допомагає у його розвитку. Максим Базь, Тарас Труба, Юлія Корж, Олександра Колотуха, Олександра Броваченко, Констянтин Кляцкін, Павло Липа, Катерина Соловйова, Олексій Нечипорук, Ганна Гранкіна, Владислав Раєвський, Ірина Куртенко, Олександра Гром — це лише декілька важливих людей для нашого проекту! Дякуємо вам!
            p#note * –
               a(href='https://biggggidea.com/project/1247/' target="_blank") зробили внесок,
               | понад 1500 ₴ та дали згоду на розміщення інформації
      include includes/footer.pug
      include includes/scripts.pug
