//
   Created by olga on 03-02-2015.
include includes/head-team.jade
doctype html
html
   +head
   body
      include includes/gtm.jade
      include includes/header.jade
      // ПЕРШИЙ ЕКРАН
      .team.section.heading
         .container
            h1
               | Команда&nbsp;
               strong
                  abbr(title='Educational Era') EdEra
      
      //- СПІЛЬНОКОШТ
      section.section.talents-banner#books
            .container
                  h2.section_title 
                        a.button.w(href="https://biggggidea.com/project/edera-onlajn-osvita-z-lyubovyu/", target="_blank" title="EdEra на Спільнокошті") 
                              strong Підтримайте EdEra на Спільнокошті

      // ПРО ПРОЕКТ
      #about_project.section
         .container
            article
               p.h2
                  | Хто ми?
               p
                  | Увесь контент на проекті створений нашою командою, опираючись на матеріал, який пропонує викладач. Зйомка, монтаж, створення ілюстрованих конспектів, презентацій, анімацій, генерація креативних ідей щодо подачі матеріалу, методична робота, первинний аналіз створеного контенту. Ми постійно вчимося для впровадження нових технологій та розробок у навчальний процес і відкриті до будь-яких ідей та співробітництва. Усі технічні роботи з сайтом, підтримання функціонування платформи та серверні роботи також виконуються виключно членами команди EdEra.
         .container
            .team_members
               figure.team_member
                  img.photo(src='../img/team/filipov.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Ілля Філіпов 
                        small.role
                           | керівник проекту/ розробник EdEra/ викладач фізики
                     p
                        | Випускник кафедри квантової радіофізики факультету радіофізики, електроніки та комп'ютерних систем Київського Національного Університету ім. Тараса Шевченка. Встиг попрацювати за спеціальністю в інституті фізики академії наук України, в поляриметричній лабораторії на радіофізичному факультеті, на науково-виробничій фірмі. Має 7 сертифікатів з онлайн курсів, в тому числі "Classical Mechanics", "Electricity and magnetism", "Circuits and Electricity" Массачусетського технологічного університету. Має велики досвід репетиторства. Вже після першого курсу почав займатись репетиторством зі школярами та студентами.
               figure.team_member
                  img.photo(src='../img/team/ilchuk.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Артем Ільчук 
                        small.role
                           | головний розробник EdEra
                     p
                        | Навчається на магістратурі факультету електроніки НТУУ «КПІ». Вдосконалював свої навички програмування за допомогою американської онлайн платформи www.edx.org, а саме «Embedded Systems» Техаського університету та «Introduction to Computer Science» Массачусетського технологічного університету.   Протягом 4-х років займається репетиторством, а зараз — головний розробник та один з ідеологів проекту EdEra. Має великий досвід роботи репетитором зі школярами та студентами.
               figure.team_member
                  img.photo(src='../img/team/filipova.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Ольга Філіпова
                        small.role
                           | технічний директор
                     p
                        | Провідний спеціаліст з розробки фронт-енд в компанії «Meetrics» в м. Берлін, Німеччина.
                     p
                        | Навчалася на факультеті прикладного системного аналізу в Київському політехнічному інституті. Згодом отримала ступінь бакалавра та магістра на факультеті інженерії й інформатики в м. Куїмбра, Португалія. Була запрошена викладати курс комп’ютерної графіки та операційних систем у цьому ж навчальному закладі на третьому році навчання. Після захисту диплому працювала протягом п’яти років в одній з провідних компаній з розробки програмного забезпечення для захисту від банківського шахрайства з обробкою інформації в реальному часі (Feedzai). Одночасно проводила річні курси з розробки RIA (насичених інтернет-додатків) в навчальному центрі "Flag" в м. Куімбра, Португалія.
               figure.team_member
                  img.photo(src='../img/team/vilao.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Руй Вілао
                        small.role
                           | системний адміністратор
                     p
                        | Провідний спеціаліст з розробки бек-енд в компанії «Gymondo» в м. Берлін, Німеччина.
                     p
                        | Отримав ступінь бакалавра та магістра на факультеті інженерії та інформатики в м. Куїмбра, Португалія. Працював над міжнародними проектами в Італії, Фінляндії, Німеччині ще під час навчання.
                     p
                        | Після закінчення університету працював у провідних компаніях з комунікаційних технологій в Португалії «PT inovação» та з розробки програмного забезпечення для захисту від банківського шахрайства з обробкою інформації в реальному часі (Feedzai).
               figure.team_member
                  img.photo(src='../img/team/chayka.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Віктор Чайка
                        small.role
                           | розробник EdEra
                     p
                        | Навчається на факультеті радіофізики, електроніки та комп'ютерних систем Київського національного університету імені Тараса Шевченка. Займається фізикою і, окрім навчальних, має спортивні досягнення, зокрема перший дорослий розряд з баскетболу і нагороди за перші місця на Чемпіонаті України з Кікбоксингу.
                     p
                        | Вивчав китайську в гуманітарній гімназії з поглибленим вивченням східних мов. У 2013 році посів призове місце на міжнародному конкурсі зі знання китайської мови "Chinese bridge" і виграв безкоштовну подорож до Китаю.
               figure.team_member
                  img.photo(src='../img/team/tsyapa.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Олександр Цяпа
                        small.role
                           | фінансовий консультант
                     p
                        | Навчався в Польщі.
               figure.team_member
                  img.photo(src='../img/team/mokhniuk.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Олег Мохнюк
                        small.role
                           | веб-розробник
                     p
                        | Випускник кафедри високих технологій факультету радіофізики, електроніки та комп’ютерних систем (у минулому – РФФ) Київського національного університету ім.  Тараса Шевченка. Навчається у магістратурі Інституту високих технологій.
                     p
                        | Навчаючись на третьому–четвертому курсах, працював у Студії Артємія Лєбєдєва в Києві. Має досвід співпраці з компаніями з усього світу. Працює front-end розробником в медіа-мануфактурі «Perfectionist».
                     p
                        | Допомагає проекту EdEra.
               figure.team_member
                  img.photo(src='../img/team/babiak.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Богдан Бабяк
                        small.role
                           | спеціаліст із контекстної реклами
                     p
                        | Навчався в Київському Національному Університеті ім. Івана Гетьмана де отримав ступінь магістра з міжнародної економіки. Наприкінці навчання, вирішив змінити вектор розвитку і почав працювати в українському діджитал агентстві «Ок Інтернет» спочатку на позиції стажиста, а потім вже і фахівця з контекстної реклами. Починаючи з 2014 року працював у діджитал агентстві AdPro входить в холдинг компанії Aegis media.
               figure.team_member
                  img.photo(src='../img/team/vdovenko.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Данило Вдовенко
                        small.role
                           | розробник EdEra
                     p
                        | 
               figure.team_member
                  img.photo(src='../img/team/kachala.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Олег Качала
                        small.role
                           | головний редактор текстів
                     p
                        |    
               figure.team_member
                  img.photo(src='../img/team/papish.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Олександр Папіш
                        small.role
                           | розробник EdEra
                     p
                        |    
         .container
            article
               p.h2 Щедрі доброчинці 
                  a(href="#note") * 
               p Ці люди зафондували у розвиток EdEra та 
                  a(href='https://biggggidea.com/project/1247/' target='_blank') підтримали 
                  | розробку українських освітніх технологій 
         .container
            .team_members   
               figure.team_member
                  img.photo(src='../img/backers/3.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Щербина Ю. Ю.
                        small.role
                           | Проектний менеджер в компанії Cogniance. Виховує трьох дітей.
                     p
                        | 
               figure.team_member
                  img.photo(src='../img/backers/2.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Божена Зварич
                        small.role
                           | IT-Recruiter
                           br
                           | Освіта: міжнародна економіка та психологія
                     p
                        |                           
               figure.team_member
                  img.photo(src='../img/backers/1.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Анастасія Холодова
                        small.role
                           | Освіта: ХНУ ім. Каразина (Харків), механіко-математичний факультет 
                           br
                           | Посада: Senior software engineer, the World Bank, Washington DC
                     p
                        |                           
               figure.team_member
                  img.photo(src='../img/backers/4.jpg', alt='')
                  figcaption
                     h4
                        big.name
                           | Владислав Раєвский
                        small.role
                           | Освіта: ІМВ МЕВ
                           br
                           | Засновник компанії "Нічний Експрес" та освітнього проекту 
                           a(href ='http://bristarstudio.com/' target='_blank') "Bristar Studio" 
                     p
                        |  
         .container
            p.h2 Викладачі та рецензенти
            p
               | З усіма викладачами та рецензентами проекту ви можете ознайомитися в описах відповідних курсів.
            p.h2 Волонтери та допомога від третіх осіб
            p
               | Ми безмежно вдячні усім, хто небайдужий до нашого проекту та допомагає у його розвитку. Максим Базь, Тарас Труба, Юлія Корж, Олександра Колотуха, Олександра Броваченко, Констянтин Кляцкін, Павло Липа, Катерина Соловйова, Олексій Нечипорук, Ганна Гранкіна, Владислав Раєвський, Ірина Куртенко, Олександра Гром — це лише декілька важливих людей для нашого проекту! Дякуємо вам!
            p#note * – 
               a(href='https://biggggidea.com/project/1247/' target="_blank") зробили внесок, 
               | понад 1500 ₴ та дали згоду на розміщення інформації
      include includes/footer.jade
      include includes/scripts.jade
