include mixins.jade
include includes/head.jade
doctype html
html
    +head
    body.hide-horizontal-scrollbar
        include includes/gtm.jade
        include includes/header.jade
        div#test.row
            div.col-md-3.col-lg-3
            div.col-xs-12.col-sm-12.col-md-6.col-lg-6
                div.main-block.clearfix
                    div(v-if='introFlag')
                        div.row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                h1(style='padding-top:35px') {{intro.title}}
                        div.row
                            .col-xs-0.col-sm-0  
                            .col-xs-12.col-sm-12
                                .thumbnail.quiz-description.margin
                                    img(src='/img/test_vybir_profesii_zhyttia/0.png')
                        span(v-html='intro.description')
                        div(style='text-align: center;')
                            button.button(@click='loadQuizData', name='start')
                                {{intro.startButton}}
                    div(v-if='quizFlag')
                        question(:answers='answers[currentQuestion]', :question='quiz[currentQuestion]', :quiz-length='quizLength', :last-question='lastQuestion', :next-question='nextQuestion', v-on:user-answer='handleAnswer', v-on:end-quiz='endQuiz', :current-question='currentQuestion')
                    div(v-if='resultFlag')
                        div
                            .row
                                .col-xs-1.col-sm-1.col-md-2.col-lg-2  
                                .col-xs-10.col-sm-10.col-md-8.col-lg-8
                                    h1(style='padding-top:35px')
                                        {{professionsDesc[profession].name}}
                                p.quiz-description.margin
                                    {{professionsDesc[profession].desc}}
                                div(style='text-align: center')
                                    button.button(v-on:click='loadQuizData')
                                        | Пройти ще раз
            include includes/footer.jade
            include includes/scripts.jade
            script(src='/js/test_vybir_profesii_zhyttia/app.js')