include mixins.pug
include includes/head.pug
- let assetsPath = "assets/"
<!DOCTYPE html>

html(lang = 'X-UA-Compatible')
    include includes/head.pug
    +head
    body
        main
            include includes/gtm.pug
            include includes/header.pug
            .wrapper
                include vaccination/includes/pages/header.pug
                include vaccination/includes/pages/nav.pug
                include vaccination/includes/pages/description.pug
                include vaccination/includes/pages/material.pug
                include vaccination/includes/pages/certificate.pug
                include vaccination/includes/pages/slider.pug
                include vaccination/includes/pages/partners.pug
                include vaccination/includes/pages/description-footer.pug
            include includes/footer.pug
    link(rel='stylesheet', href="/css/vaccination3.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
