- let assetsPath = "assets/"
include includes/head-making.jade
<!DOCTYPE html>
html(lang = 'X-UA-Compatible')
    include includes/assets/head
    +head
    body
            main
                include includes/gtm.jade
                include includes/header.jade
                include vaccination/includes/pages/header
                include vaccination/includes/pages/nav
                include vaccination/includes/pages/description
                include vaccination/includes/pages/material
                include vaccination/includes/pages/certificate
                include vaccination/includes/pages/slider
                include vaccination/includes/pages/partners
                include vaccination/includes/pages/description-footer
                include includes/footer.jade
                include includes/scripts.jade
