include mixins.jade
include includes/head.jade
- let assetsPath = "assets/"
<!DOCTYPE html>

html(lang = 'X-UA-Compatible')
    include includes/head.jade
    +head
    body
            main
                include includes/gtm.jade
                include includes/header.jade
                .wrapper    
                    include vaccination/includes/pages/header.jade
                    include vaccination/includes/pages/nav.jade
                    include vaccination/includes/pages/description.jade
                    include vaccination/includes/pages/material.jade
                    include vaccination/includes/pages/certificate.jade
                    include vaccination/includes/pages/slider.jade
                    include vaccination/includes/pages/partners.jade
                    include vaccination/includes/pages/description-footer.jade
                include includes/footer.jade
    link(rel='stylesheet', href="/css/vaccination2.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")