section#new-course
	.container
		h2 Гра
		.new-course-wrapper
			.new-course-cover
				figure.flash
					a(href='/anticorr/game/')
						img(src="/img/anticorr/game.jpg")
			.new-course-description
				p.description Симулятор державотворця, розроблений студією онлайн-освіти EdEra за підтримки ПРООН в Україні та МЗС Данії.
				br
				a.button(href="/anticorr/game/")
					| Грати 
					sup ❐

section.anticorr-feedback
	.container
		h2.section_title
			span  Відгук про проведення антикорупційного уроку
		.feedback
			p.additional Заповніть, будь ласка, форму зворотнього зв'язку після проведення уроку у Вашій школі
	.container
		.feedback
			a.button.button--big(href='https://edera1.typeform.com/to/EZ70Kg', target='_blank')
				| Залишити відгук про урок 

section.bookshelf
	.container.cases_material
		p Соціальні ролики розроблені студією онлайн-освіти EdEra за підтримки ПРООН в Україні та МЗС Данії на основі робіт конкурсантів минулорічних антикорупційних уроків.
		.book.about
			a.popup-youtube(href='https://www.youtube.com/watch?v=HFqmLqgzA3I')
				figure
					img.cases(alt='', src='/img/anticorr/Jack.jpg')
					figcaption
						h3
							| Бурштинова лихоманка

		.book.about
			a.popup-youtube(href='https://www.youtube.com/watch?v=8xGfByjmvFs')
				figure
					img.cases(alt='', src='/img/anticorr/Burshtyn.jpg')
					figcaption
						h3
							| Будинок Джека

section.anticorr-news 
	.container
		ul.undp-social
			li
				i.fa.fa-globe
				a.social-link(href='http://www.ua.undp.org/' title='Сайт ПРООН', target='_blank') Сайт ПРООН
			li
				i.fa.fa-facebook-square
				a.social-link(href='https://www.facebook.com/EdEraUa/' title='facebook EdEra', target='_blank') EdEra
			li
				i.fa.fa-facebook-square
				a.social-link(href='https://www.facebook.com/UNDPUkraine/' title='facebook Міністерство освіти і науки', target='_blank') ПРООН

#partners.section
	p.h2
		| Партнери проекту
	.container
		ul.partners_list
			li
				a(href='https://www.edcamp.org.ua/', target='_blank', title='EdCamp')
					img(src='/img/anticorr/partners/EdCamp-logo.png', alt='EdCamp')
			li
				a(href='http://www.prosvitcenter.org/uk/', target='_blank', title='Про.Світ')
					img(src='/img/anticorr/partners/ProSvit-logo.png', alt='Про.Світ')
			li
				a(href='https://www.facebook.com/Ed2Change/', target='_blank', title='Лабораторія Освітніх Змін')
					img(src='/img/anticorr/partners/LOZ-logo.png', alt='Лабораторія Освітніх Змін')
			li
				a(href='http://osvitoria.org/', target='_blank', title='Громадська Спілка «ОСВІТОРІЯ»')
					img(src='/img/anticorr/partners/Osvitoria-logo.png', alt='Громадська Спілка «ОСВІТОРІЯ»')
			li
				a(href='http://teachforukraine.org', target='_blank', title='Навчай для України')
					img(src='/img/anticorr/partners/TeachforUkraine-logo.png', alt='Навчай для України')

section.materials_features.archive
	.container
		p.additional Ця ініціатива впроваджується в рамках проекту «Прозорість і доброчесність публічного сектору», який виконується Програмою розвитку ООН в Україні та фінансується Міністерством закордонних справ Данії протягом 2015-2018 рр.

		p.additional  Думки, висловлені у цих публікаціях, належать авторам і не обов’язково відображають погляди Міністерства закордонних справ Данії, Програми розвитку Організації Об’єднаних Націй чи інших агенцій ООН.