//
	 Created by artem on 25-11-2018.

include ../includes/head-anticorruption-lesson.jade
doctype html
html
	+head
	body
		include ../includes/gtm.jade
		include ../includes/header.jade
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

		.antucorruption-lesson.section.heading
			.container
				h1
					span.exo Антикорупційний урок 
					small студія онлайн-освіти EdEra та Програма Розвитку ООН в Україні
				h2 За підтримки Міністерства закордонних справ Данії

		section.project_features
			.container
				.lead_block
					p.lead
						| Шановні вчителі, директори шкіл та учні! 9 грудня відзначається міжнародний день боротьби з корупцією. Програма розвитку ООН в Україні та проект EdEra підготували серію антикорупційних уроків, які можна провести у вашій школі.
						br
					p.lead
						| На цій сторінці ви знайдете посилання на конкретні уроки, а також усе необхідне для глибшого вивчення теми корупції в Україні та світі. Приєднуйтеся до ініціативи та приємного навчання!

				article
					ul
						li
							| Сценарії та рекомендації педагогу
						li
							| Презентації та відеоматеріали 
						li
							| Гейміфіковане навчання
						li
							| Командні завдання 
						li
							| Робочі аркуші

		#courses.section.four
			.container
				h2 Уроки
				.container
					.course_card
						.figure
							img(src='/img/anticorr/lesson1.jpg', alt='')
							a.button.goto_course(href='/anticorr/lesson1', target='_blank') Перейти до уроку
						h3.course_title Розслідування корупції
						p
							| Мабуть, кожному з нас хоч раз хотілося б спробувати себе у ролі детектива. Завдяки цьому уроку у вас нарешті буде така можливість! Ви дізнаєтесь про антикорупційні інструменти та спробуєте провести власне розслідування!
						p.access.granted Відкрито доступ

					.course_card
						.figure
							img(src='/img/anticorr/lesson2.jpg', alt='')
							a.button.goto_course(href='/anticorr/lesson2', target='_blank') Перейти до уроку
						h3.course_title Що таке корупція?
						p
							| Практика неможлива без теорії. Тому в цьому уроці ми зібрали інформацію про природу та шкоду корупції. А ще — створили декілька кейсів для кращого опанування матеріалу.
						p.access.granted Відкрито доступ

					.course_card
						.figure
							img(src='/img/anticorr/lesson3.jpg', alt='')
							a.button.goto_course(href='/anticorr/lesson3', target='_blank') Перейти до уроку
						h3.course_title Освітній процес 
						p
							| Студентські роки — надважливий етап. Саме в університеті ми часто стикаємося з корупцією вперше. Ви дізнаєтесь про права та обов’язки, студентське самоврядування та отримаєте дієві поради, щоб захиститися від корупції у ВНЗ.
						p.access.granted Відкрито доступ
					// 
					.course_card
						.figure
							img(src='/img/anticorr/lesson4.jpg', alt='')
							a.button.goto_course(href='/anticorr/lesson4', target='_blank') Перейти до уроку
						h3.course_title Викриття 
						p
							| Мета діяльності будь-якого антикорупціонера — реальне покарання для корупціонерів. Проте це неможливо без викриття, тобто висвітлення факту корупції правоохоронним органам чи громадськості. У цьому уроці ви дізнаєтесь про викривачів та їхню діяльність.
						p.access.granted Відкрито доступ

		include ./anticorr-footer.jade

		section.bookshelf
			.container
				h2(style="font-weight: 500;")
					| Звернення
				.book.about
					a.popup-youtube(href='https://www.youtube.com/watch?v=01wF9he8Iss')
						figure
							img.cases(alt='', src='/img/25/video-player.png')
							figcaption
								h3
									| Результати антикор уроків

				.book.about
					a.popup-youtube(href='https://www.youtube.com/watch?v=i9eWqi39bo0')
						figure
							img.cases(alt='', src='/img/25/video-player.png')
							figcaption
								h3
									| Звернення Янтомаса Хімстри 

		include ../includes/footer.jade
		include ../includes/scripts.jade